@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600&display=swap");

/* variables */
$bg-color: #7a7c9d;
$container-color: #ccc;
$btn-color: #ff6f0f;
$font-color: #fff;
$container-margin: 0 7% ;

@mixin d-flex($just, $align) {
  display: flex;
  justify-content: $just;
  align-items: $align;
}

@mixin btn {
  padding: 1rem 2rem;
  border: 1px solid $btn-color;
  border-radius: 1rem;
  background-color: $btn-color;
  color: $font-color;
  &:hover {
    background-color: transparent;
    color: $btn-color;
  }
}

@mixin btn-2 {
  padding: 1rem 2rem;
  border: 1px solid $btn-color;
  border-radius: 1rem;
  background-color: transparent;
  color: $btn-color;
  &:hover {
    background-color: $btn-color;
    color: $font-color;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.4s;
  list-style: none;
  text-transform: capitalize;
  font-family: inter;
}

html {
  font-size: 10px;
}

i {
  font-size: 2.5rem;
}
a {
  color: $font-color;
}

span {
  font-size: 1.8rem;
}
body {
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "header header header"
  "home home home"
  ;

  .header {
    background-color: $bg-color;
    grid-area: header;
    .container {
      margin: 0 7%;
      background-color: $container-color;
      .header-top {
        @include d-flex(space-between, center);

        .h-t-left {
          @include d-flex(flex-start, center);
          gap: 2rem;
        }

        .h-t-right {
          @include d-flex(flex-end, center);
          gap: 1rem;

          .icons {
            display: flex;
            gap: 1rem;
          }
        }
      }

      .header-bottom {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas: "logo navbar btn";
        align-items: center;
        padding: 2rem 0;

        .logo {
          grid-area: logo;
          h2 {
            font-size: 3rem;
            color: $font-color;
            cursor: pointer;
          }

          .h2 {
            color: $btn-color;
            font-size: 3rem;
          }
        }

        .navbar {
          grid-area: navbar;
          padding-right: 3rem;
          ul {
            @include d-flex(flex-end, center);
            gap: 2rem;
            li {
              font-size: 1.8rem;
            }
          }
        }

        .btn {
          grid-area: btn;
          @include btn-2();
          text-align: center;
          width: 75%;
            margin: 0 auto;

          i {
            font-size: 1.8rem;
            align-items: center;
          }
        }
      }
    }
  }
}
