body{
    margin: 0;
}
.conteiner{
    display: grid;
    background-color: bisque;
    padding: 30px;
    /* grid-template-columns: 110px 130px 170px 110px; */
    /* grid-template-columns: auto 150px 200px auto; */

}
.item {
    background-color: blueviolet;
}