.paragraf {
    font-size: 38px;
    font-weight: 700;
    color: brown;

}

.color-paragraf1 {
    color: #ef7513;
}

.color-paragraf2 {
    color: rgba(239,117 ,19 ,0.94 );
   
}
.font-20 {
    font-size: 20px;
}

.width-100 {
    width: 100%;
}

.color-pink {
    color: pink;
}

.box {
    height: 50px;
    width: 250px;
    margin: 10px;
}

.red {
    background-color: red;
    margin-left: 50px;
}
.blue {
    background-color: blue;
    margin-bottom: 30px;
}

.green {
    background-color: green;
    
}

.bg-image {
    height: 200px;
    width: 200px;
    background: url("img1.jpg") no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.border-r {
    border-radius: 5rem;
}

h1 { 
    width: 300px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #48dbfb;
    margin: 0 auto;
}
