body{
    background-color: rgba(110, 85, 123, 0.847);
    background-image: url('https://www.indyturk.com/sites/default/files/article/main_image/2021/02/04/578531-2026990228.jpg');
  
    background-position: center;
    background-repeat: no-repeat; 
}

.profile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 100px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg/250px-Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg')
    
}

.name{
    margin: auto;
    text-align: center;
    font-size: 40px;
}

.description{
    margin: auto;
    padding-top: 100px;
    width: 700px;
    font-size: 20px;
    
}

li{
    font-size: 20px;
    margin-bottom: 10px;
}

.icerik{
    color: rgb(53, 0, 0);
}

.egitim-bilgileri{
    color: rgb(112, 0, 0);
}

.projeler{
    color: rgb(144, 0, 0);
}

.sertifikalar{
    color:rgb(209, 0, 0)
}

table{
    margin: auto;
    margin-top: 100px;
    background-color: rgb(233, 233, 233);
    width: 650px;
}

input{
    background-color:transparent;
}