

$home-font:'Rubik', sans-serif;
$home-header-font: 'Prata', serif;
$home-h3-font: 'Poppins', sans-serif;


h3{
    font-family: $home-h3-font;
    
}

.home-font{
    font-family: $home-font;
}

.header-font {
    font-family: $home-header-font;
    text-shadow: 2px 2px 12px #e0e411;
}


    body {
        .home{
            .arrow{
                position: absolute;
                top: 90%;
                right: 3rem;
                position: fixed;
                z-index: 2;
            } 
        }

        .erkayagrid{ 
            .col{
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-template-areas: "best-seller three-img "
                                     ". opportunity-product"
                ;

                .best-seller{
                    grid-area: best-seller;
                }

                .three-img {
                    grid-area: three-img;  
                }

                .opportunity-product{
                    grid-area: opportunity-product;
                }
            }
        }
    
        
    }



