// $text-light: #777;
// $text-dark: #333;
// Main Color
$main-light: #e7f5ff;
$main-color: #a5d8ff;
$main-dark: #228be6;
// Grey Color
$grey-color: #dee2e6;
$grey-darker: #313437;
$grey-lighter: #f1f3f5;
