.features {
    position: relative;
    height: 230px;
    .container{
        .features-absolute{
            // position: absolute;
            // top: 50%;
            // left: 50%;
            transform: translate(0%, -35%);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75);
            // z-index: 2;
        }
    }

}