@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

.container {
  max-width: 80%;
  margin: 0 auto; }

.team-container {
  display: flex;
  flex-direction: column;
  gap: 3rem; }

.team-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem; }
  .team-top-btn {
    padding: 4px 16px;
    color: #ff6f0f;
    background-color: #ffe9db;
    border-radius: 50rem;
    border: none; }
  .team-top-title {
    font-size: 2.5rem;
    font-family: 'Saira', sans-serif;
    line-height: 1.2;
    font-weight: 700; }

.team-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap; }
  .team-cards .card {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    transition: all 0.6s ease;
    overflow: hidden; }
    .team-cards .card-img {
      background-color: #fff;
      transition: 0.5s; }
      .team-cards .card-img img {
        width: 30rem;
        height: 33rem; }
    .team-cards .card-bottom {
      position: relative;
      height: 80px;
      background-color: #f8f8f9;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      transition: all 0.5s; }
    .team-cards .card-name {
      font-size: 2rem; }
    .team-cards .card-text {
      color: #ff6f0f; }
    .team-cards .card-social {
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center; }
    .team-cards .card:hover {
      background-color: white;
      box-shadow: rgba(255, 172, 28, 0.199) -10px 10px, rgba(255, 172, 28, 0.19) -20px 20px; }
      .team-cards .card:hover .card-social {
        opacity: 1; }
      .team-cards .card:hover .card-img {
        margin-top: -30px; }
      .team-cards .card:hover .card-bottom {
        height: 150px;
        margin-top: -40px; }

.featured-container {
  max-width: 80%;
  margin: 10rem auto; }
  .featured-container ul {
    list-style: none; }
  .featured-container figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem; }
  .featured-container img {
    display: block;
    width: 200px;
    height: 200px;
    background-color: #ededed;
    border-radius: 50%; }
  .featured-container label {
    display: block;
    cursor: pointer; }
  .featured-container a {
    text-decoration: none;
    color: inherit; }

input[type='radio'] {
  position: absolute;
  bottom: 0;
  left: -9999px; }

.featured-wrapper {
  position: relative; }

.featured-wrapper .featured-list {
  display: grid;
  justify-content: center; }

.featured-wrapper .featured-list li {
  grid-column: 1;
  grid-row: 1;
  opacity: 0;
  transition: opacity 0.25s; }

.featured-wrapper .arrows label::before,
.featured-wrapper .arrows label::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-color: white;
  opacity: 0.5;
  transition: opacity 0.25s; }

.featured-wrapper .arrows label::before {
  left: 10px; }

.featured-wrapper .arrows label::after {
  right: 10px; }

.featured-wrapper .dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background-color: #ededed; }

.featured-wrapper .dots li:not(:last-child) {
  margin-right: 8px; }

.featured-wrapper .dots label {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: background 0.25s; }

.featured-wrapper .dots label:hover {
  background: currentColor; }

.thumb-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  margin-top: 20px; }

.thumb-list label {
  display: grid; }

.thumb-list img,
.thumb-list .outer {
  grid-column: 1;
  grid-row: 1; }

.thumb-list .outer {
  display: grid;
  place-items: center;
  transition: background 0.25s; }

.thumb-list .inner {
  font-size: 18px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.25s; }

/* MIMIC CLICK EVENT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[id='image1']:checked ~ .featured-container .featured-list li:nth-child(1),
[id='image2']:checked ~ .featured-container .featured-list li:nth-child(2),
[id='image3']:checked ~ .featured-container .featured-list li:nth-child(3),
[id^='image']:checked ~ .featured-container .arrows [for^='image']:hover::before,
[id^='image']:checked ~ .featured-container .arrows [for^='image']:hover::after {
  opacity: 1; }

[id='image1']:checked ~ .featured-container .arrows [for='image3']::before,
[id='image2']:checked ~ .featured-container .arrows [for='image1']::before,
[id='image3']:checked ~ .featured-container .arrows [for='image2']::before {
  content: '';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow-prev-slideshow.svg); }

[id='image1']:checked ~ .featured-container .arrows [for='image2']::after,
[id='image2']:checked ~ .featured-container .arrows [for='image3']::after,
[id='image3']:checked ~ .featured-container .arrows [for='image1']::after {
  content: '';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow-next-slideshow.svg); }

[id='image1']:checked ~ .featured-container .dots [for='image1'],
[id='image2']:checked ~ .featured-container .dots [for='image2'],
[id='image3']:checked ~ .featured-container .dots [for='image3'] {
  background: currentColor; }

[id='image1']:checked ~ .featured-container [for='image1'] .outer,
[id='image2']:checked ~ .featured-container [for='image2'] .outer,
[id='image3']:checked ~ .featured-container [for='image3'] .outer {
  background: rgba(0, 0, 0, 0.75); }

[id='image1']:checked ~ .featured-container [for='image1'] .inner,
[id='image2']:checked ~ .featured-container [for='image2'] .inner,
[id='image3']:checked ~ .featured-container [for='image3'] .inner {
  opacity: 1;
  transform: none; }

/* Testimonials */
/* .testimonial-container {
  display: flex;
  // position: relative;
  // overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 9.6rem 0;
  gap: 3rem;
  height: 100%;
}
.testimonial {
  &-btn {
    @extend .team-top-btn;
  }
  &-text {
    @extend .team-top-title;
    font-size: 4rem;
  }
}

.carousel-nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  // z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  // appearance: none;
  backface-visibility: hidden;
}

// .carousel-container {
// }

.carousel__nav:checked {
  animation: check 0.4s linear forwards;
}

.carousel-nav:checked:nth-of-type(1) ~ .carousel-inner {
  left: 0%;
}
.carousel-nav:checked:nth-of-type(2) ~ .carousel-inner {
  left: 100%;
}
.carousel-nav:checked:nth-of-type(3) ~ .carousel-inner {
  left: 200%;
}
.carousel-nav:checked:nth-of-type(4) ~ .carousel-inner {
  left: 300%;
}

.carousel-inner {
  width: 400%;
  height: 100%;
  transition: left 0.4s;
  transition: left 0.4s;
  display: flex;
  flex-flow: row nowrap;
}

.carousel-img {
  width: 100px;
  height: 100px;
}

.carousel- .carousel-content {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}
 */
