.cardContainer img{
    width: 18%;
    
}

.cardContainer {
    width: 100%;
    text-align: center;
}


#giris{
    text-decoration: none;
}

#afis{
    width: 20%;
    height: 250px;
}

#afis img {

    height: 100%;
    
   
}
#movies-card{

    padding: 25px;
}


body{
    background-color: rgb(252, 247, 216);
}