@mixin text-style-games-filter(
  $fontFamily,
  $fontSize,
  $fontWeight,
  $fontStrech,
  $fontStyle,
  $lineHeight,
  $letterSpacing
) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  font-stretch: $fontStrech;
  font-style: $fontStyle;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

.multiselect {
  width: 100%;
  margin-bottom: 50px;
}
.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
  background: transparent;
  border: none;
  @include text-style-games-filter(
    GreycliffCF,
    24px,
    600,
    normal,
    normal,
    normal,
    normal
  );
  color: #afafaf;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#web-state,
#web-genre {
  display: none;
  border: none;
}

#web-state label,
#web-genre label {
  display: block;
  display: flex;
  align-items: center;
  margin-top: 24px;
  @include text-style-games-filter(
    GreycliffCF,
    20px,
    normal,
    normal,
    normal,
    1.2,
    normal
  );
  color: #afafaf;

  input {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    accent-color: #76b900;
    background-color: #fff;
  }
}

@media (max-width: 768px) {
  .multiselect {
    margin-bottom: 17px;
  }
  .selectBox select {
    font-size: 18px;
  }
}
