.Features {
  height: 235px;
  background-color: #1e1e1e;
  position: relative;
  display: flex;
  justify-content: center;
  .FeaturesIn {
    width: 997px;
    height: 250px;
    background-color: #1e1e1e;
    padding-bottom: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75);
    z-index: 2;
    top: -75px;
    padding: 60px 0px 62px 60px;
    color: white;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .FeaturesIn {
      width: 997px;
      height: 250px;
      background-color: #1e1e1e;
      padding-bottom: 250px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75);
      z-index: 2;
      top: -75px;
      padding: 60px 0px 62px 60px;
      color: white;
      margin: auto;
      position: absolute;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .FeaturesText {
      width: 200px;
      height: 33px;
      margin: 0 0 15px;
      font-family: GreycliffCF;
      font-size: 28px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #fff;
    }
    .Lorem {
      @extend .FeaturesText;
      height: 48px;
      margin: 15px 0 0;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.5;
    }
    
    .IconFeature1{
      width: 40px;
      height: 40px;
      margin:0 15px 15px 86px;
      object-fit: contain;
    }
    .Bottomden{ margin-bottom: 20px;}
  }
}

@media screen and (max-width: 768px) {
  .Features{
    height: 350px;
    text-align: center;
    .FeaturesIn{
      width: 250px;
      height: auto;
      position: relative;
      left: 20px;
      top: 20px;
      padding: 0px;
      box-shadow: 0 0 0 0;
      .IconFeature1{
        margin:0 10px 15px 0px; 
        width: 30px;
        margin-left: -20px;
        text-align: left;}
        .Bottomden{margin-bottom: 0px;}
    }
  }
}