.money{
    display: flex;
    flex-direction: column;
    padding: 68px 12px 60px 120px;
    background-color: #000000;
}
.moneyH2{
    margin: 0 297px 42px 300px;
    font-family: GreycliffCF;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.greenCard{
    margin: 20px 20px 0;
    padding: 0 0 40px;
    border: solid 5px #76b900;
    background-color: #292929;
    align-content: center;
}
.grayCard{
    padding: 0 0 40px;
    margin: 20px 0 0;
    background-color: #292929;
    align-content: center;
}
.greenHead{
    margin: 0 0 30px;
    padding: 33px 29.5px 34px;
    background-color: #76b900;
}
.grayHead{
    margin: 0 0 30px;
    padding: 33px 30px 34px;
    background-color: #191919;
   
}
.headP{
    font-family: GreycliffCF;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
.mcardP{
    margin: 0 0 30px;
    font-family: GreycliffCF;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
.line{
    width: 326px;
    height: 1px;
    margin: 0 29.5px 34px 30px;
    object-fit: contain;
    border: solid 1px #666666;
}
.element{
    display: flex;
    flex-direction: column;
}
.matter{
    display: flex;
    flex-direction: row;
    margin: 0 77px 30px 74px;
}
.tik{
    width: 16px;
    height: 12px;  
    margin: 4px 24px 0 0;
    object-fit: contain;
}
.grayC{
    justify-self: center;
    font-family: GreycliffCF;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b2b2b2;
}
.greenC{
    font-family: GreycliffCF;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}
.mediumC{
    font-family: GreycliffCF;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
}
@media screen and (max-width: 960px){
    .money{
        padding: 21px 10px 40px 10px;
    }
    .moneyH2{
        margin: 0 0 30px;
        font-size: 21px;
    }
    .greenCard, .grayCard{
        margin: 0 0 16px;
        padding: 0 0 30px;
    }
    .grayHead, .greenHead{
        margin: 0 0 2px;
    }
    .headP, .mcardP{
        margin: 0 0 16px;
        font-size: 21px;
    }
    .mcardP{
        padding: 16px 0 0;
        font-size: 21px;
    }
    .line{
        width: 236px;
        height: 1px;
        margin: 0 21.5px 0;
    }
    .matter{
        margin: 0 33px 16px 21px;
    }
    .grayC, .greenC, .mediumC{
        font-size: 16px;
    }
    .tik{ 
        margin: 4px 16px 0 0;
    }
  }