body{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box{
    background-color: orangered;
    width: 150px;
    height: 150px;
    /* transition: all 10ms ease-in; */
}
.box:hover{
    background-color: brown;
    /* border-radius: 50%; */
    /* transform: scale(2);
    transform: skew(-30deg); */
    /* transform: translateX(100px); */
}