body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 9%, rgba(0,212,255,1) 100%);
}
.inputs {
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 9%, rgba(0,212,255,1) 100%);
}
.card {
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 2%, rgba(0,212,255,1) 15%);
}
.modal-content {
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgb(188, 236, 246) 1%, rgb(188, 236, 246) 15%);
}
#filter{
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 9%, rgba(0,212,255,1) 50%);
}
input{
    height: 50px;
}
input::placeholder{
    text-align: center;
    font-weight: bold;
    font-size: large;
}
input:focus::placeholder {
    color: transparent;
}
textarea:focus::placeholder {
    color: transparent;
}
textarea::placeholder {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

@media (max-width: 900px) {
   .card-group{
    display: flex;
    flex-direction: column;
   }
   .card{
    width: 100%;
   }
   .footer-buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;  
   }
  }
  
