@mixin hover(){
    transition: 0.5s ease-in-out;   
}
.background {
    background-image: url(../asset/polygon-scatter-haikei.svg);  
    background-attachment: fixed;
    background-repeat: no-repeat;   
} 
.card{
     max-width: 940px;
     max-height: 340px;
     background-size: 100% 100%;
}
.baslik{
    max-width: 940px;
}
.search-web{
    max-width: 890px;
    background-color: transparent;
}
.search-web:hover{
    input[type="text"]:hover{
		background-color:white;
	}
    @include hover;
}
.add-plus{
    background-color: transparent;
    color: white;
}
.add-plus:hover{
    background-color:white;
    color: black;
    @include hover;
}