$bottom-slider-bg: #1e1e1e;
$bottom-slider-content-bg: #292929;
.bg-bottom {
  background-color: $bottom-slider-bg;

  &-slider-content {
    background-color: $bottom-slider-content-bg;
  }
}

.carousel {
  &-indicators {
    bottom: 30%;
    left: 13%;
    z-index: 2;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    right: 0 !important;
    gap: 5px;
    justify-content: start !important;

    .active {
      background-color: green !important;
    }

    button {
      border-radius: 50% !important;
      height: 10px !important;
      width: 10px !important;
    }
  }

  &-control-prev-2 {
    left: -45px !important;
  }
  &-control-next-2 {
    right: -45px !important;
  }
}

@media only screen and (max-width: 576px) {
  .carousel-indicators-2 {
    position: absolute;
    bottom: 3% !important;
    left: 40% !important;
    z-index: 2 !important;

    .active {
      background-color: green !important;
    }

    button {
      border-radius: 50% !important;
      height: 15px !important;
      width: 15px !important;
    }
  }
  .h3 {
    font-size: 20px;
  }
  .h6 {
    font-size: 14px;
  }
}

.bottom-slider-text {
  color: #afafaf;
}
