.games-info {
  background-image: url("../../assets/homepage/gfn-motif-background-hero-2560-x-300-d-2-x@3x.jpg");
  background-size: cover;
  background-position: 50%;
  height: 450px;
  h1 {
    font-weight: bold !important;
  }
}

.games-hex {
  height: 60px;
  width: 60px;
  background: #76b900;
  -webkit-clip-path: polygon(
    25% 5%,
    75% 5%,
    100% 50%,
    75% 95%,
    25% 95%,
    0% 50%
  );
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

a {
  text-decoration: none;
  color: #afafaf;
  background: none !important;
  h1 {
    font-size: 16px;
    margin-top: 12px;
    font-weight: normal;
  }
}
