@mixin defaultProperties($fontFamily, $fontSize, $fontWeight, $fontStretch, $fontStyle, $lineHeight, $letterSpacing){
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    font-stretch: $fontStretch;
    font-style: $fontStyle;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}
#registerRow{
    @media screen and (max-width: 600px){
        display: block;
        width: 150%;
    } 
}

#registerHeader{
 color: black;
 @include defaultProperties(GreycliffCF, 28px, bold, normal, normal, normal, normal);
 padding-top: 9%;
 @media screen and (max-width: 600px){
    display: flex;
    color: white;
    width: 150%;
    padding: 0%;
    }
}   
#registerForm{
    display: flex;
    flex-direction: column;  
 
    #NameSurname{
        width: 88%; 
        margin-left: 6%;
        border-radius: 0%;
    }
    #UserName{
        width: 88%; 
        margin-left: 6%;
        border-radius: 0%;
    }
    #PhoneNumber{
        width: 88%;
        margin-left: 6%;
        border-radius: 0%;
    }
    #Email{
        width: 88%; 
        margin-left: 6%;
        border-radius: 0%;
    }
    #DateOfBirth{
        width: 88%; 
        margin-left: 6%;
        border-radius: 0%;
    }
    #Password{
        width: 88%; 
        margin-left: 6%;
        border-radius: 0%;
    }
    #Check1{
        padding: 0%;
        margin-left: 2%;
        margin-right: 2%;   
    }
    #Check1Label{
        @include defaultProperties(GreycliffCF, 13px, bold, normal, normal, normal, normal);
        width: auto;
        padding: 0%;
        color: #b2b2b2;
        @media screen and (max-width: 600px){
            width: 80%;
        } 
    }
    #Check2{
        padding: 0%;
        margin-left: 2%;
        margin-right: 2%;
    }
    #Check2Label{
        @include defaultProperties(GreycliffCF, 12px, bold, normal, normal, normal, normal);
        width: 80%;
        padding: 0%;
        color: #b2b2b2;
    }
    #registerButton{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40px;
        background-color: #b2b2b2;
        p{
            margin-top: 1%;
            color: white;
            font-size: 16px;
        }
        
    }
    @media screen and (max-width: 600px){
        display: block;
        width: 100%;
    } 
}