footer {
    color: #000;
    background: #fff;

    .footer_content{
        max-width: 1220px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 24px 10px;

        .footer_content_left{
            font-size: 16px;
            line-height: 1.38;
            color: #1e1e1e;
            width: 45%;

            ul {
                margin: 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                max-height: 79px;

                li{
                    list-style: none;
                    cursor: pointer;
                    flex-basis: 33%;
                    padding: 2px 0;
                }
            }
        }
        .footer_content_right{
            display: flex;

            .follow_us{
                margin-right: 100px;

                span{
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 1.38;
                    color: #1e1e1e;
                }

                .follow_us_icons{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;
                   
                    img{
                        margin: 5px;
                    }
                }
            }
        }
    }
    .footer_copyright{
        background-color: #1e1e1e;
        color: #fff;
        padding: 0 10px;

        .footer_copyright_content{
            display: flex;
            max-width: 1220px;
            margin: 0 auto;
            justify-content: space-between;
            padding: 10px;
        }

        span{
            margin-right: 20px;
            font-size: 12px;
            font-weight: 600;
            line-height: 1.83;
            color: #fff;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 768px){
        .footer_content {
            flex-wrap: wrap;
            justify-content: center;

            .footer_content_left {
                width: 100%;
                text-align: center;

                ul{
                    max-height: 100%;

                    li{
                        flex-basis: 100%;
                    }
                }
            }
            .footer_content_right {
                justify-content: center;
                text-align: center;
                margin-top: 30px;
                flex-direction: column;
                
                .follow_us{
                    width: 100%;
                    text-align: center;
                    max-width: 110px;
                    margin: 0 auto 30px;
                }
                
            }
        }
        .footer_copyright_content{
            flex-direction: column;
            text-align: center;
        }
        .footer_copyright_content div:first-child{
            display: flex;
            justify-content: center;
            flex-direction: column; 
            margin-bottom: 8px;
        }
    } 
}   