.Available {
  height: 328px;
  background-color: #1e1e1e;
  margin-top: -5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Onallyourscreens {
  height: 38px;
  margin-bottom: 62px;
  padding-top: 15px;
  text-align: center;
  font-family: GreycliffCF;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.Boxs{
  display: flex;
  flex-direction: row;
  justify-content:center;
  flex-wrap: wrap;
}
.Box {
  width: 27%;
  height: 120px;
  margin: 0 19px 0 0;
  padding: 35px 61px 35px 62px;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(to bottom, #656565, #2a2a2a);
  border-image-slice: 1;
  background-image: linear-gradient(to bottom, #1e1e1e, black);
  display: flex;
  flex-direction: row;
}
.İcons {
  width: 30%;
  height: 50px;
  margin: 0 20px 0 0;
  object-fit: contain;
}
.AvailableOf {
  @extend .Onallyourscreens;
  width: 100%;
  text-align: center;
  height: 24px;
  margin: -5px 0 13px 10px;
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 992px) {
  .Onallyourscreens {
    font-size: 21px;
    margin: 0 10px 0 10px;
    margin-bottom: 50px;
  }
  .Box{
    width: 90%;
    height: 60px;  
    padding: 10px 0 0 10px; 
    margin-left: 15px;
     margin-bottom: 10px;
    }
  .AvailableOf{
    font-weight: normal;
    font-size: 16px;
    margin-top: -10px;
    text-align: left;
  }
  .İcons {
    height: 30px;
    margin: 0 0 0 20px;
    object-fit: contain;
  }
}
