@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.6s;
  list-style: none;
  text-transform: capitalize;
  font-family: inter; }

html {
  font-size: 10px; }

i {
  font-size: 2.5rem; }

a {
  color: #fff; }

span {
  font-size: 1.8rem;
  color: #7a7c9d; }

.s-h2 {
  font-size: 4rem;
  margin-bottom: 4.8rem; }

h4 {
  font-size: 1.6rem;
  color: #ff6f0f;
  padding: 0.4rem 1.6rem;
  margin-bottom: 1.6rem; }

body {
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "header header header" "home home home" "about about about"; }
  body .header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: transparent;
    grid-area: header; }
    body .header .container .topheader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 7%;
      border-bottom: 2px solid #01151a; }
      body .header .container .topheader .topheader-l {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem; }
      body .header .container .topheader .topheader-r {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem; }
        body .header .container .topheader .topheader-r .icons {
          display: flex;
          gap: 1rem; }
    body .header .container .header-bottom {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-areas: "logo navbar btn";
      align-items: center;
      padding: 2rem 10%; }
      body .header .container .header-bottom .logo {
        grid-area: logo; }
        body .header .container .header-bottom .logo h2 {
          font-size: 3rem;
          color: #fff;
          cursor: pointer; }
        body .header .container .header-bottom .logo .h2 {
          color: #ff6f0f;
          font-size: 3rem; }
      body .header .container .header-bottom .navbar {
        grid-area: navbar;
        padding-right: 3rem; }
        body .header .container .header-bottom .navbar ul {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 2rem; }
          body .header .container .header-bottom .navbar ul li {
            font-size: 1.8rem; }
      body .header .container .header-bottom .btn {
        grid-area: btn;
        padding: 1rem 2rem;
        border: 1px solid #ff6f0f;
        border-radius: 1rem;
        background-color: transparent;
        color: #ff6f0f;
        text-align: center;
        font-size: 1.6rem;
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 0 0 0 auto; }
        body .header .container .header-bottom .btn:hover {
          background-color: #ff6f0f;
          color: #fff; }
        body .header .container .header-bottom .btn i {
          font-size: 1.6rem;
          align-items: center; }
  body .home {
    background-image: url(https://technext.github.io/chariteam/img/carousel-2.jpg);
    background-size: cover;
    height: 100vh;
    grid-area: home;
    margin-bottom: 3rem; }
    body .home .homebg {
      background-color: #001D23 !important;
      height: 100vh;
      opacity: 0.75;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-areas: ". c-home ."; }
      body .home .homebg .container-home {
        grid-area: c-home;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2rem; }
        body .home .homebg .container-home .h1 {
          color: #fff;
          font-size: 5.6rem; }
        body .home .homebg .container-home .p {
          color: #ccc;
          font-size: 2rem; }
        body .home .homebg .container-home .btn {
          padding: 1rem 2rem;
          border: 1px solid #ff6f0f;
          border-radius: 1rem;
          background-color: #ff6f0f;
          color: #fff;
          font-size: 1.8rem;
          opacity: 1; }
          body .home .homebg .container-home .btn:hover {
            background-color: transparent;
            color: #ff6f0f; }
          body .home .homebg .container-home .btn i {
            font-size: 1.8rem;
            margin-left: 1rem; }
