$semi-gray: #afafaf;
.games-page {
  background: #000;
  .games-container {
    max-width: 1240px;
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
    .categories-container {
      background-color: #1e1e1e;
      word-break: break-all;
      max-width: 398px;
    }
    .aside {
      width: 33%;
      .browse-games {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 40px;
      }
    }
    .game-titles-bg {
      background: #1e1e1e;
    }
    .sort-dropdown {
      text-align: right;
      z-index: 1;
      position: relative;
      margin-bottom: 23px;
      .btn-az {
        background: #1e1e1e;
        text-align: left;
        min-width: 135px;
        padding: 13px 30px !important;
        color: $semi-gray;
        font-weight: 700;
        border: none;
        border-radius: 0;
      }
      .sort-menu {
        background: #1e1e1e;
        min-width: 135px;
        border-radius: 0;
        max-width: fit-content;
        margin-top: 1px;
        box-shadow: 0 4px 12px 0 #000;
      }
      .dropdown-item {
        color: $semi-gray;
        display: block;
        width: 100%;
        padding: 0.25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: initial;
        border: 0;
      }
      .dropdown-item.active {
        color: #fff;
      }
    }
  }
}
.game-card {
  width: 66% !important;
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .btn-az {
    width: 50%;
  }
  .game-card {
    width: 100% !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .game-card {
    width: 60% !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .game-card {
    width: 70% !important;
  }
}
