.hero {
  position: relative;
  width: 100%;
  height: 400px;
}
.games_search {
  position: absolute;
  bottom: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.search-web {
  max-width: 50%;
}
