* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.what-we-do {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: none;
  height: none;
  background-color: none;
  margin: none;
  padding: 48px 12px;
  color: none;
  font-size: none; }
  .what-we-do-first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 133px;
    background-color: none;
    margin: 0px 98px 48px;
    padding: 0px;
    color: inherit;
    font-size: inherit; }
    .what-we-do-first h2 {
      width: 125px;
      height: 32px;
      background-color: #fff0e6;
      margin: 0px 0px 16px;
      padding: 4px 16px;
      color: #ff6f0f;
      font-size: 16px;
      border-radius: 50rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: none; }
    .what-we-do-first h1 {
      width: 500px;
      height: 85px;
      background-color: none;
      margin: none;
      padding: none;
      color: #001d23;
      font-size: 36px;
      text-align: center; }
  .what-we-do-second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px; }
    .what-we-do-second-card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 336px;
      height: 347.7px;
      background-color: none;
      margin: 24px 0px 0px;
      padding: 24px;
      color: #787878;
      font-size: 16px; }
      .what-we-do-second-card img {
        margin-bottom: 24px; }
      .what-we-do-second-card h1 {
        width: 288px;
        height: 27.7px;
        background-color: none;
        margin: 0px 0px 16px;
        padding: 0px;
        color: #001d23;
        font-size: calc(1.275rem + 0.3vw);
        text-align: center; }
      .what-we-do-second-card p {
        width: 288px;
        height: 72px;
        background-color: none;
        margin: 0px 0px 24px;
        padding: none;
        color: #787878;
        font-size: 18px;
        line-height: 1.5;
        text-align: center; }
      .what-we-do-second-card input {
        width: 164.95px;
        height: 46px;
        background-color: white;
        margin: none;
        padding: 6px 16px;
        color: #ff6f0f;
        font-size: 18px;
        text-align: center;
        border-radius: 5px;
        border: 1px solid #ff6f0f; }
        .what-we-do-second-card input:hover {
          background-color: #ff6f0f;
          color: white;
          transition-duration: 0.5s;
          animation-timing-function: ease-in-out; }

.donate-now {
  width: none;
  height: none;
  background-color: #001d23cc;
  margin: 48px 0px;
  padding: 48px 12px;
  color: none;
  font-size: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .donate-now-first {
    width: 582px;
    height: 229.03px;
    background-color: none;
    margin: 48px 0px 0px;
    padding: 0px 24px;
    color: #787878;
    font-size: none; }
    .donate-now-first h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 125.28px;
      height: 32px;
      background-color: #fff0e6;
      margin: 0px 0px 16px;
      padding: 4px 16px;
      color: #ff6f0f;
      font-size: 16px;
      border-radius: 15px; }
    .donate-now-first h1 {
      width: 444px;
      height: 90.06px;
      background-color: none;
      margin: 0px 0px 48px;
      padding: none;
      color: #ffffff;
      font-size: 37.525px; }
    .donate-now-first p {
      width: 444px;
      height: 96px;
      background-color: none;
      margin: none;
      padding: none;
      color: #ffffff80;
      font-size: 16px; }
  .donate-now-second {
    width: 534px;
    height: 378px;
    background-color: #ffffff;
    margin: none;
    padding: 48px;
    color: #787878;
    font-size: none; }
    .donate-now-second-input {
      width: 454px;
      height: 58px;
      background-color: #f8f8f9;
      margin: 16px 0px 0px;
      padding: 0px 8px;
      color: #787878;
      font-size: 16px;
      border: 0px;
      border-radius: 5px; }
      .donate-now-second-input:hover {
        border: 1px solid #dc3545; }
    .donate-now-second-value {
      display: flex;
      width: 454px;
      height: 58px;
      background-color: #f8f8f9;
      margin: 16px 0px 0px;
      padding: 0px 8px;
      color: #787878;
      font-size: 16px; }
      .donate-now-second-value input {
        width: 145.34px;
        height: 58px;
        background-color: #f9f9fa;
        margin: 0px 0px 0px -1px;
        padding: 16px 12px;
        color: #000000;
        font-size: 16px;
        border: 0;
        transition-duration: 0.5s;
        animation-timing-function: ease-in-out; }
        .donate-now-second-value input:hover {
          color: #ff6f0f;
          border: 1px solid #ff6f0f; }
      .donate-now-second-value-1 {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; }
      .donate-now-second-value-3 {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
    .donate-now-second-button {
      width: 454px;
      height: 58px;
      background-color: #f8f8f9;
      margin: 16px 0px 0px;
      padding: 0px 8px;
      color: #787878;
      font-size: 16px; }
      .donate-now-second-button-yapi {
        width: 236.11px;
        height: 60px;
        background-color: #ff6f0f;
        margin: none;
        padding: 6px 48px;
        color: #ffffff;
        font-size: 16px;
        border-radius: 5px;
        border: 0;
        transition-duration: 0.5s;
        animation-timing-function: ease-in-out; }
        .donate-now-second-button-yapi:hover {
          background-color: white;
          color: #ff6f0f;
          border: #ff6f0f 1px solid; }
