* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
/* html::-webkit-scrollbar {
  width: 20px;
  background-color: rgb(148, 44, 44);
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}
html::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #dac2c2; */

h6 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5em;
  color: #e76d3d !important;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.7em;
  color: rgb(41, 39, 36);
}
p {
  font-size: 1rem;
  line-height: 1.4em;
}
.background-img {
  background: url("office.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  width: 100%;
  height: 45rem;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: -1;
}
.main-logo {
  display: flex;
  align-items: center;
}
.sticky {
  position: sticky;
  top: 0;
}

.main-nav {
  height: 8vh;
  color: rgb(24, 23, 94);
  display: flex;
  justify-content: space-between;
  z-index: 4;
  margin: auto 2rem;
}

.main-nav-items li {
  display: inline-block;
  margin: 20px 12px;
  padding: 12px 0px;
  justify-content: flex-end;
  font-size: 1.2rem;
  cursor: pointer;
}

.main-nav-items li:hover {
  border-bottom: 1px solid rgba(6, 9, 29, 0.767);
}

.social-icons {
  display: flex;
  align-items: center;
}
.social-icons li {
  display: inline-block;
  margin: 2px;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}
.social-icons li :hover {
  background-color: rgb(224, 164, 52);
}

.fa {
  color: rgb(0, 0, 0);
  font-size: larger;
  background-color: rgb(209, 206, 191);
  padding: 0.7rem;
  border-radius: 50%;
  margin: auto 0;
}
.main {
  height: 35rem;

  display: flex;
  flex-direction: column;
  margin-left: 8rem;
}
.main-logo {
  margin-right: 2rem;
}
.main h1 {
  font-size: 42px;
  line-height: 1.5;
  padding: 2rem;
  letter-spacing: 0.2px;
}
.main p {
  font-size: 20px;
  padding: 1rem 2rem;
}

.btn {
  text-decoration: none;
  display: inline-block;
  background-color: rgb(224, 164, 52);
  color: #fff;
  border: 1px solid rgb(231, 221, 221);
  padding: 1rem 1.5rem;
  margin: 1.5rem 2rem;
  width: 125px;
  border-radius: 20px;
}

.btn:hover {
  background-color: rgba(233, 157, 17, 0.603);
}
.menu-bar {
  display: flex;
  align-items: center;
  margin: auto 2rem;
  padding: 20px;
  display: none;
}
.menu-bar button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.fa-solid {
  font-weight: 800;
  font-size: 1.8rem;
  color: rgb(13, 13, 39);
}
.section-a {
  background-image: linear-gradient(
    rgb(226, 222, 222),
    rgba(108, 151, 153, 0.925)
  );
}

.container-a {
  display: flex;
  padding: 2rem;
  gap: 3rem;
  margin: 0 3rem;
  flex-wrap: wrap;
}

.container-b .container-c {
  margin: auto 5rem;
  display: flex;
}

.main-a {
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  padding: 2rem;
}
.main-a p {
  width: 300px;
}
.container-b {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.main-b {
  height: auto;
  padding: 100px 0;
  margin: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects {
  height: auto;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
}
.project {
  width: 250px;
  height: 250px;
  margin: 2rem;
  border-radius: 45px;
  background-color: rgb(231, 195, 76);
  box-shadow: rgb(62, 73, 85) 30px 40px 30px -15px;
}
.h-4 {
  padding: 2rem 2rem;
  margin: auto;
  display: none;
}
.project:hover {
  background-color: rgb(255, 195, 122);
  scale: 1.2;
}
.project:hover::after .h-4 {
  display: block;
}
.main-c {
  padding: 100px 0;
  margin: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prices {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.price {
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
  width: 350px;
  height: 450px;
  padding: 100px 30px;
  background-color: antiquewhite;
  border-radius: 45px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: background-color;
}
.price-title {
  line-height: 1.2em;
  margin-bottom: 60px;
  line-height: 3em;
}
.price:hover {
  box-shadow: rgb(29, 44, 61) 0px 20px 30px -15px;
  transform: scale(1.2);
  background-color: rgba(240, 159, 54, 0.863);
  color: #fff;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10rem;
  align-items: center;
  background-color: rgb(12, 12, 44);
}
footer h4 {
  font-size: 1rem;
  color: white;
}
