.web-carousel {

    p{
       
    }
   
    .slider{
   

        button{
            height: 16px;
            width: 16px;
            background-color: #666666;
            margin-right: 5px;
            border-radius: 50%;
        }
        .active{
            background-color: #76b900;
           
        }
    }
    

    .lefticon{
      margin: auto 0;
      margin-left: 30px;
      z-index: 2;
    }
    .righticon{
        margin: auto 0;
        margin-right: 30px;
        z-index: 2;
    }
    .carousel-inner{
        .carousel-item{
           

            .carousel-caption{
                left: 9%;
                
                p{
                    margin-bottom: 30px;
                    
                }
            }
        }
    }
}

.mobil-carousel{
    h2{
        font-size: 24px;
    }
    p{
        line-height: 24px;
    }
    .slider{
   

        button{
            height: 16px;
            width: 16px;
            background-color: #666666;
            margin-right: 5px;
            border-radius: 50%;
        }
        .active{
            background-color: #76b900;
        }
    }
}