body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* düzenleme yapabilirim */

.container {
  height: 100vh;

}

.link{
  text-decoration: none;
}

/* navbar */
.navbar .cart {
  position: relative;
} 
.navbar .cart .count {
  position: absolute;
  top: -5px;
  right: 0;
  color: white;
} 

/* sign up */

.signup input:focus  {
  background-color: black!important;
  color: white;
  opacity: 0.8;
}