$header-color: rgb(37, 48, 48);
$base-color: rgb(224, 183, 46);
$bg-text: rgba(105, 97, 70, 0.377);
$bgdark: rgba(24, 16, 24, 0.918);
$bgcolorprimary: #ecd44a;
$bgsecondary: hsla(251, 65%, 13%, 0.774);
$textcolor: rgba(15, 28, 112, 0.918);
$warning: $bgcolorprimary;
$primary: $bgsecondary;
$dark: $bgdark;
$header-text: rgba(233, 240, 221, 0.877);
