.gamesgeneralcontainer{
    .browseheader{
        margin-left: 170px;
    }
    .searchpart{
        color: white;
        position: absolute;
        display: flex;
        justify-content: center;
        margin-top: 200px;
        flex-direction: column;
        align-items: center;
        .searchinput{
            margin-top: 5px;
            width: 634px;
            height: 56px;
        }
    }
    background-color: #000000;
    select{
        background-color: #1e1e1e;
        color: white;
        font-size: 20px;
        margin-right: 255px;
        margin-top: 51px;
        font-family: GreycliffCF-DemiBold;
        padding: 10px;
        border-radius: 0;
        width: 151px;
        height: 56px;
        option{
            padding: 10px;
        }
        
    }
    .gamescontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        .games__box{
            background-color: #1e1e1e;
            width: 794px;
        }
    }
    .space{
        height: 30px;
        background-color: #000000;
    }
    .browse{
        background-color: #1e1e1e;
        width: 500px;
        height: 650px;
        margin-top: 29px;
        .browse__input{
            width:  24px;
            height: 24px;
            margin-right: 20px;
        }
    }    
}

@media screen and (max-width:768px) {
    .games__box{
        width: 340px !important;
    }
    .searchinput{
        width: 223px !important;
        margin-bottom: 1500px;
    }
    .browse{
        width: 340px !important;
    }
    .responsive__header{
        margin-top: 350px;
    }
    .browseheader{
        margin-left: 15px !important;
        margin-right: 150px;
    }
    
}
