*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body{

    background-color: lightblue;
    .row-container{
        .pushList{
            .summary{
                max-height: 200px;
                overflow-y: scroll;
            }
        }

    }
    .img{
        overflow: hidden;
        padding: 0 !important;
        

        img{
            transition: all 0.5s;
            object-fit: cover;
            
        }
        img:hover{
            scale: 1.2;
        }
    }
    
} 