/* .profile-card {
  height: 100%;
  margin: auto;
  background-color: rgb(122, 175, 245);
  width: 80%;
}
.picture {
  background-color: blanchedalmond;
  width: 200px;
  height: 200px;
  background-size: cover;
}
.name {
  font-size: 25px;
  font-weight: 14px;
}
.h1 {
  color: black;
  font-size: 20px;
  text-align: center;
}
.profile-picture {
  height: 120px;
  width: 120px;
  margin-top: 70px;
  border-radius: 50%;
}
.margin-2 {
  margin-left: 25px;
}

.form {
  height: 40%;
  background-color: rgb(226, 218, 208);
} */

.profile {
  color: (white);
  width: 100%;
  height: 100%;
  background-color: black;
  /* background-image: linear-gradient(
    rgba(144, 180, 226, 0.733),
    rgb(54, 54, 87)
  ); */
}

h1 {
  color: white;
  font-size: 35px;
}
.h2 {
  font-size: 45px;
  color: rgb(238, 236, 232);
}
.padding-30 {
  padding: 30px;
}
.margin-2 {
  margin: 20px;
}
.profile-cont {
  background-image: url("background1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 300px;
  opacity: 0.8;
  color: rgba(58, 52, 46, 0.479);
}
.cont {
  margin-left: 45%;
  color: black;
}

.profile-img {
  width: 170px;
  border-radius: 45%;
  vertical-align: auto;
}
.profile-main {
  background-image: linear-gradient(rgb(96 136 145 / 44%), rgb(0 0 0 / 1%));
  text-align: center;
  margin: auto;

  color: rgba(233, 233, 235, 0.877);
}
.profile-inf {
  color: rgb(227 208 208);
  width: 900px;
  vertical-align: center;
  opacity: 0.4;
  margin: auto;
  text-align: center;
  border-radius: 2%;
}
.my-project {
  width: 100%;
  background-image: linear-gradient(172deg, black, #0c0224);
}
.width-30 {
  width: 12px;
}

.prj {
  width: 270px;
  height: 280px;
  background-color: rgb(96 104 93 / 61%);
  display: inline-block;
  padding: 18px;
  text-align: center;
  margin: 5px 50px;
  color: rgb(227 208 208);
}

img {
  width: 250px;
  height: 250px;
  border: 3px rgb(255, 225, 225) solid;
}
h1,
h2 {
  padding: 30px 70px;
  color: rgb(162 192 251);
}

.about {
  width: 100%;
  height: 150px;
  background-image: linear-gradient(55deg, black, #231840ab);
  line-height: 3px;
  text-align: center;
  padding: 2px 0;
}
.about-inf {
  width: 45px;
  height: 17px;
  padding: 12px;
  background-color: rgba(120, 115, 122, 0.822);
  margin: auto 20px;
  color: bisque;
}
label {
  color: aliceblue;
  font-weight: 45px;
}
input[type="text"],
input[type="email"],
textarea {
  width: 200px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 2px 6px;
}

.form {
  padding: 2px;
  text-align: center;
  background-image: url("glxy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.submıt {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(80, 102, 136);
  cursor: pointer;
  margin: 10px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  background-color: rgb(238 236 232);
}
.submıt a {
  color: rgb(80, 102, 136);
}
