#container {
  background-color: rgb(236, 236, 112);
}
.paragraf {
  color: rgb(147, 252, 252);
  font-size: 30px;
}
.paragraf-1 {
  font-size: 25px;
  color: rgb(175, 138, 209);
}
.with100 {
  width: 100%;
}
.with50 {
  width: 50%;
}
.colorGreen {
  background-color: green;
}
.colorPink {
  background-color: pink;
}
.pad-20 {
  padding-left: 20px;
}
