.nav-bg-color{
    background-color: #e28743;
}
.bg-color{
    background-image: linear-gradient(to right, #e28743, #eab676);
}
.footer-bg-color{
    background-image: linear-gradient(to top, #3f1e17, #e66627);
}