*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    transition: all 0.3s;
    text-transform: capitalize;
}
@mixin tex($color, $fontsize, $texta){
    color: $color;
    font-size: $fontsize;
    text-align: $texta;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
                         "about about about"
                         "feat feat feat"
                         "what what what"
                         "donate donate donate"
                         "team team team"
                         "test test test"
                         "footer footer footer";
    header{
        grid-area: header ;
        background-image: linear-gradient(
            to bottom,
            rgba(29, 29, 44, 0.8),
          rgba(29, 29, 44, 0.8)
        ), url(https://technext.github.io/chariteam/img/carousel-1.jpg);
        background-size: cover;
        .info{
            display: flex;
            justify-content: space-between;
            padding: 1%;
            @include tex(rgb(163, 163, 163),19px,center);
            div{
                display: flex;
                gap: 15px;
            }
        }
        
        .navbar{
            @extend .info;
           div{
            p{
                @include tex(orange,50px,center)
            }
           } 
            ul{
                @extend .info;
                align-items: center;
                gap: 10px;
                button{
                    color: orange;
                    padding: 10px 20px;
                    background-color: Transparent;
                    border-color: orange;
                    border-radius: 10px;
                    cursor:pointer;
                    &:hover{
                        color: white;
                        background-color: orange;
                    } 
                }
            }
        }
        .main{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 16%;
            gap: 20px;
            h1{
                @include tex(white, 50px, center)
            }
            p{
                @include tex(rgb(177, 177, 177), 20px, center)
            }
            button{
                color: white;
                padding: 10px 20px;
                background-color: orange;
                border-color: orange;
                border-radius: 10px;
                cursor:pointer;
                &:hover{
                    background-color: transparent;
                    color: orange;
                }
            }
        }
    }
    about{
        grid-area: about;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        h2{
            margin-left: 10%;
            margin-bottom: 2%;
            background-color: rgb(255, 234, 195);
            padding: 10px;
            border-radius: 20px;
            font-size: 20px;
        }

        .mini{
            background-image: url("https://technext.github.io/chariteam/img/about-2.jpg");
            border: 7px solid white;
            padding: 8%;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            left: 29%;
        }
        div{
            display: flex;
            .big{
                background-image: url("https://technext.github.io/chariteam/img/about-1.jpg");
                padding: 25% 20%;
                background-size: cover;
                background-repeat: no-repeat;
                margin: 0px 0px 0px 60px;
            }
            .text{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 20px;
                h3{
                    @include tex(black, 60px, center)
                }
                p.tab{
                    margin: 0px 120px 0px 120px;
                    padding: 20px;
                    background-color: rgb(245, 245, 245);
                    border-radius: 20px;
                    @include tex(black, 20px, start)
                }
                p.open{
                    margin: 0px 100px 0px 120px;
                    @include tex(grey, 20px, start)
                }
                .button1{
                    color: white;
                    padding: 10px 20px;
                    background-color: orange;
                    border-color: orange;
                    border-radius: 10px;
                    cursor:pointer;
                    &:hover{
                        background-color: transparent;
                        color: orange;
                    }
                }
                .button2{
                    color: orange;
                    padding: 10px 20px;
                    background-color: Transparent;
                    border-color: orange;
                    border-radius: 10px;
                    cursor:pointer;
                    &:hover{
                        color: white;
                        background-color: orange;
                    } 

                }
            }   
        }
    }
}
