html {
  height: 100%;
}
body {
  background-color: rgb(
    34,
    105,
    150
  ); /* For browsers that do not support gradients */
  background-image: linear-gradient(
    90deg,
    rgb(0, 225, 255),
    rgb(36, 122, 226),
    rgb(34, 105, 150)
  );
}
* {
  box-sizing: border-box;
}

.header {
  padding: 20px;
  padding-left: 40%;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
  margin-left: 20px;
  align-items: center;
}
a {
  color: black;
  font-size: 16px;
  text-decoration: none;
}
.content a {
  padding: 10px;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 300px;
}

.footer {
  height: 70px;
  width: 25%;
  margin-right: 20px;
  clear: both;

  padding-left: 275px;
}
.footer .social {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 160px;
  padding-top: 30px;

  display: flex;
  flex-wrap: nowrap;
  margin-left: 200px;
  margin-top: 10px;
}
.footer .social button {
  margin-right: 10px;
}

.icerik1 {
  width: 25%;
  margin: 10px;
  float: left;
  background-color: aquamarine;
  padding-left: 13px;
  padding-top: 8px;
  padding-right: 10px;
  border: 3px solid rgb(210, 152, 140);
  border-radius: 10px;
  cursor: pointer;
  list-style: none;
}
.icerik2 {
  width: 25%;
  margin: 10px;
  float: left;
  background-color: aquamarine;
  padding-left: 13px;
  padding-top: 8px;
  padding-right: 10px;
  border: 3px solid rgb(210, 152, 140);
  border-radius: 10px;
  cursor: pointer;
  list-style: none;
}
.icerik3 {
  width: 25%;
  margin: 10px;
  float: left;
  background-color: aquamarine;
  padding-left: 13px;
  padding-top: 8px;
  padding-right: 10px;
  border: 3px solid rgb(210, 152, 140);
  border-radius: 10px;
  cursor: pointer;
  list-style: none;
}
.kategori {
  border: 1px solid tan;
  border-radius: 12px;
  background-color: tan;
  color: black;
  clear: left;
}
.wrap .header a {
  text-decoration: none;
  color: pink;
  display: inline-block;
  text-align: center;
}

.kucukResim {
  border-radius: 50%;
  float: left;
}

.yazarIsmi {
  float: right;
  padding-right: 120px;
  padding-top: 10px;
}

.resimYani {
  float: right;
}
.content img {
  float: left;
  margin-bottom: 10px;
}
