.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    background-color: rgb(102, 99, 99);
    grid-template-areas: "header header header"
                        "sidebar content content"
                        "sidebar . ."
                        "box-1 box-1 box-1"
                        ;
}      

.header {
    background-color: blue;
    grid-area: header;
}

.content {
    background-color: brown;
    grid-area: content;
}

.sidebar {
    background-color: aqua;
    grid-area: sidebar;
}

.box-1 {
    background-color: cornflowerblue;
    grid-area: box-1;
}