.footer .container{
    background-color: #292929;
}

/* .container-fluid{
    background-color: #1e1e1e;
}
.container{
    background-color: #292929;
}
.row{
    background-color: #1e1e1e;
}
.paragraph{
   transform: translateX(-30%);
}
.gaming{
    font-size: 16px;
    color: #afafaf;
}
.loremip{
    font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #afafaf;
}
#under {
    font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #afafaf;
} */
