.con-1{
    height: 14.688rem;
}
.con-2{
    height: 20.5rem;
}
.bg-color-white {
    width: 997px;
    height: 250px;
    margin: 0 222px 60px 221px;
    padding: 65px 60px 62px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75);
    background-color: var(--dark-grey);
  }
  .Rectangle {
    width: 386px;
    height: 120px;
    margin: 0 0 0 19px;
    padding: 35px 87px;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to bottom, #656565, #2a2a2a);
    border-image-slice: 1;
    background-image: linear-gradient(to bottom, var(--dark-grey), var(--black));
  }
.movielist{
  h2{
    padding-top: 4.25rem;
    padding-bottom: 1rem;
    color: #76b900;
  }
}
.carousel-control-prev-icon {
  background-image: url('../../image/icon-arrow-left@2x.png');
}
.carousel-control-next-icon {
  background-image: url('../../image/icon-arrow-right@2x.png');
}
.carousel-indicators{
  position: relative;
  transform: translate(-25,30);
}
.carousel-indicators [data-bs-target] {
  border-radius: 6.25rem;
  height: 0.1rem;
 
}
.carousel-caption {
  position: relative;
  transform: translate(-30%,-400%);
 
}
.slide{
  padding: 0.35rem;
}

/* slider effect */
.slider-wrapper::before,
.slider-wrapper::after
{
  background: linear-gradient(to right,rgba(255,255,255,1) 0%,rgba(255, 255, 255, 0) 100% ) ;
  position: absulete;
  content: '';
  z-index: 2;
}
.slider-wrapper::before{
  left: 0;
  right: 0;
}
.slider-wrapper::after{
  right: -2px;
  top: 0;
  transform: rotate(180deg);
}

.slider-track{
  display: flex;
  animation: slidescroll 20s linear infinite;
}
.slider-track-second{
  display: flex;
  animation: slidescroll 40s linear infinite;
}
.slider-track-third{
  display: flex;
  animation: slidescroll 50s linear infinite;
}
@keyframes slidescroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px*10));
  }
}
.slider-track:hover{
  animation-play-state: paused;
}
.slide img:hover{
  transform: translateZ(200px);
}
.carousel-item{
  img{
    width: 387px;
    height: 387px;
    margin: 0 0 0 42px;
  }
}
.rectangle-carousel{
  col{
    background-color: #292929;
  }
}