body{
    background: linear-gradient(to left,#fa2a2a,#f6f1f1);
}
.card{
    float: left;
    width: 25%;
    height: 650px;
    border-radius: 30px;
    margin-left: 6%;
}
.bjk{
    
    background: linear-gradient(to bottom,#0f0000,#f6f1f1);
    
}
.fb{
    
    background: linear-gradient(to bottom,#dada1e,#2417b1);
    
}

.gs{
    
    background: linear-gradient(to bottom,#d21d1d,#cbd626);
    
}


.resim{
    display: block;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.button{
    background-color: #fa2a2a;
    border-radius: 20%;
    margin-left: 20px;
    padding: 10px;
}

h1,h2{
    font-size: 40px;
    text-align: center;
}

header{
    margin-bottom: 5%;
}



p{
    font-size: 25px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sembol{
    margin-bottom: 1px;
    font-size: 18px;


}

.foots{
    margin-top: 60px;
    margin-right: 15%;
}

.nav ul{
    justify-content: center;
    gap: 70px;
    display: flex;
}
footerss {
    text-align: center;
    padding: 100px;
    background-color: DarkSalmon;
    color: white;
  }