.paragraf{
    font-size: 24px;
}

@media only screen and (max-width: 768px) {
    .paragraf{
        font-size: 24px;
    }
    div{
        color: aliceblue;
    }
}

/* Pseudo Class */

.link{
    font-size: 18px;
    text-decoration: none;
}

li:nth-child(1,2,3,4,5,6){
    color: red;
}