$color :red;

h2
{
  color:$color;
}


.container
{
  display:flex;
}

@mixin deneme($color)
{
  background-color:$color;
  margin: 10px;
}


.box1
{
  width:100px;
  height:100px;
  @include deneme(green);
}
.box2
{
  @extend .box1;
}
.box3
{
   @extend .box1;
}