* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.section {
    padding: 100px;
}

.Eight {
    background-color: #f8f9fc;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.sectionHeader {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.header1 {
    color: #ff5714;
    font-size: 15px;
    font-weight: 600;
}

.header2 {
    font-weight: 600;
    font-size: 28px;

}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Roboto Slab', serif;
}

.launchPrg {
    color: #8492a6;
    line-height: 1.6;
}

.teamCards {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 25px;
}

.profileCard {
    border-radius: 5px;
}

.profileCardP {
    width: 261px;
    height: 261px;
    border-radius: 5px;
}

.Numbers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 1119px;
    margin-top: 60px;
}

.column {
    text-align: center;
    width: 261px;
}

.columnSpan {
    font-size: 30px;
}

.columnSpan2 {
    color: #8492a6;
}

.Partners {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.partnersBetween {
    display: flex;
    justify-content: space-around;
    width: 1140px;
}

.partnerLogo {
    height: 25px;
}

.blogCards {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 25px;
}

.newsCard {
    width: 356px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(36 39 44 / 15%)
}

.cardHeader {
    width: 356px;
    border-radius: 5px 5px 0px 0px;
}

a {
    text-decoration: none;

}

.font18 {
    color: #24272c;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.font18:hover {
    color: #ff5714;

}

.cardBody {
    padding: 30px 20px;
}

.readMore {
    display: block;
    margin-top: 20px;
    color: #24272c;
}

.readMore:hover {
    color: #ff5714;
}

.Ten {
    background-color: #f8f9fc;
}

.contactForm {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.formArea {
    background-color: white;
    display: block;
    height: 360px;
    width: 736px;
    border-radius: 5px;
}

.form {
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
}

.formBetween {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.fiftyPercent {
    width: 50%;
}

.width100 {
    width: 100%;
}

.formInput {
    border: 1px solid #dee2e6;
    font-size: 14px;
    background-color: #fff;
    border-radius: 6px;
    padding: 10px;
}

.submit {
    padding: 12px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 6px;
    background-color: #ff5714;
    color: #fff;
    outline: none;
    border: none;
}

.Contact {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactOptions {
    display: flex;
    gap: 20px;
}

.icon {
    padding: 5px;
}

.contactMember {
    font-size: 18px;
}

.dscrptn {
    color: #8492a6;
}

.footer {
    background-color: #202942;
}

.footerBar {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 250px;
}

.footerColumn {
    text-align: center;
    color: #adb5bd;
}

.list {
    list-style: none;
    display: flex;
    gap: 5px;
}

.listElement {
    border: 1px solid #283353;
    border-radius: 5px;
    padding: 5px;
    color: #adb5bd;
}

.listElement:hover {
    background-color: #ff5714;
}