.paragraf{
    font-size: 24px;
}
@media only screen and (max-width: 768px) {
        .paragraf{
            font-size: 14px;
        }
        div{
            color:antiquewhite ;
        }
}
       
    
/* Pseudo Class */
.link{


font-size: 18px;
text-decoration: none;
}


