* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  
  
  /* Ercan Yesil */
  
  /* Tablet */
  @media (max-width: 768px) {
    
  }
  /* Mobil */
  @media (max-width: 500px) {
    
  }
  
  
  /* portfolio */
  
  .portfolio-banner{
    width: 100%;
    padding: 100px 0;
    background-color: #f8f9fc ;
  }
  
  .portfolio-container{
    width: 100%;
    margin: auto;
  }
  
  .portfolio-header{
  display: flex;
  height: 168px;
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  
  .portfolio-header-item{
    padding-bottom: 10px; 
  }
  
  .portfolio-header-item h3{
    color: #ff5714;
    font-weight: 600;
    text-transform: uppercase; 
  }
  
  .portfolio-header-item p{
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none solid rgb(132, 146, 166);
    text-align: center;
    max-width: 600px;
    color: #8492a6;
    margin: auto;
  }
  
  .portfolio-content{
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
    row-gap: 12px;
    margin: auto;
  }
  
  .portfolio-content-card{
    background: radial-gradient(#111 50%,#000 100%);
    overflow: hidden;
    position: relative;
    border-radius: 3%;
  }
  .portfolio-content-card .portfolio-image{
    transform: scale(1.3);
    transition: all 0.3s ease-out;
  }
  
  .portfolio-image{
    width: 261px;
    height: 195px;
    max-width: 100%;
    display: block;
  }
  
  .portfolio-image-radius{
    border-radius: 3%;
  }
  
  .portfolio-content-card:hover .portfolio-image{
      transform: scale(1.1); /*translateY(-20px); */
      opacity: 0.3;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease;
      transition-delay: 0s;
  }
  
  .info{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    color: #fff;
    font-size: 18px;
  }
  
  .info h1{
  font-weight: 700;
  font-size: 32px;
  margin: 0 0 20px;
  opacity: 0;
  transition: all 0.3s ease-out;
  }
  
  .info p{
    opacity: 0;
    transition: all 0.3s ease-out 0.2s;
  }
  
  .info a{
    color: #fff;
    background: #ff5714;
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease-out 0.4s; 
  }
  
  .info a:hover{
  background: rgb(177, 73, 3);
  }
  
  .portfolio-content-card:hover .info h1{
    opacity: 1;
  }
  .portfolio-content-card:hover .info p{
    opacity: 1;
  }
  .portfolio-content-card:hover .info a{
    opacity: 1;
  }
  
  
  
  /* invitation */
  
  .invitation-banner{
    background: url("https://shreethemes.in/upstart/layouts/images/bg/cta.png") center;
    width: 100%;
    height: 380px;
    box-shadow: inset 0 0 0 200rem rgba(0, 0, 0, 0.5);
  }
  
  .invitation-container{
    display: flex;
    /* width: 1116px; */
    height: 380px; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 200rem rgba(0, 0, 0, 0.5);
  }
  
  .invitation-container-item{
    padding-bottom: 10px;
  }
  
  .invitation-container-item h3 {
    font-size: 36px;
    color: white;
  }
  
  .invitation-container-item p {
    color: #8492a6;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
  }
  
  .invitation-container-item a {
    padding: 8px 25px;
    border-radius: 6px;
    background-color: #ff5714;
    border: 1px solid #ff5714;
    color: #fff;
    text-decoration: none;
    display: block; 
  } 
  
  
  
  
  /* plans */
  
  .plans-banner{
    width: 100%;
    height: 828px;
    padding: 100px 0;
    font-family: Roboto,sans-serif;
  }
  
  .plans-container{
    width: 100%;
  }
  
  .plans-header{
    display: flex;  
    height: 168px;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .plans-header-item{
    padding-bottom: 10px; 
  }
  
  .plans-header-item h3{
    color: #ff5714;
    font-weight: 600;
    text-transform: uppercase; 
  }
  
  .plans-header-item p{
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none solid rgb(132, 146, 166);
    text-align: center;
    max-width: 600px;
    color: #8492a6;
    margin: auto;
  }
  
  .plans-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  
  .plans-content-card{
    display: flex;
    width: 380px;
    height: 435px;
    padding: 48px 24px 48px 24px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #faecec;
    border-radius: 5px;
  }

  .plans-content-card:hover{
    box-shadow: 0 0 20px rgb(36 39 44 / 15%);
    transition: all 0.5s ease-out;
    margin-top: -4px;
  }

  .plans-content-card h3{
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    text-transform: uppercase;
  }
  .plans-content-card-item{
    display: flex;
  }
  .plans-content-card-item span{
    font-size: 42px;
    font-family: 'Roboto Slab', serif;
    color: #24272C;
    font-weight: 600;
  }
  .plans-content-card-item span sup,sub{
    font-size: 18px;
  }
  
  .plans-content-card-list{
    list-style: none;
  }

  .plans-content-card-list span{
    vertical-align: middle;
    color: #8492a6;
  }

  .plans-content-card-list li{
    color: #8492a6;
    margin-bottom: 8px;
  }

  .plans-content-card a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ff5714;
    background-color: rgba(255,87,20,0.1) ;
    border: 1px solid rgba(255,87,20,0.1) ;
    border-radius: 10px;
    padding: 10px;
  }

  .plans-content-card a:hover{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #ff5714;
    
  }

  .svg-size{
    width: 18px;
    height: 18px;
  }
  
  /* @media (min-width: 992px)
  .col-lg-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
  }
  
  @media (min-width: 768px)
  .col-md-6 {
      flex: 0 0 auto;
      width: 50%; */
  
  
      
    
  
  
  
      /* transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease;
      transition-delay: 0s; */
  
      /* box-shadow: 5px 5px 10px black; */
  
      /* box-shadow: 0 0 3px rgb(36 39 44 / 15%) */
  