.logitech-banner {
  background: url("../assets/modules-banner-5-logo.png");
  width: 1440px;
  height: 310px;
  object-fit: contain;
}
@media screen and (max-width: 320px) {
  .logitech-banner {
    background: url("../assets/modules-mobile-banner-2-logos.png");
    width: 320px;
    height: 237px;
    object-fit: contain;
  }
}
