body {
    display: grid;
    justify-content: center;
    align-items: center;
}

.main {
    width: 820px;
}

.container {
    display: grid;
    grid-template-columns: 260px 260px 260px;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    gap: 20px;
}

.item {
    width: 260px;
    background-color: darkred;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item img {
    width: 260px;
    height: 200px;
}

.item h4 {
    padding-left: 10px;
    color: gray;
}

.item h5 {
    width: max-content;
    padding: 5px;
    margin-left: 5px;
    border-radius: 10px;
    color: whitesmoke;
    background-color: black;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(1, 260px);
    }
    .main {
        width: 100%;
    }
}