/* .paragraf {
  font-size: 24px;
} */

/* @media only screen and (max-width: 768px) {
  .paragraf {
    font-size: 14px;
  }
  div {
    color: red;
  }
} */

/* .link {
  font-size: 18px;
  text-decoration: none;
}

.link:hover {
  color: darkorange;
  font-size: 19px;
  font-weight: 700;
}

.link:visited {
  color: aqua;
}

.link:active {
  color: orange;
} */

/* li:last-child {
  color: red;
}

li:last-child {
  color: red;
}

li:nth-child(even) {
  color: green;
}

li:nth-child(3n-1) {
  color: red;
} */

/* li:nth-child(-n + 6) {
  color: red;
} */

/* Pseudo Elements */

/* .text1::first-letter {
  font-size: 30px;
}

.text1::first-line {
  font-size: 30px;
  color: orange;
}

.text1::after {
  content: 'Bu after için deneme contenti';
}

.text1::before {
  content: 'Bu after için deneme contenti';
}

table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 40%;
  margin: 0 auto;
}

tbody tr {
  text-align: center;
}

thead tr {
  background-color: olivedrab;
}

tbody tr:nth-child(even) {
  background-color: #dedede;
}

tbody tr:hover {
  background-color: #cfcfcf;
  cursor: pointer;
} */
/* 
.outer {
  width: 200px;
  height: 200px;
  background-color: #73a164;
}

.inner {
  width: 50px;
  height: 50px;
  background-color: orangered;
} */

/* .red {
  width: 200px;
  height: 200px;
  background-color: red;
  position: relative;
  top: 20px;
  left: 30px;
}

.blue {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: absolute;
  top: 40px;
  left: 20px;
} */

.outer {
  width: 200px;
  height: 200px;
  background-color: #73a164;
  position: relative;
  top: 20px;
  left: 0;
}

.inner {
  width: 50px;
  height: 50px;
  background: red;
  position: absolute;
  top: 40px;
  right: 10px;
}
