body{
    background-color: #303841;
}

     /* NAVBAR*/
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 150px;
    justify-content: center;
    background-color: #335;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: fixed;
    z-index: 1;
    top: 0px;
}
.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: rgb(169, 194, 214);
    text-align: center;
    padding: 15px 35px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: rgb(111, 154, 204);
}

.navbar li:last-child {
    float: right;
}

.login-btn {
    font-size: 15px;
    color: white;
    padding: 15px;
    background-color: #0076a3;
    border: 1px solid #0076a3;
    overflow: hidden;
    float: right;
    cursor: pointer;
}

   /* MAİN TİTLE*/

.title {
    margin-top: 1.5rem !important;
    font-size: 20px;
    color: #808e9e;
    text-align: center;
    margin-left: 26%;
}

.main-title {
    display: inline-block;
}

      /* TYPEWRİTER*/

.typewriter h1 {
    font-size: 28px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    border-right: 0.15em solid white;
    white-space: nowrap;
    margin-top: 100px;
    margin-left: 40%;
    letter-spacing: 0.15em;
    animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}
    
     /*WRAP2*/
.wrap2 {
    width: 100%;
    height: 500px;
    margin-top: 85px;
    background-color: #303841;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.boxone {
    /* margin: 0 auto; */
    justify-content: space-around;
}

.phone-1 {
    width: 225px;
    height: 430px;
}

.phone-2 {
    width: 325px;
    height: 700px;
}
   /* WHAT WE DO*/ 

.wrapper {
    margin-left: 425px;
    inline-size: 500px;
    text-align: center;
    margin-top: 250px;
}
.white-text {
    color: #0076a3;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
}

.white-text-2 {
    color: #fff;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Times New Roman", Times, serif;
}

.white-text-3 {
    font-size: 16px;
    color: #808e9e;
    margin-top: 5px;
}
 

     /* BOMBS*/

.container {
    width: 100%;
    height: 200px;
    margin-top: 25px;
    background-color: #303841;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.box {
    margin-top: 25px;
    width: 25%;
    border: 2px solid #3e4853;
    background-color: #303841;
    border-radius: 5%;
}
.bomb1,.bomb2,.bomb3
 {
    margin-left: 120px;
}

.black-text {
  color: #808e9e;
  text-align: center;
}
h3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 0;
}
    /*AppTech Features*/
.wrapper-2{
    margin-left: 425px;
    inline-size: 500px;
    text-align: center;
    margin-top: 250px;
}
    /*Buttons*/

.buttons {
    margin-top: 50px;
    margin-left: 475px;
}
.button-1 {
     width: 17%;
     height: 35px;
     margin: 0 40px;
     border: 1px solid #0076a3;
     background: linear-gradient(#2e8da5, #114d64);
     color: #fff;
     cursor: pointer;
}

.button-2 {
      width: 17%;
      height: 35px;
      border: 1px solid #fff;
      background: #303841;
      color: #fff;
      cursor: pointer;
}
    /*Sağ-orta-sol*/
.container-2 {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background-color: #303841;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
.box-1 {
    margin-left: 30px;
    margin-top: 50px;
    width: 25%;
    border: 2px solid #303841;
    background-color: #303841;
    border-radius: 5%;
}
h4{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: #fff;
    text-align: right;
    margin-top: 0;
}
h5 {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: #fff;
    text-align: left;
    margin-top: 0;
}
.saga-hizala {
    color: #808e9e;
    text-align: right;
}

.sola-hizala {
    color: #808e9e;
    text-align: left;
}
.bilim {
    margin-left: 270px;
}

.bilim-2 {
    margin-right: 265px;
}
    /*people-paris*/

.containernew {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-top: 500px;
    background-color: #303841;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.box-2 {
    width: 25%;
    margin-left: 75px;
    border: 2px solid #303841;
    background-color: #303841;
    border-radius: 5%;
}
.climent {
    font-size: 15px;
    color: #808e9e;
    margin-left: 0px;
    margin-bottom: 100px;
    text-align: left;
}
.think {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: #fff;
    text-align: left;
    margin-top: 0;
}
.read {
    width: 100%;
    height: 35px;
    margin: 0 40px;
    margin-left: 0px;
    border: 1px solid #0076a3;
    background: linear-gradient(#2e8da5, #114d64);
    color: #fff;
    cursor: pointer;
}
.paris {
    border-bottom-left-radius: 5%;
}
.people {
    border-radius: 50%;
    margin-top: 0;
}
.prefect {
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    color: #fff;
    text-align: left;
    margin-top: 0;
}
.follow {
    width: 50%;
    height: 35px;
    margin: 0 40px;
    margin-left: 0px;
    border: 1px solid #0076a3;
    background: linear-gradient(#2e8da5, #114d64);
    color: #fff;
    cursor: pointer;
}
      /*What's Your Price*/

.wrapper-3 {
    margin-left: 425px;
    inline-size: 500px;
    text-align: center;
    margin-top: 150px;
}
    /*Pricing Plans*/
.pricing-container {
    margin-top: 60px;
     width: 100%;
     height: 700px;
     border: 1px solid #303841;
     border-radius: 4%;
     overflow: hidden;
     padding-bottom: 20px;
     display: flex;
     flex-direction: row;
     min-width: 0;
     min-height: 0;
     align-items: shrink;
     justify-content: center;
     overflow: hidden;
     gap: 35px;
 }
.pricing-container ul {
     padding: 10px;
     margin: 0;
 }
    
.pricing-container p {
     padding-left: 10px;
}
    
.pricing-buttons {
     margin-left: 10px;
     margin-top: 10px;
     background-color: #0076a3;
     border: 1px solid #0076a3;
     color: white;
     border-radius: 4px;
}
.basic {
     margin-top: 20px;
     width: 25%;
     height: 525px;
     border: 1px solid black;
     border-radius: 4%;
     overflow: hidden;
}
.upper-div {
     background-color: #183b56;
     border-top-left-radius: 4%;
     border-top-right-radius: 4%;
     height: 170px;
 }
.dollars {
     font-size: 25px;
     font-weight: bold;
     color: white;
}
    
.dollars:before {
     content: "$";
     font-size: 14px;
     vertical-align: 30%;
     margin-right: 3px;
}
    
.dollars:after {
     content: "/month";
     font-size: 14px;
     vertical-align: 25%;
     margin-left: 3px;
}
.plan-text {
     color: rgba(255, 255, 255, 0.3);
     line-height: 12px;
}
.white-line {
     height: 5px;
     width: 100%;
     background-color: white;
}
.lower-div {
     background-color: #303841;
     border-bottom-left-radius: 4%;
     border-bottom-right-radius: 4%;
     height: 280px;
}
.benefits {
     list-style: none;
     color: white;
     line-height: 20px;
}
.premium:not(:last-child) {
    margin-bottom: 20px;
}
.your-plan {
    margin-left: 10px;
    margin-top: 10px;
    background-color: #303841;
    border: 2px solid #0076a3;
    color: #0076a3;
    border-radius: 3px;
    cursor: pointer;
}
.startup {
    width: 25%;
    height: 550px;
    border: 1px solid black;
    border-radius: 4%;
    overflow: hidden;
    padding-bottom: 20px;
}
.recommended {
    background-color: #0076a3;
    text-align: center;
    padding: 7px;
}

.recommended p {
    margin: 0;
    color: white;
}
.upper-div-startup {
    background-color: rgba(0, 118, 163, 0.2);
    border-top-right-radius: 4%;
    height: 170px;
}
.buy-now {
    margin-left: 10px;
    margin-top: 10px;
    background-color: #0076a3;
    border: 2px solid #0076a3;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
.enterprise {
    margin-top: 20px;
    width: 25%;
    height: 525px;
    border: 1px solid black;
    border-radius: 4%;
    overflow: hidden;
}
.green-icon {
    color: #1d9b7b;
}

.red-icon {
    color: #cc1010;
}
    /*Phone-Container-Açıklama*/
.wrapper-4{
    margin-left: 425px;
    inline-size: 500px;
    text-align: center;
    margin-top: 50px;
}
    /*Phone-Container*/
.phone-container {
    width: 38%;
    height: 250px;
    margin-top: 10px;
    margin: 50px auto;
    background-color: #303841;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.animated-img {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: visible;
}

.line:first-child {
    animation: anim 12s infinite;
}

@keyframes anim {
    0% {
        margin-left: 0;
    }

    16% {
        margin-left: 250px;
    }

    33% {
        margin-left: 450px;
    }

    50% {
        margin-left: -650px;
    }

    66% {
        margin-left: -450px;
    }

    82% {
        margin-left: -250px;
    }

    100% {
        margin-left: 0;
    }
}
    /*Oue Team - Açıklama */
.wrapper-5{
    margin-left: 425px;
    inline-size: 500px;
    text-align: center;
    margin-top: 250px;
}
         /*Oue Team*/
.containerteam {
    padding: 0 auto;
    width: 100%;
    height: 250px;
    margin-top: 25px;
    margin: 50px auto;
    background-color: #303841;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}
.box-3 {
    width: 20%;
    border: 2px solid #303841;
    background-color: #303841;
    border-radius: 5%;
}
.sol {
    transform: rotate(-90deg);
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-size: 15px;
    margin-top: 75px;
    position: absolute;
    float: right;
}

.sag {
    margin-left: 85px;
    border-radius: 5%;
    position: relative;
    float: left;
}
       /*Build Your İdeal*/
.containerbuild {
    width: 100%;
    height: 400px;
    margin-top: 0px;
    margin: 0px 50px;
    background-color: #303841;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.box-4 {
    margin-top: 50px;
    width: 36%;
    border: 2px solid #303841;
    background-color: #303841;
    border-radius: 5%;
}
.build {
    font-size: 50px;
    color: white;
    margin-left: 0px;
    margin-bottom: 10px;
    text-align: left;
}
.apple {
    margin-top: 15px;
    cursor: pointer;
    margin-left: 0px;
    float: left;
}

.googleplay {
    margin-top: 15px;
    cursor: pointer;
    margin-left: 60px;
    float: left;
}

.phonebuild {
    margin-bottom: 100px;
    margin-right: 0px;
    float: right;

}
     /*Contact Us-Açıklama*/ 
.wrapper-6{
    margin-left: 425px;
    inline-size: 500px;
    text-align: center;
    margin-top: 350px;
}
    /*Contact Us*/
.containercontact {
    width: 100%;
    margin-left: 200px;
    height: 400px;
    margin-top: 25px;
    margin: 50px 20px;
    background-color: #303841;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}
    
.box-5 {
    width: 35%;
    border: 2px solid #303841;
    background-color: #303841;
    border-radius: 5%;
}
.label {
    color: white;
}
.send {
    width: 76%;
    height: 35px;
    margin: 0 40px;
    margin-left: 0px;
    border: 1px solid #0076a3;
    background: linear-gradient(#2e8da5, #114d64);
    color: #fff;
    cursor: pointer;
}
.neeed {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.help {
    font-size: 15px;
    color: #808e9e;
}
.subscribe {
    height: 35px;
    border-radius: 7px;
}

.subject {
    height: 35px;
    width: 75%;
    border-radius: 7px;
}
.message-area {
    border-radius: 7px;
}
     /*Communication*/
.communication {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.contact-details {
    color: white;
    font-weight: bold;
}

.details {
    color: #838485;
}

.details-img {
    float: left;
    margin-bottom: 20px;
}
    /*Footer*/
.footer2{
    width: 100%;
    margin-left: 200px;
    height: 200px;
    margin-top: px;
    margin: 50px 20px;
    background-color: #303841;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.fbox-1{
    width:23%;
    border: 2px solid #303841;
    background-color: #303841;
    border-radius: 5%;
}
.title2{
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 0;
}
.footer-list {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 30px;
}
.list-element {
    text-decoration: none;
    color: #838485;
}
.summary {
    inline-size: 320px;
    color: #838485;
    overflow-wrap: break-word;
}
.go {
    color: white;
    margin: 0;
    width: 20%;
    height: 39px;
    margin-left: -10px;
    background-color: #0076a3;
    border: 1px solid #0076a3;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
}

.subs-p {
    color: #838485;
    inline-size: 250px;
    overflow-wrap: break-word;
}



/* MEDİA SCREEN */

@media only screen and (max-width: 768px) {

    .wrap2 {
        width: 75%;
        justify-content: center;
        margin-left: 100px;

    }
    .navbar{
        margin-left: 0;
    }
     .typewriter h1{
        margin-left: 8%;
     }
    .title{
        margin-left: 10%;
    }

    .main-title{
        margin-top: 50px;
        margin-left: 0px;
        text-align: left;
    }
    .wrapper{
        margin-left:65px;
        margin-top: 1200px;
        inline-size: 400px;
    }
    .container{
        margin-left: 30px;
        width: 100%;
    }
    .box{
        width: 50%;
    }
        .bomb1,
        .bomb2,
        .bomb3 
    {
            margin-left: 75px;
    }
    .wrapper-2{
        margin-left: 65px;
        margin-top: 750px;
        inline-size: 400px;
    }
    .buttons {

        margin-top: 50px;
        margin-left: 60px;
    }
     .button-1,
     .button-2{
        width: 35%;
     }
      .container-2{
        width: 90%;
        justify-content: center;
        margin-left: 35px;
      }
    .box-1{
        width: 100%;
    }
    h4,h5{
        text-align: center;
    }
    .bilim{
        margin-left: 170px;
    }
    .bilim-2{
        margin-left: 180px;
    }
    .saga-hizala,.sola-hizala{
        text-align: center;
    }
    .containernew{
        margin-top: 1800px;
        width: 60%;
    }
    .box-2{
        width: 100%;
    }
    .people{
        margin-left: 75px;
    }
    .climent,.prefect{
        text-align: center;
    }
    .follow{
        margin-left: 50px;
    }
    .wrapper-3{
        margin-left: 65px;
        margin-top: 600px;
        inline-size: 400px;
    }
    .pricing-container{
        width: 100%;
        height:1800px;
        flex-direction: column;
        margin-top: 100px;
    }
    .basic{
        margin-left: 110px;
        width: 68%;
        height: 12000px;
        
    }
    .startup{
        margin-left: 110px;
        width: 68%;
        height: 12000px;
        
    }
    .enterprise{
        margin-left: 110px;
        width: 68%;
        height: 12000px;
    }
    .wrapper-4{
        margin-left: 65px;
        margin-top: 150px;
        inline-size: 400px;
    }
    .phone-container{
        width: 100%;
    }
    .wrapper-5{
        margin-left: 65px;
        margin-top: 250px;
        inline-size: 400px;
    }
    .containerteam{
        width: 60%;
    }
    .box-3{
        width: 100%;
    }
    .containerbuild{
        margin-top: 600px;
        width: 100%;
    }
    .box-4{
        width: 87%;
    }
    .wrapper-6{
        margin-left: 65px;
        margin-top: 750px;
        inline-size: 400px;
    }
    .containercontact{
        margin-left: 90px;
        width: 100%;
    }
    .box-5{
        width: 100%;
    }
    .subject{
        width: 71%;
    }
    .send{
        width: 72%;
    }
    .communication{
       margin-left: 75px;
       width: 86%;
       margin-top: 575px;
       gap: 50px;
    }
    .footer2{
        margin-left: 80px;
        width: 78%;
    }
    .fbox-1{
        width: 60%;
    }

}