*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.bg-maincolor{
    background-color:#FFC017;
}

.border-bottom-dark{
     border-bottom: 1px solid #414141;
}
.fontsize30 {font-size: 30px;} ; 
.fontsize50{ font-size: 80px !important ; font-weight: 900;}
