$bgcolorW: white;
$bgcolorO: #e76f51;
$bgcolorG: #2a9d8f;
$bgcolorA: #6c757d;
$bgcolorBody: rgb(226, 226, 226);

@mixin gridM() {
    display: grid;
}
@mixin autoMargin() {
    margin-left: auto;
    margin-right: auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: $bgcolorA;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: $bgcolorBody;
}
.align-self {
    align-self: center;
}
.nav {
    background-color: $bgcolorW;
    position: sticky;
    top: 0;
    z-index: 1;
}
.containerNav {
    @include gridM();
    @include autoMargin();
    grid-template-columns: 0.8fr 3fr 2fr;
    padding: 10px;
    justify-content: center;
    align-content: center;
    max-width: 65%;
}
.navLogo {
    @extend .align-self;
    width: 65px;
    justify-self: center;
}
.navList {
    display: flex;
    gap: 20px;
    @extend .align-self;
    font-weight: bold;
}
.socialIcon {
    @include gridM();
    @extend .align-self;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    justify-self: flex-end;
}

.listElement {
    list-style: none;
}
.navLink {
    background-color: $bgcolorO;
    padding: 7px;
    border-radius: 5px;
    color: $bgcolorW;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.navLink2{
    &:hover {
            background-color: $bgcolorG;
            color: $bgcolorW;
            padding: 7px;
            border-radius: 5px;
        }
}
.fa-brands {
    font-size: 30px;
    &:hover {
            transform: scale(1.3);
            color: $bgcolorO;
        }
}
.header {
    background: url(https://media.istockphoto.com/photos/bitcoin-cryptocurrency-trends-graphs-and-charts-picture-id1300681886?b=1&k=20&m=1300681886&s=170667a&w=0&h=gR80JmbszY0l8576pQGp7oJZklSvgdVoi3F-HtsgEfc=);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 500rem rgba(66, 68, 73, 0.75);
}
.containerHeader {
    @include gridM();
    @include autoMargin();
    grid-template-columns: 1fr 1fr;
    max-width: 65%;
}
.containerHeaderNews {
    @include gridM();
    grid-template-rows: 0.5fr 1fr 2fr 1fr;
    padding: 20px;
    color: $bgcolorW;
}
.newsCtgry {
    background-color: $bgcolorG;
}
.newsHdr {
    font-size: 25px;
}
.newsPrg {
    line-height: 25px;
}
.fit-content {
    width: fit-content;
    height: fit-content;
    padding: 7px;
    border-radius: 10px;
}
.readBttn {
    background-color: $bgcolorO;
    border-radius: 0;
    & a {
        color: $bgcolorW;
    }
}
@media (max-width:780px) {
    .socialIcon {
        display: none;
    }

    .containerHeader {
        grid-template-columns: 1fr;
    }

    .containerNav {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 0.8fr);
    }

    .navList {
        justify-self: center;
    }
}