$font-color: #afafaf;

.game-char-category{
    .container{
        padding: 0;
        .polygon{
            position: relative;
            width: 60px;
            .char{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 30px;
                font-family: 'GreycliffCF-Bold';;
            }
        }

        .game{
            // max-height: 300px;
            // overflow-y: scroll;
            color: $font-color;
        }

        .row{
            a{
                text-decoration: none;
                color: #afafaf;
                &:hover{
                    color: #fff;
                }
            }
           
        }
    }
}