.images {
  display: grid;
  justify-content: center;
}
.price-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.features {
  width: 65%;
  height: 250px;
  position: absolute;
  margin: -4% 19%;
  background-color: #191919;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75);
  color: white;
  justify-content: center;
  align-items: center;
}
.features p {
  font-size: 16px;
}
.feature-header {
  font-size: 28px;
  display: flex;
}
.feature-content {
  display: flex;
}
.images-header {
  padding-top: 5%;
}
.available {
  padding-top: 15%;
  background-color: #191919;
  color: white;
}
.available-header {
  text-align: center;
  padding: 2%;
}
.available-columns {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 5%;
}
.available-card-mac {
  background-image: linear-gradient(to bottom, (#191919), (black));
  border: 1px solid;
  border-image-source: linear-gradient(to bottom, #656565, #2a2a2a);
  border-image-slice: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 120px;
  width: 386px;
}
.available-card-pc {
  background-image: linear-gradient(to bottom, (#191919), (black));
  border: 1px solid;
  border-image-source: linear-gradient(to bottom, #656565, #2a2a2a);
  border-image-slice: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 120px;
  width: 386px;
  margin: 0 20px 0 20px;
}
.available-card-android {
  background-image: linear-gradient(to bottom, (#191919), (black));
  border: 1px solid;
  border-image-source: linear-gradient(to bottom, #656565, #2a2a2a);
  border-image-slice: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 120px;
  width: 386px;
}
.carousel-indicators {
  right: 67%;
  top: 56%;
}
.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100%;
}
.carousel-indicators button[aria-current="true"] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100%;
  background-color: #76b900;
}
.carousel-control-next-icon {
  background-image: url(right-arrow.svg);
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 3px solid #76b900;
  padding: 25px;
}
.carousel-control-prev-icon {
  background-image: url(left-arrow.svg);
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 3px solid #76b900;
  padding: 25px;
}

@media screen and (max-width: 900px) {
  img {
    width: 134px;
  }
  .images {
    padding-left: 10%;
  }
  .img-1 {
    width: 100%;
  }
  .img-2 {
    width: 100%;
  }
  .carousel-control-prev-icon {
    display: none;
  }
  .carousel-control-next-icon {
    display: none;
  }
  .carousel-indicators {
    display: none;
  }
  .price-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .available {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 15% 0 7%;
  }
  .available-columns{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
  }
  .available-columns .available-card-pc {
    margin: 20px 0 20px 0;
    padding: 0;
    
  }
  .available-columns .available-card-mac img {
    width: 60px;
    height: 60px;
  }
  .available-columns .available-card-pc img {
    width: 70px;
    height: 30px;
    padding-right: 5%;
  }
  .available-columns .available-card-android img {
    width: 25px;
    height: 40px;
  }
  .features {
    height: 394px;
    background-color: #191919;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75);
    color: white;
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .feature-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
