/* Footer */
.footer {
    grid-area: footer;
    padding: 2rem 5rem;
    background-color: rgb(151, 150, 150);
    color: #fff;
}


.footer-top {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    margin: 0 auto;
}

.footer-top img{
    width: 150px;
    height: auto;
}

.footer-top-item {
    display:grid;
    width: 20%;
    min-width: 200px;
    gap: 1rem;
}
.first {
    grid-template-rows: repeat(2, 0.5fr);
}
.second {
    grid-template-rows: 0.1fr 0.5fr 0.1fr 0.1fr;
}
.third {
    grid-template-rows: repeat(5, 0.2fr);
}
.fourth{
    grid-template-rows: 0.2fr 0.2fr;
}




.footer-top h4 {
    font-size: 2rem;
    border-bottom: 2px solid black;
}



.footer-top-item .footer-btn, .footer-top-item input {
    width: 100%;
    font-size: 1.8rem;
    
}

.footer-top-item input {
    height: 4rem;
}

.footer-top-item a {
    font-size: 1.6rem;
}

.footer-top-item .btn2 {
    width: 100%;
}

.footer-top-item .links-items {
    border-bottom:  2px solid rgb(128, 127, 127);
    width: 100%;
    color: #fff;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
    box-shadow: inset 0 0 0 0 black;
}
.footer-top-item .links-items:hover {
    box-shadow: inset 400px 0 0 0 black;;
    box-shadow: inset 400px 0 0 0 black;
    
}

.footer-top-item .icons a {
    font-size: 2.5rem;
    color: #fff;
    padding: 0.5rem;
}

.footer-top-item .icons{
    flex-direction: row;
    gap: 2rem;
    display: flex;
}
.footer-top-item .icons a:hover {
    color: #d35400;
    scale: 1.3;
}

.footer-bootom {
    background-color: rgb(90, 87, 87);
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0;
    color: #fff;
    margin-top: 1rem;
}
