$primary: #FF6F0F;
$secondary: #FFF0E6;
$light: #F8F8F9;
$dark: #001D23;

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

button{
    width: auto;
    height: auto;
    padding: 2% 2%;
    border-radius: 6px;
    cursor: pointer;
}

@mixin display($displayType,$direction,$justifyContent,$alignItems,$gapSize){
    display: $displayType;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
    gap: $gapSize;
}

@mixin font($size,$weight,$color){
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin button($backgroundColor,$borderColor,$border,$textColor){
    background-color: $backgroundColor;
    border-color: $borderColor;
    border: $border;
    color: $textColor; 
};


    
   


.header{
    background: url(https://technext.github.io/chariteam/img/carousel-1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 1% 2%;
    .topHeader{
            
            @include display(flex,row, space-between, center, 10px);
            padding: 1% 2%;
            @include font(100,bold,rgba(255,255,255,0.5));

            .leftTopHeader{
                @include display(flex,row, space-between, center, 10px); 
            }
            .rigthTopHeader{
                @include display(flex,row, space-between, center, 10px); 
                .socialMediaIcons{
                    @include display(flex,row, space-between, center, 10px);  
                    a{
                        @include font(100,bold,rgba(255,255,255,0.5));
                    }
                }
            }

        }
        .navbar{
            @include display(flex,row, space-between, center, 10px);
            padding: 1% 2%; 
            border-top: 0.05px solid gray;
            .logo{
                @include display(flex,row, space-between, center, 0);
                .logoLeft{
                    @include font(3em,bold,$primary);
                }
                .logoRight{
                    @include font(3em,bold,white);
                }
            }
            .menu{
                @include display(flex,row, space-between, center, 40px); 
                .menuList{
                    @include display(flex,row, space-between, center, 50px); 
                    li{
                        @include font(1.35em,bold,white);
                    &:first-child{
                        @include font(1.35em,bold,$primary);
                    }
                    }

                }
                .donateButton{
                    @include display(flex,row, space-between, center, 10px); 
                    @include button($dark,$primary ,10px,$primary );
                    .donateButtonIcon{
                        color: #F8F8F9;
                    }
                }
            }
        }
        .headerText{
            padding: 10% 25%; 
            @include display(flex,column, center, center, 10px);
            text-align: center;
            .headerTextHeader{
                @include font(4.5em,bold,white);
            }
            .headerTextParagraf{
                @include font(1.8em,bold,rgba(255,255,255,0.5));
            }
            .learnMoreButton{
                margin-top: 5%;
                @include button($primary,none,0, #FFFFFF);
                @include display(flex,row, space-between, center, 10px); 
                @include font(1em,100,white);

            }
    }
}

.aboutUs{
    background-color: white;
    padding: 1% 2%;
    height: 800px;
    @include display(flex,row,center,flex-start, 10px); 
    .aboutUsLeft{
        padding: 1% 2%;
        .img1{
            position: relative;
            padding-top: 15%;
        }
        .img2{
            position: absolute;
            right: 0;
            top: 0;
            border-left: 10px solid white;
            border-bottom: 10px solid white;
        }
        
    }
    .aboutUsRight{
        padding: 1% 2%;
        @include display(flex,column,flex-start , flex-start, 20px); 
        .aboutUsRightTop{
            @include display(flex,column,flex-start , flex-start, 20px); 
            .aboutUsRightTopParagaraf{
                padding: 1% 1%;
                width: 13%;
                @include button(#FFF0E6,none,0, $primary);
                text-align: center;
                border-radius: 50rem;
            }
            .aboutUsRightTopHeader{
                @include font(4em,bold,black);

            }
        }
        .aboutUsRightMiddle{
            padding: 2% 2%;
           background-color: #F8F8F9;
           @include display(flex,column,flex-start , flex-start, 20px); 
           border-bottom: 7px solid $primary;
           border-radius: 8px;
            .aboutUsRightMiddleParagaraf{
                @include font(1.25em,300,black);
            }
            .aboutUsRightMiddleAuthor{
                @include font(1.25em,300,$primary);
            }
        }
        .aboutUsRightBottom{
            @include font(1.25em,300,black);

        }
        .aboutUsRightButtons{
            @include display(flex,row, space-between, center, 20px); 
            .aboutUsRightButtonsLeft{
                @include button($primary,none,0, $primary);
                @include font(1em,100,white);
                @include display(flex,row, space-between, center, 10px); 

            }
            .aboutUsRightButtonsRight{
                @include button(white,$primary,10px,$primary);
                @include font(1em,100,$primary);
                @include display(flex,row, space-between, center, 10px); 
            }
          
        }
    }
}
