* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.container-erdem {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    "header header header"
    "home home home";
}

.header-erdem {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  padding: 3px 20px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  grid-area: header;
  opacity: 0.8;
  background-color: white;
}

.header-erdem .logo-erdem img {
  width: 130px;
  height: 75px;
}

.header-erdem .click-erdem {
  display: flex;
  font-size: 25px;
  gap: 25px;
  font-weight: bold;
}

.header-erdem .click-erdem .about-button .blog-button .contatc-button {
  color: black;
}
.header-erdem .click-erdem .home-button {
  background-color: rgb(248, 144, 107);
  border-radius: 30%;
}
.header-erdem .click-erdem a {
  padding: 20px 4px;
}

.header-erdem .click-erdem a:hover {
  background-color: rgb(219, 87, 39);
  border-bottom: 1px solid rgb(219, 87, 39);
  border-radius: 30%;
}
.header-erdem .icons-erdem {
  display: flex;
  gap: 10px;
  font-size: 40px;
  justify-content: flex-end;
  margin-right: 50%;
}

.home-erdem {
  background-image: url(https://gunceloku.com/uploads/kurek-sporu-nedir-617bd9114c9cb.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-area: home;
  opacity: 0.9;
  height: 80vh;
  justify-content: center;
  gap: 30px;
  padding-left: 100px;
}

.home-erdem .button1 {
  background-color: rgb(20, 108, 8);
  width: 65px;
  height: 40px;
  color: white;
  border-radius: 30%;
  font-size: 15px;
}

.home-erdem .button2 {
  background-color: rgb(219, 87, 39);
  width: 150px;
  height: 75px;
  color: white;
  border-radius: 10%;
  font-size: 20px;
}

.home-erdem .baslık {
  font-weight: bold;
  font-size: 40px;
}

.home-erdem .text {
  font-weight: bolder;
  font-size: 20px;
  inline-size: 600px;
  overflow-wrap: break-word;
}
a {
  color: rgb(80, 80, 80);
}

@media only screen and (max-width: 768px) {
  .header-erdem {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    
  }
}
