* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.container-erdem {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    "header header header"
    "home home home";
}

.header-erdem {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  padding: 3px 20px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  grid-area: header;
  background-color: white;
}

.header-erdem .logo-erdem img {
  width: 130px;
  height: 75px;
}

.header-erdem .click-erdem {
  display: flex;
  font-size: 25px;
  gap: 25px;
  font-weight: bold;
}

.header-erdem .click-erdem .home-button {
  background-color: rgb(252, 94, 37);
  color: white;
  border-radius: 10px;
}
.header-erdem .click-erdem a {
  padding: 20px 4px;
}

.header-erdem .click-erdem a:hover {
  background-color: rgb(201, 92, 52);
  border-bottom: 1px solid rgb(219, 87, 39);
  border-radius: 25%;
  color: white;
  transition-duration: 1s;
}
.header-erdem .icons-erdem {
  display: flex;
  gap: 10px;
  font-size: 40px;
  justify-content: flex-end;
  margin-right: 50%;
}

.home-erdem {
  background-image: url(https://gunceloku.com/uploads/kurek-sporu-nedir-617bd9114c9cb.jpg);
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 1px rgb(146, 146, 146);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-area: home;
  opacity: 0.7;
  height: 80vh;
  justify-content: center;
  gap: 30px;
  padding-left: 100px;
}

.home-erdem .button1 {
  background-color: rgb(98, 219, 169);
  width: 65px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgb(146, 146, 146);
}

.home-erdem .button2 {
  background-color: rgb(255, 72, 0);
  width: 150px;
  height: 75px;
  color: white;
  border: none;
  font-size: 20px;
  animation-timing-function: ease-in-out;
  transition-duration: 1s;
}

.home-erdem .button2:hover {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 4px 4px 4px 4px rgb(39, 39, 39);
}

.home-erdem .baslık {
  font-weight: bold;
  font-size: 40px;
  color: black;
}

.home-erdem .text {
  font-weight: bolder;
  color: black;
  font-size: 24px;
  inline-size: 600px;
  overflow-wrap: break-word;
}
a {
  color: rgb(80, 80, 80);
}

.main {
  width: 80%;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
}

.item {
  width: 100%;
  background-color: white;
  margin: 0;
  padding-bottom: 12px;
  box-sizing: border-box;
}

.item:hover {
  box-shadow: 5px 5px 5px 5px rgb(39, 39, 39);
  transform: scale(1.1);
}

.item img {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}

.item img:hover {
  opacity: 0.7;
}

.item h4 {
  padding-left: 10px;
  margin-bottom: 10px;
  color: rgb(51, 50, 50);
}

.item h5 {
  width: max-content;
  padding: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: whitesmoke;
  background-color: rgb(98, 219, 169);
}

.container-tugce {
  display: grid;
  grid-template-areas: "footer footer footer";
  margin-top: 35px;
}

.row1 {
  grid-area: row;
  width: 85%;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 2%;
}

.row2 {
  grid-area: row;
  width: 85%;
  padding: 10px 20px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(61, 61, 61);
}

.col1 {
  display: grid;
  height: 350px;
  grid-template-rows: 50% 50%;
  font-size: 24px;
}

.col2 {
  display: grid;
  grid-template-rows: 20% 45% 10% 10%;
  gap: 10px;
  font-size: 24px;
}

.col3 {
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 15px;
}

.col3 a {
  color: white;
  font-size: 24px;
}

.col4 a {
  color: white;
  font-size: 30px;
}

.footer {
  grid-area: footer;
  display: flex;
  color: white;
  background-color: rgb(139, 145, 140);
  flex-wrap: wrap;
}

.logo {
  height: 100%;
}

i {
  color: white;
  font-size: 24px;
}

a {
  text-decoration: none;
  border-bottom: 1px solid rgb(105, 105, 105);
}

a:hover {
  color: rgb(255, 102, 0);
  transition-duration: 1s;
  transform: scale(1.15);
}
.btn {
  background-color: rgb(255, 102, 0);
  border: none;
  color: white;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 80%);
  }
  .main {
    width: 100%;
  }
  .item {
    width: 100%;
    height: 400px;
  }
  .row1 {
    grid-template-columns: repeat(1, auto);
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .row2 {
    height: auto;
  }
  .col1 {
    width: 100%;
    height: 300px;
  }
  .col2 {
    width: 100%;
    height: 200px;
    grid-template-rows: 20% 40% 20% 15%;
  }
  .col3 {
    width: 100%;
    height: 300px;
  }
  .col4 {
    width: 100%;
    height: 120px;
  }

  .col4 a {
    font-size: 34px;
  }
  .home-erdem {
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    background-size: cover;
    background-position: center;
  }

  .header-erdem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .home-erdem .text {
    font-size: 20px;
    inline-size: 50%;
    overflow-wrap: break-word;
  }
  .header-erdem .icons-erdem {
    display: none;
  }
  .footer .row2 {
    margin-top: 35px;
  }
}
