body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container-1haci {
  width: 100%;
  height: auto;
  margin: 0 auto;
  font-size: 18px;
  background-color: #F8F8F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 80px; }

.container-2haci {
  width: 100%;
  height: auto;
  margin: 0 auto;
  font-size: 18px;
  background-color: #F8F8F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 80px; }
  .container-2haci .box-haci {
    width: 27%;
    background-color: white;
    border-top: 5px solid #FF6F0F;
    border-top-left-radius: 10px;
    border-top-right-radius: 3px;
    margin: 10px;
    height: auto;
    text-align: center; }
    .container-2haci .box-haci-education {
      background-color: #FF6F0F;
      width: 35%;
      margin-left: 32.5%;
      padding-top: 0px !important;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      color: white;
      font-size: 20px;
      padding-bottom: 5px; }
  .container-2haci .box2-haci {
    width: 90%;
    height: auto;
    background-color: #F8F8F9;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2.5%;
    margin-bottom: 30px;
    flex-wrap: wrap;
    padding-bottom: 10px; }
    .container-2haci .box2-haci-ic {
      display: flex;
      justify-content: space-around; }
      .container-2haci .box2-haci-ic-text {
        width: 50%; }
  .container-2haci .imgbutton {
    position: relative;
    height: 270px;
    width: 100%; }
    .container-2haci .imgbutton-img1-haci {
      width: 100%;
      height: 270px;
      position: relative; }
    .container-2haci .imgbutton .overlay {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: .5s ease; }
      .container-2haci .imgbutton .overlay .button-haci {
        position: absolute;
        height: 50px;
        width: 40%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 2px solid #FF6F0F;
        color: #FF6F0F;
        border-radius: 10px;
        display: none;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center; }
        .container-2haci .imgbutton .overlay .button-haci:hover {
          background-color: #FF6F0F;
          color: white; }
      .container-2haci .imgbutton .overlay:hover .button-haci {
        display: flex;
        z-index: 2; }
  .container-2haci .imgbutton:hover .overlay {
    bottom: 0;
    height: 100%; }
  .container-2haci .animated-progress {
    width: 95%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #bd7171;
    overflow: hidden;
    position: relative; }

.text-haci {
  color: #787878;
  padding-left: 10px;
  padding-right: 10px; }

.animated-progress span {
  font-size: 12px;
  height: 100%;
  display: block;
  width: 90%;
  color: #fffbfb;
  line-height: 20px;
  position: absolute;
  text-align: end;
  padding-right: 5px;
  background-color: #FF6F0F; }

.container-3haci {
  width: 100%;
  height: auto;
  margin: 0 auto;
  font-size: 18px;
  background-color: #F8F8F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 80px;
  background-color: #fff; }

.container-4haci {
  width: 100%;
  height: auto;
  margin: 0 auto;
  font-size: 18px;
  background-color: #F8F8F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 80px;
  background-color: #fff; }
  .container-4haci .box3-haci {
    width: 23%;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    height: auto;
    text-align: center;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; }
    .container-4haci .box3-haci-button2-haci {
      height: 40px;
      width: 45%;
      margin-left: 27.5%;
      background-color: white;
      border: 2px solid #FF6F0F;
      color: #FF6F0F;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 10px;
      margin-top: 20px;
      margin-bottom: 20px; }
      .container-4haci .box3-haci-button2-haci:hover {
        background-color: #FF6F0F;
        color: white; }

.container-5haci {
  position: relative;
  height: auto;
  width: 100%;
  height: auto;
  margin: 0 auto;
  font-size: 18px;
  background-color: #F8F8F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 70px;
  padding-bottom: 70px;
  background: linear-gradient(rgba(0, 29, 35, 0.8), rgba(0, 29, 35, 0.8)), url(https://technext.github.io/chariteam/img/carousel-2.jpg);
  background-position: 100%;
  background-repeat: no-repeat; }

.box4-haci {
  width: 40%;
  margin: 10px;
  height: auto;
  text-align: center;
  z-index: 1;
  text-align: left; }
  .box4-haci .feature {
    width: 20%; }
  .box4-hacih2 {
    color: white;
    text-align: left; }

.box5-haci {
  width: 40%;
  margin: 10px;
  height: auto;
  text-align: center;
  background-color: white;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 1; }
  .box5-haci-form-text-mail {
    width: 95%;
    height: 50px;
    background-color: #F8F8F9;
    margin-bottom: 10px;
    border: 0px;
    padding-left: 5px; }
  .box5-haci .radiobuttons {
    position: relative;
    display: inline-flex;
    width: 95%;
    background-color: #F8F8F9;
    height: 50px; }
    .box5-haci .radiobuttons-secili-button:checked + label {
      color: #FF6F0F;
      border-color: #FF6F0F; }
    .box5-haci .radiobuttons-secili-button {
      position: absolute;
      clip: rect(0, 0, 0, 0);
      pointer-events: none; }
    .box5-haci .radiobuttons-radiobutton {
      display: inline-block;
      font-weight: 400;
      color: #787878;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 6px;
      position: relative;
      flex: 1 1 auto; }
  .box5-haci .button3-haci {
    height: 50px;
    width: 35%;
    margin-left: 3%;
    background-color: #FF6F0F;
    border: 2px solid #FF6F0F;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px; }
    .box5-haci .button3-haci:hover {
      background-color: white;
      color: #FF6F0F; }

.feature {
  color: #FF6F0F;
  background-color: #ebd9cd;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 15px; }

h2 {
  font-size: 38px;
  text-align: center;
  font-weight: bolder; }

@media screen and (max-width: 768px) {
  .container-2haci .box-haci {
    width: 85%;
    margin-bottom: 40px; }
  .img1-haci, .imgbutton {
    height: 300px; }
  .container-4haci .box3-haci {
    width: 70%; }
  .box4-haci {
    width: 85%; }
  .box5-haci {
    width: 80%; }
  .container-5haci {
    padding: 0px;
    padding-top: 40px;
    padding-bottom: 60px; }
    .container-5haci .feature {
      width: 25%; }
  .img2-haci {
    height: 750px; } }
