.games-category{
    .container{
        .select {
            font-size: 20px;
            color: #afafaf;
            border: none;
           option{
            height: 50px;
           }
        }

       .filter-btn{
        display: grid;
        grid-template-columns: max-content auto;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
       }


       .filter-header{
        padding: 16px 0;
        background-color: #000000;
        .x-btn{
            position: absolute;
            top: 18px;
            right: 18px;
            background-color: #afafaf;
           }
       }
       .offcanvas{
        
        .offcanvas-body{
            position: relative;
            .special-btn{
                position: fixed;
                bottom: 5%;
                left: 3%;
                padding: 10px 0;
                color: #fff;
                width: 94%;
                
                
                
            }
           }
       }
      
       
    }
}