#memberShipCol1{
    display: flex;
    justify-content: center;
}
#memberShipCol2{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}
#memberShipCol3{
    display: flex;
    justify-content: center;
}

.price {
    width: 75%;
    list-style-type: none;
    border: 1px solid #292929;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    :hover {
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
      }
    .header{
        background-color: #111;
        color: white;
        font-size: 25px;
    }
    li{
        background-color: #292929;
        color: #eee;
        padding: 4%;
        text-align: center;
    }
    .containerOkSign{
        background-color: #292929;
        display: flex;
        flex-direction: row;
        justify-content: center;
        li{
            background-color: #292929;
            color: #eee;
            padding: 4%;
            text-align: center;
            width: 60%;
        }
        #grey-medium{
            color: #666666;
        }
    }
    
    .grey{
        background-color: #292929;
        font-size: 20px;
        color: white;
    }
    .headerStandart{
        background-color:#76b900 ;
        color: white;
        font-size: 25px;
    }
    .memberShipImg{
        background-color: #292929;
        img{
            height: 1px;
            width: 326px;
            object-fit: cover;
            border: solid 1px #666666;
            margin: 0rem;
            padding: 0rem;
        }
    }
    
  }