/* .paragraf{
    font-size: 24px;
}
@media only screen and (max-width : 768px){
    .paragraf{
        font-size: 14px;
    }
}

.link{
    font-size: 18px;
    text-decoration: none;
    color: brown;
}

.link:hover{
    color: darkorange;
    font-size: 19px;
    font-weight: 700;
}
.link:visited{
    color: aqua;
}
.link:active{
    color: fuchsia;
}

.text1 ::first-line{
    color: orange;

}
.text1 ::after{
    content: "bu after için deneme content";
}

.text1 ::first-letter{
    font-size: 30px;
} */


.buter {
    width: 200px;
    height: 200px;
    background-color: olive;
}

.inner{
    width: 50px;
    height: 50px;
    background-color: orange;
}