@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    transition: all 0.3s;
    text-transform: capitalize;
}
body{
    overflow-x: hidden;
    
    background-size: cover;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
                        "left content right"
                        "under under under"
                        "footer footer footer" ;
}
.log h2{
    color: white;
}
h2, p{
    color: rgb(0, 0, 0);
}
h1{
    color: rgb(0, 0, 0);
    font-size: 30px;
}
aside img, section img{
    border-radius: 30px;
    box-shadow: 8px 8px 15px rgb(7, 20, 46);
}
.header{
    grid-area: header;
    background-color: rgb(15, 216, 42);
}
.log{
    display: flex;
    background-color: rgb(14, 14, 14);
    justify-content: space-between;
    padding: 20px 15rem;
    color: aliceblue;
}
.log button{
    border-radius: 30px;
    padding: 10px 20px;
}
.log button:hover{
    scale: 1.5;
}
.log h2{
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 4px;
    font-size: 30px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5rem;
    background-image: linear-gradient(to right, #d1cc6b, #bfd47a, #aeda8b, #9edf9f, #91e3b3, #6edfc1, #47dad1, #00d4e1, #00c2f5, #00adff, #0092ff, #5f6dfb);
}
.nav{
    display: flex;
    gap: 15px;
    padding: 5px;
    font-size: 23px;
}
.nav li{
    border-bottom: 3px solid purple;
}
.ikons{
    display: flex;
    gap: 15px;
    font-size: 30px;
}
.ikons a{
    color: #000;
    padding: 5px;
    border: 1px solid transparent;
}
.ikons a:hover{
    scale: 1.2;
    border-radius: 50%;
    border-color: black ;
}
.left-item{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.right-item{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.left h2{
    color: black;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-area: left;
    padding-top: 30px;
    padding-left: 15rem;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-area: right;
    padding-top: 30px;
    padding-right: 15rem;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-area: content;
    padding: 30px;
}
.content-top{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content p{
    font-size: 20px;
}
.content img:hover, aside img:hover{
    scale: 1.1;
    rotate: 360deg;
}
.left img, .right img, .content img{
    background-size: cover;
    width: 100%;
    margin-bottom: 25px;
}
.content-bottom{
    display: flex;
    gap: 8px;
}
.content-bottom img{
    height: 500px;
}
aside p{
    color: #000;
    font-size: 22px;
}
.latest{
    grid-area: under;
    padding-top: 20px;
    margin-top: 20px;
    padding-right: 17%;
    padding-left:17%;
    
}
.content-under{
    display: flex;
    margin-top: 20px;
    padding: 5px;
    margin-bottom: 20px;
}
.content-under:hover{
    scale: 1.1;
    transform: translateX(10%);
}
.u1:hover{
    scale: 1.1;
    transform: translateX(-10%);
}
.content-under img{
    background-size: cover;
    width: 40%;
    margin-right: 30px;
}
.gap h3{
    padding-bottom: 10px;
    font-size: 30px;
}
.gap p{
    font-size: 20px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    grid-area: footer;
    background-color: rgb(31, 31, 31);
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}
.foo{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px ;
    color: rgb(124, 124, 124);
    gap: 10px;
}
.foo h2{
    color: azure;
    font-weight: 200;
    text-decoration: underline;
}
footer li:hover{
    scale: 1.1;
    text-decoration: underline;
}
@media only screen and (max-width:768px){
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media only screen and (max-width:1200px){
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "header"
                            "left "
                            "content"
                            "right"
                            "under"
                            "footer" ;
        
    }
    .left{
        padding: 30px;
    }
    .left h2{
        margin: 0 auto;
        font-size: 40px;
        color:rgb(51, 51, 51);
        text-shadow: 2px 2px 5px #000;
    }
    .right{
        padding: 30px;
    }
    .latest{
        padding: 0;
        width: 90%;
        margin: 0 auto;
    }
}