

.Rectangle{
   
    border-image-source: linear-gradient(to bottom, #656565, #2a2a2a);
    border-width: 1px;
    background-image: linear-gradient(to bottom, #1e1e1e,#000000);
    // display: grid;
    //     grid-template-columns: max-content auto;
    //     align-items: center;
        // margin: 1.5rem 0;
}