*{
  margin: 0;
  padding: 0;
}
$margin50: 50px;
$gap10: 10px;
$gap20: 20px;
$textcolor:rgba(255,255,255,0.5);
$maincolor: #FF6F0F;
$secondcolor: white;
$fontweight500: 500;
$textfont20: 20px;
$padding30: 30px;
$mainpadding250: 250px;
$secondbordercolor:#FFF0E6 ;
$padding5: 5px;
$padding15: 15px;
$gap100: 100px;
$one-photo-width: 500px;
$one-photo-height: 500px;
$h1size: 44px;
$padding20: 20px;
$padding30: 30px;
$textcolor2: #787878;
$textfont16: 16px;
$section-bg-color: #F8F8F9;
.flex{
  display: flex;
}
.first-main{
  background-image: url(https://technext.github.io/chariteam/img/carousel-2.jpg);
}
.constant-navigation{
  color: $textcolor;
  border-bottom: 1px solid $textcolor;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  @extend .flex;
  &-left{
    margin-left: $margin50;
    @extend .flex;
    gap: $gap20;
  }
  &-maps{
    @extend .flex;
    gap: $gap10;
  }
  &-message{
    @extend .flex;
    gap: $gap10;
  }
  &-right{
    @extend .flex;
    gap: $gap10;
    margin-right: $margin50;
    & a{
      color: $textcolor;
    }
  }

}
.navigation{
  @extend .flex;
  justify-content: space-between;
  padding: 25px 0;
  &-paragraph{
    margin-left: $margin50;
    color: $secondcolor;
    font-size: calc(1.375rem + 1.5vw)
  }
  &-paragraph-chari{
    color: $maincolor;
    
  }
  &-ul{
    
    @extend .flex;
    align-items: center;
    gap: $gap20;
    list-style: none;
    margin-right: $margin50;
    font-size: $textfont20;
    font-weight: 500;
    color: $secondcolor;
  }
  &-ul-a{
    text-decoration: none;
  }
  &-ul-button{
    border-radius: 7px;
    padding: $gap10;
    border: 1px solid $maincolor;
    color: $maincolor;
    background-color: none;
    font-size: $textfont20;
  }
}
.navigation-ul-a:visited{
  color: $secondcolor;
}
.navigation-ul-a:hover{
  color: $maincolor;
}
.navigation-ul-button:hover{
  background-color: $maincolor;
  color: $secondcolor;
  cursor: pointer;
}
.main-text{
  width: 600px;
  margin: auto;
  font-size: calc(1.375rem);
  font-weight: 700;
  text-align: center;
  padding-bottom: $mainpadding250;
  &-title{
    padding-top: $mainpadding250;
    color: $secondcolor;
  }
  &-paragraph{
    padding:$padding30;
    color:$textcolor;
  }
  &-button{
    @extend .navigation-ul-button;
    background-color: $maincolor;
    color: $secondcolor;
  }
}
.main-text-button:hover{
  cursor: pointer;
  background-color: $secondcolor;
  color: $maincolor;
}
.section{

  padding: 150px 300px;
}
.section1{
  @extend .section;
  display: grid;
  grid-template-columns: auto auto;
  gap: $gap100;
 
  &-img1{
    width: $one-photo-width;
    height: $one-photo-height;
  }

  &-right-aboutUs{
  text-align: center;
  width: 100px;
  padding: $padding5 0;
  border: $secondbordercolor solid 1px;
  background-color:  $secondbordercolor;
  color: $maincolor;
  border-radius: 25px;
}
&-right-h1{
  font-size: $h1size;
  font-weight: 700;
  padding-bottom: $padding30;
}
&-right-card{
  border-bottom: 5px $maincolor solid;
  border-radius: 8px;
  font-size: $textfont20;
  padding: $padding30;
  background-color: #F8F8F9;
  &-paragraph-name{
    color: $maincolor;
    padding-top: $padding15;
  }
}
&-right-paragraph{
  padding-top: $padding20;
  font-size: $textfont20;
  color: $textcolor2;
  font-weight: $fontweight500;
  padding: $padding30 0;
}
&-right-buttons{
  
  padding-top: $padding15;
&-button1{
 @extend .main-text-button;

}
&-button2{
  @extend .navigation-ul-button;
  background-color: white;
}
}
}
.section2{
 @extend .section;
 background-color: $section-bg-color;
 margin: 0px 300px;
  &-featureCauses{
      display: flex;
      justify-content: center;
      @extend .section1-right-aboutUs;
      text-align: center;
      padding-left: 10px; padding-right: 10px;
  }
  &-h1{
    font-size: $h1size;
    text-align: center;
    padding-top: 20px;
    width: 600px;
  }
  &-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    
    gap: $gap20;
    &-card{
    width: 300px;
    border-top: 7px $maincolor solid;
    border-radius: 7px;
    &-cardtitle{
      width: 100px;
      border: 1px $maincolor solid;
      border-radius: 7px;
      display: flex;
      margin: auto auto ;
      padding: $padding5;
      background-color: $maincolor;
      color: $secondbordercolor;
      margin-top: 0;
      & h3{
        font-size: $textfont20;
        margin: auto auto;
      }
      }
    }
    &-card-amount{
      display: flex;
      justify-content: space-evenly;
    };
  }


}