footer{
    .footer__lists{
        color: white;
        display: flex;
        flex-direction: row;
        .footerlists__four{
            margin-left: 450px;
        }
        ul{
            list-style: none;
            margin-left: 121px;
        }
        li{
            
            font-size:16px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #1e1e1e;
        }
    }
}
.copyrightpart{
    .copyright__elements{
        background-color: #1e1e1e;
        color: white;
        padding-top: 4px;
        padding-bottom: 1px;
        ul{
            list-style: none;
            margin-left: 121px;
            display: flex;
            flex-direction: row;
            li{
                margin-right: 30px;
            }
        }
    }
    .footerendpart__copyright{
        margin-left: 950px;
    }
}
@media screen and (max-width:768px) {
    .footer__lists{
        flex-direction: column !important;
        .footerlists__four{
            margin-left: 120px!important;
        }
    }
    .copyright__elements{
        ul{
            flex-direction: column !important;
            margin-top: 3%;
        }
        .footerendpart__copyright{
            margin-left: 0px;
            margin-top: 2%;
            color: #afafaf;
        }
    }
    
    
}

