.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.classStatus {
  color: #fff;
  font-size: 24px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 25px auto;
  cursor: pointer;
  border-radius: 25px;
  padding: 5px;
}

.classStatus:hover {
  font-size: 28px;
}

.classStatus.passed {
  background-color: rgb(28, 161, 1);
}

.classStatus.passed:hover {
  background-color: rgb(15, 80, 2);
}

.classStatus.failed {
  background-color: rgb(122, 14, 14);
  color: #fff;
}

.classStatus.failed:hover {
  background-color: rgb(71, 0, 0);
  color: #fff;
}

.customButton {
  background-color: orangered;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-right: auto;
  margin-left: auto;
}
