.moduleCss {
  background-color: red;
  width: 200px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
}

.customButton {
  background-color: olivedrab;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-right: auto;
  margin-left: auto;
}

.success {
  background-color: green;
}
.error {
  background-color: rgb(128, 0, 0);
}
.primary {
  background-color: rgb(40, 15, 184);
}
