* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: rgb(33, 34, 97);
}
ul {
  list-style: none;
}
img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
}
.btn {
  display: inline-block;
  border: none;
  border-radius: 4px;
  color: rgb(243, 234, 224);
  background-color: rgb(245, 166, 20);
  padding: 0.4rem 1.6rem;
  text-align: center;
  margin-top: 0.6rem;
}
.btn:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: rgb(245, 166, 20);
}

#main-nav {
 
  position: sticky;
  top: 0%;
  z-index: 3;
  background-color: #fff;
}
#main-nav .container {
  display: grid;
  grid-template-columns: 0.6fr 3fr 2fr;
  padding: 1rem;
  align-items: center;
}
#main-nav .logo {
  width: 120px;
  background-color: #fff;
  margin: auto;
}
#main-nav ul {
  display: flex;
  justify-self: center;
}

#main-nav .social-icons {
  justify-self: right;
}

.social-icons a:hover {
  color: rgb(236, 164, 6);
}
#main-nav ul li a {
  padding: 0.8rem;
  font-weight: bold;
  font-size: 2rem;
  background-color: #fff;
  transition: background-color all 0.5s linear;
}
#main-nav ul li a:hover {
  color: rgb(5, 13, 83);
  background-color: rgb(252, 162, 103);
}
#header {
  background-color: rgb(49, 49, 49);
  color: #fff;
  padding: 2rem;
  position: relative;
}
#header::before {
  content: "";
  background-color: pink;
  background-image: url("./img/row.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

#header .header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 50vh;
  align-items: center;
}
#header .header-content {
  z-index: 2;
  position: absolute;
}

#header .header-content p {
  margin: 1rem;
}

#main-articles .articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.2rem 1.6rem;
  margin: 1rem auto;
}

.category {
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 0.9rem 0.7rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
  background-color: rgba(255, 174, 52, 0.966);
}
.card {
  background-color: rgba(207, 207, 207, 0.363);
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 4%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.card:hover {
  background-color: rgba(255, 244, 244, 0.308);
  transform: scale(1.1);
  box-shadow: rgba(236, 157, 9, 0.35) 0px -50px 36px -24px inset;
}
/* footer */

#main-footer {
  background-color: rgba(255, 255, 255, 0.342);
  color: white;
  padding: 2rem 4rem;
  border-top: 1px solid rgba(136, 123, 98, 0.781);
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  color: rgba(0, 14, 78, 0.87);
}
#main-footer .footer-container input[type="email"] {
  width: 90%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

#main-footer .footer-container input[type="submit"] {
  width: 90%;
}

#main-footer .footer-container ul li {
  padding: 0.5rem 0;
  border-bottom: 1px dotted rgb(243, 233, 233);
  width: 90%;
  color: rgb(9, 35, 90);
}
#main-footer .footer-container > :last-child {
  background-color: rgba(255, 160, 35, 0.829);
  grid-column: 1 / span 4;
  padding: 0.5rem;
  text-align: center;
}

@media screen and (max-width: 992px) {

  .header-social {
    display: none;
  }
  #main-nav .container{
   
    display:flex;
    flex-direction: column;
    align-items: center;}

  #main-articles .articles-container{
    display: grid;
    grid-template-columns: 1fr;
  }
  #main-footer .footer-container{
    display:flex;
 flex-direction: column;
  } 
   #main-footer img{
  width:120px;}