:root {
    --green: #76b900;
    --black: #000;
    --grey-medium: #666;
    --grey-light: #b2b2b2;
    --red: #ff2525;
    --bluey-grey: #8e9fad;
    --black-two: #1e1e1e;
  }
.firstBtn{
    width: 200px;
    background-color: #76b900;
    margin: 6px 0 7px 61px;
    padding: 0 0.5px;
    color: #fff;
    border: 0;
}
.secondBtn{
    width: 185px;
    margin: 0;
    background-color: #76b900; 
    color: #fff;
    border: 0;
}
.thirdBtn{
    width: 326px;
    margin: 0;
    background-color: #76b900; 
    color: #fff;
    border: 0;
}
.fourBtn{
    width: 185px;
    margin: 0;
    background-color: transparent; 
    color: #76b900;
    border: 1px solid #76b900;
}
.fiveBtn{
    width: 384px;
    margin: 0;
    background-color: transparent; 
    color: #fff;
    border: 0;
    background-color: #A1AEBC;
}

body{
    font-family: GreycliffCF !important;
    font-size: 16px !important;
}
.carousel-control-prev{
    width: 10% !important;

}
.carousel-control-next{
    width: 10% !important;
    
}
.carousel-indicators{
    bottom: 10rem !important;
    margin-left: 10.4% !important;
    justify-content: start !important;
}
.carousel-indicators [data-bs-target] {
    border-radius: 50% !important;
    height: 10px !important;
    width: 10px !important;
    margin-left: 10px !important;
}
.carousel-indicators .active {
    background-color: green !important;
}
.container{
    width: 1440px !important;
    max-width: 1200px !important;
    padding: 0 !important;
}
.container a{
    color: black !important;
}
.row{
    --bs-gutter-x: 0 !important; 
}
.navbar-collapse{
    flex-grow: 0 !important;
}
.navbar{
    padding: 0 !important;
}