.container {
  display: flex; 
}

.container .box1, .container .box2, .container .box3 {
  padding: 30px; 
}

.box1, .box2, .box3 {
  width: 100px;
  height: 100px;
  background-color: green;
  margin: 10px; 
}

.box2 {
  width: 200px;
  background-color: red; 
}