body {
    margin: 0;
    padding: 0;
  }
  
  .wrap {
    width: 980px;
    margin: 0 auto;
  }
  
  .header {
    height: 150px;
    margin-bottom: 10px;
    background: linear-gradient(to bottom,#F2A71B ,#5db5c9) ;
    border-radius: 20px;
    border: 1px solid #025E73
  }
  
  .content {
    width: 690px;
    height: 590px;
    background: linear-gradient(to right,#025E73,#F2A71B);
    float: right;
    border: 1px solid #025E73;
    border-radius: 20px;
    
  }
  
  .sidebar {
    width: 275px;
    height: 590px;
    background: linear-gradient(to left , #025E73 ,#F2A71B) ;
    float: left;
    border-radius: 20px;
    border: 1px solid #025E73
  }
  
  .footer {
    height: 150px;
    margin-top: 10px;
    background: linear-gradient(to top,#F2A71B ,#5db5c9) ;
    border-radius: 20px;
    border: 1px solid #025E73
  }
  
  .clear {
    clear: both;
  }