.imgpart{
    background-image: url("../../photos//loginimg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loginbox{
    margin: 104px 138px 104px 138px;
    width: 444px;
    background-color: rgb(255, 255, 255);
    h2{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 28px;
        color: #1e1e1e;
        font-weight: bold;
        padding: 40px 30px 20px 30px;
    }
}

input{
    text-indent: 10px;
    border: none;
    box-shadow: 0 0 1pt 0.3pt #D3D3D3;
    width: 384px;
    height: 56px;
    input.input__error,
    select.input__error {
        border-color: #fc8181;
}

}

.checkboxtext{
    font-size: 12px;
    color: #b2b2b2;
}


.error {
    color: #fc8181;
    font-size: 0.75rem;
    text-align: left;
    margin-top: 0.25rem;
}
button{
    background-color: #b2b2b2;
    border: none;
    color: #fff;
    width: 384px;
    height: 40px;
    font-size: 16px;
    font-family: GreycliffCF-Bold;
    button:disabled {
        opacity: 0.35;
      }
}

@media screen and (max-width:768px){
    .loginbox{
        margin-top: 0;
        background-color: #000000 ;
        h2{
            color: white;
        }
        p{
            color: rgba(178, 178, 178, 0.75);
        }
    }
    input{
        width: 280px;
        height: 56px;
    }
    button{
        width: 280px;
        height: 48px;
    }
}