
#searchSection{
    background-image: url("../images/foot-banner.46c1fc4c.png");
    background-size: cover;
    color: white;
    padding-bottom: 5%;
    h2{
        display: flex;
        width: 50%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    p{
        width: 50%;
        margin-bottom: 2%;
    }
    button{
        border: none;         
    }
    #input{
        display: flex;
        width: 50%;
        border: none;
        
    }
}

#filterAndGameList{
   background-color: black;
   padding-bottom: 5%;
   #filterColumn{
    margin-top: 8%;
    margin-left: 8%;
    background-color: #1e1e1e;
    @media screen and (max-width: 600px){
       margin: 0%;       
     }
   }
}

.dropDownDiv{
    #header{
        color: #afafaf;
        text-align: start;
    }
    @media screen and (max-width: 600px){
        display: none;       
      }
}

.dropDownDivMobile{
    #header{
        color: #afafaf;
        text-align: start;
    }
    @media screen and (min-width: 600px){
        display: none;       
      }
}
#gamesColumn{
    width: 60%;
    @media screen and (max-width: 600px){
        width: auto;
        display: block;      
    }
}