.flex{
    display: flex;
}
.box{
    display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: box;
}
.grid{
    display: grid;
}
$borderColor: linear-gradient(#656565, #2a2a2a);
@mixin defaultProperties($fontFamily, $fontSize, $fontWeight, $fontStretch, $fontStyle, $lineHeight, $letterSpacing){
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    font-stretch: $fontStretch;
    font-style: $fontStyle;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}
#myCarousel{
    padding: 0%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    .carousel-caption{
        line-height: 3rem;
        position: absolute;
        text-align: left;
        width: 40%;
        right: 100px;
        top: 28%;
        button{
            @include defaultProperties(GreycliffCF, 15px, bold, normal, normal, normal, normal);
            margin: 0%;
        }
        @media screen and (max-width: 600px) {
            display: none;
        }   
    }
    
}
#carouselCaptionResponsive{
    @media screen and (min-width: 600px) {
        display: none;
    }   
    @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        text-align: start;
        justify-content: start;
        background-color: #1e1e1e;
        color: white;
        img{
            height: 10%;
            width: 10%;
            margin-bottom: 2%;
        }
        button{
            margin: 0px;
        }
    }  
}
#positionContainer{
    background-color:#1e1e1e;
    width: 100%;
    #features{
        @extend .flex;
        font-size: 15px;
        box-shadow: 1px 10px 10px 1px black;
        position: relative;
        bottom: 60%;
        left: 15%;
        width: 65%;
        height: 150%;
        color: white;
        background-color:#1e1e1e;
        flex-direction: column;
        text-align: start;
        justify-content: center;
        align-items: center;
        .featuresHeader{
            font-size: 10px;
        }
        .flexDivs{
           @extend .flex;
           margin-top: 2%;
            gap: 3%;
            flex-direction: row;
            justify-content: center;
            
        }
        p{
            margin-top: 3%; 
        }
        @media screen and (max-width: 600px) {
            text-align: center;
            position: none;
            box-shadow: none;
            left: 0px;
            bottom: 0px;
            height: 100%;
            width: 100%;
        }
    }

}
#positionContainer2{ 
    background-color:#1e1e1e;
    color: white;
    
    .availableContainer{
        margin-left: 10%;
        padding-bottom: 3%;
        padding-top: 3%;
        #windows{ 
            @extend .flex;
            background-image: linear-gradient(#1e1e1e, #000000);
            border: 2px solid rgb(26, 26, 26);
            height: 120px;
            width: 386px;
            justify-content: center;
            align-items: center;
            align-content: center;
            img{
                margin-right: 2%;
               }
               @media screen and (max-width: 600px) {       
                margin: 0%;  
                      
            }
        }
        #mac{ 
            @extend .flex;
            background-image: linear-gradient(#1e1e1e, #000000);
            border: 2px solid rgb(26, 26, 26);
            height: 120px;
            width: 386px;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin-left: 2%;
            margin-right: 2%;
            @media screen and (max-width: 600px) {       
                 margin-left: 0%;  
                 margin-bottom: 2%; 
                 margin-top: 2%;
                 margin-right: 0%;
             }
        }
        #android{ 
            @extend .flex;
            background-image: linear-gradient(#1e1e1e, #000000);
            border: 2px solid rgb(26, 26, 26);  
            height: 120px;
            width: 386px;
            justify-content: center;
            align-items: center;
            align-content: center;
           img{
            margin-right: 2%;
           }
           @media screen and (max-width: 600px) {       
            margin: 0%;      
        }
        }    
        
    }
    .row{
        @media screen and (max-width: 600px) {
            display: flex;
            justify-content: center;
            margin: 0%;
            padding: 0%;
            margin-right: 10%;    
 
         } 
    }
}
#gameContainer{
    background-color: #000000;
    p{
        @include defaultProperties(GreycliffCF, 25px, bold, normal, normal, normal, normal);
        color: #76b900;
        padding-bottom: 5%;
        padding-top: 5%;
    }
    .col-6{
        @media screen and (max-width: 600px){
            margin-bottom: 2%;
        }
    }
    #gamesButton{
        padding-bottom: 5%;
    }
}
#memberShip{
    background-color: black;
    padding-bottom: 2%;
    @media screen and (max-width: 600px){
        margin-bottom: 2rem !important;
    }
}

#secondCarousel{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #1e1e1e;
    #innerCarouselContainer{
        padding-top: 6%;
        padding-bottom: 4%;
        width: 85%;
        #innerCarouselImg{
            padding: 0%;
            margin-left: 2%;
            img{
                width: 96%;
                height: 96%;
                margin-left: 5%;
            }
            @media screen and (max-width: 600px){
                margin-left: 0%;
                img{
                    margin-left: 0%;
                }
            }
        }
        #innerCarouselText{
            @extend .flex;
            flex-direction: column;
            justify-content: center;
            text-align: start;
            background-color:#292929;
            color: white;
            width: 60%;
            height: 387px;
            padding: 3%;
            p{
                color: #afafaf;
            }
            h5{
                color: #afafaf;
            }
            @media screen and (max-width: 600px){
               display: block;
               width: 100%;
            }
        }    
    } 
    @media screen and (max-width: 600px){
        background-color: #292929;    
     }
     button{
        @media screen and (max-width: 600px){
            display: none;   
         }
     }
}

#footerImg{
    padding: 0%;
    height: 30%;
    img{
     width: 100%;
    }
    @media screen and (max-width: 600px){
        display: none;   
     }
}

#responsiveFooter{
    @media screen and (min-width: 600px){
        display: none;   
     }
     @media screen and (max-width: 600px){
        display: flex;   
        padding: 0%;
        img{
            width: 100%;
        }
     }
}