#registerContainer{
    #registerColumn{
        background-color: black;
        margin: 0%;
        padding: 0%;
        #formContainer{
            width: 50%;
            height: 70%;
            margin-top: 13%;
            background-color: white;
            @media screen and (max-width: 600px){
                background-color: black; 
                padding-bottom: 50%;  
                margin-right: 32%; 
            }
        }
    }
    
    #imageColumn{
        padding: 0%;
        margin: 0%;
        img{
            width: 100%;
        }
        @media screen and (max-width: 600px){
            display: none;      
        }
    }
    @media screen and (max-width: 600px){
        height: 150%;     
    } 
   
}
