* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.section {
  padding: 100px;
}

.Eight {
  background-color: #f8f9fc;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.sectionHeader {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.header1 {
  color: #ff5714;
  font-size: 15px;
  font-weight: 600;
}

.header2 {
  font-weight: 600;
  font-size: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Roboto Slab', serif;
}

.launchPrg {
  color: #8492a6;
  line-height: 1.6;
}

.teamCards {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  gap: 25px;
  flex-wrap: wrap;
}

.profileCard {
  border-radius: 5px;
  height: 261px;
  width: 261px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 13px rgb(36 39 44 / 20%)
}

.profileCardP {
  width: 261px;
  height: 261px;
  max-width: 100%;
  border-radius: 5px;
  opacity: 1;
  transition: all 0.3s ease-out;
  position: absolute;
  
}

.infoCard {
  transition: 0.5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,
    -50%);
  display: flex;
}
.nameCard{
  width: 90%;
  padding: 18px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  top: 77%;
  left: 50%;
  text-align: center;
  border-radius: 5px;
}
.teamH4{
  text-decoration: none;
  font-size: 18px;
  color: black;
}
.teamH4:hover{
  color: #ff5714;
}
.nameIcon {
  width: fit-content;
  height: fit-content;
  position: relative;
  text-align: center;
  top: -8%;
  left: 88%;
}
.cardList{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cardList .fa-brands{
  height: 30px;
  width: 30px;
  background-color: #ff5714;
  padding: 7px;
  border-radius: 50%;
  color: white;
}
.cardList .fa-brands:hover{
  background-color: #DE4C12;
}

.profileCard:hover .profileCardP{
  transform: scale(1.05);
  opacity: 1;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.profileCard:hover .infoCard{
  opacity: 1;
}
.Numbers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 60px;
}

.column {
  text-align: center;
  width: 261px;
}

.columnSpan {
  font-size: 30px;
}

.columnSpan2 {
  color: #8492a6;
}

.Partners {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.partnersBetween {
  display: flex;
  justify-content: space-around;
  width: 1140px;
  flex-wrap: wrap;
}

.partnerLogo {
  height: 25px;
}

.blogCards {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 25px;
  flex-wrap: wrap;
}

.newsCard {
  width: 356px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(36 39 44 / 15%);
}

.cardHeader {
  width: 356px;
  border-radius: 5px 5px 0px 0px;
}

a {
  text-decoration: none;
}

.font18 {
  color: #24272c;
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.font18:hover {
  color: #ff5714;
}

.cardBody {
  padding: 30px 20px;
}

.readMore {
  display: block;
  margin-top: 20px;
  color: #24272c;
}

.readMore:hover {
  color: #ff5714;
}

.Ten {
  background-color: #f8f9fc;
}

.contactForm {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.formArea {
  background-color: white;
  display: block;
  height: 360px;
  width: 736px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(36 39 44 / 15%)
}

.form {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
}

.formBetween {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.fiftyPercent {
  width: 50%;
}

.width100 {
  width: 100%;
}

.formInput {
  border: 1px solid #dee2e6;
  font-size: 14px;
  background-color: #fff;
  border-radius: 6px;
  padding: 10px;
}

.submit {
  padding: 12px 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 6px;
  background-color: #ff5714;
  color: #fff;
  outline: none;
  border: none;
  box-shadow: 0 3px 5px 0 rgb(255 87 20 / 10%);
}
.submit:hover{
  background-color: #DE4C12;
  cursor: pointer;
}

.Contact {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactOptions {
  display: flex;
  gap: 20px;
}

.icon {
  padding: 5px;
}

.contactMember {
  font-size: 18px;
}

.dscrptn {
  color: #8492a6;
}

.footer {
  background-color: #202942;
}

.footerBar {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  gap: 250px;
  flex-wrap: wrap;
}

.footerColumn {
  text-align: center;
  color: #adb5bd;
}

.list {
  list-style: none;
  display: flex;
  gap: 5px;
}

.listElement {
  border: 1px solid #283353;
  border-radius: 5px;
  padding: 5px;
  color: #adb5bd;
}

.listElement:hover {
  background-color: #ff5714;
}
