$main-color: #76b900;
$semi-gray: #afafaf;
input.checkbox-input {
  transform: scale(150%);
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px !important;
  height: 20px !important;
  border: 1px solid $semi-gray;
  cursor: pointer;
  margin-right: 20px;
  display: grid;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  inset: auto auto 0px 0px;
  background-color: #fff;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:checked {
  background-color: $main-color;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);
  color: var(--form-control-disabled);
  cursor: not-allowed;
}
.form-control--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}
.checkbox-input {
  accent-color: $main-color !important;
}
.category-card {
  background: none !important;
  border: none !important;
}
.text-darkgray {
  color: $semi-gray;
}
.filter-games-wrapper {
  text-align: left;
  .check-content {
    box-sizing: border-box;
  }
  .checkbox__label {
    width: 80%;
    word-break: break-word;
  }
}
