body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bg-img{
    background-image:url(https://i.picsum.photos/id/102/4320/3240.jpg?hmac=ico2KysoswVG8E8r550V_afIWN963F6ygTVrqHeHeRc); 
    background-position:100%;
}
