* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  transition: all 0.3s;
  text-transform: capitalize; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header header header" "about about about" "feat feat feat" "what what what" "donate donate donate" "team team team" "test test test" "footer footer footer"; }
  .container header {
    grid-area: header;
    background-image: linear-gradient(to bottom, rgba(29, 29, 44, 0.8), rgba(29, 29, 44, 0.8)), url(https://technext.github.io/chariteam/img/carousel-1.jpg);
    background-size: cover; }
    .container header .info, .container header .navbar, .container header .navbar ul {
      display: flex;
      justify-content: space-between;
      padding: 1%;
      color: #a3a3a3;
      font-size: 19px;
      text-align: center; }
      .container header .info div, .container header .navbar div {
        display: flex;
        gap: 15px; }
    .container header .navbar div p {
      color: orange;
      font-size: 50px;
      text-align: center; }
    .container header .navbar ul {
      align-items: center;
      gap: 10px; }
      .container header .navbar ul button {
        color: orange;
        padding: 10px 20px;
        background-color: Transparent;
        border-color: orange;
        border-radius: 10px;
        cursor: pointer; }
        .container header .navbar ul button:hover {
          color: white;
          background-color: orange; }
    .container header .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 16%;
      gap: 20px; }
      .container header .main h1 {
        color: white;
        font-size: 50px;
        text-align: center; }
      .container header .main p {
        color: #b1b1b1;
        font-size: 20px;
        text-align: center; }
      .container header .main button {
        color: white;
        padding: 10px 20px;
        background-color: orange;
        border-color: orange;
        border-radius: 10px;
        cursor: pointer; }
        .container header .main button:hover {
          background-color: transparent;
          color: orange; }
  .container about {
    grid-area: about;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-top: 5%; }
    .container about h2 {
      margin-left: 10%;
      margin-bottom: 2%;
      background-color: #ffeac3;
      padding: 10px;
      border-radius: 20px;
      font-size: 20px; }
    .container about .mini {
      background-image: url("https://technext.github.io/chariteam/img/about-2.jpg");
      border: 7px solid white;
      padding: 8%;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      left: 29%; }
    .container about div {
      display: flex; }
      .container about div .big {
        background-image: url("https://technext.github.io/chariteam/img/about-1.jpg");
        padding: 25% 20%;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0px 0px 0px 60px; }
      .container about div .text {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px; }
        .container about div .text h3 {
          color: black;
          font-size: 60px;
          text-align: center; }
        .container about div .text p.tab {
          margin: 0px 120px 0px 120px;
          padding: 20px;
          background-color: whitesmoke;
          border-radius: 20px;
          color: black;
          font-size: 20px;
          text-align: start; }
        .container about div .text p.open {
          margin: 0px 100px 0px 120px;
          color: grey;
          font-size: 20px;
          text-align: start; }
        .container about div .text .button1 {
          color: white;
          padding: 10px 20px;
          background-color: orange;
          border-color: orange;
          border-radius: 10px;
          cursor: pointer; }
          .container about div .text .button1:hover {
            background-color: transparent;
            color: orange; }
        .container about div .text .button2 {
          color: orange;
          padding: 10px 20px;
          background-color: Transparent;
          border-color: orange;
          border-radius: 10px;
          cursor: pointer; }
          .container about div .text .button2:hover {
            color: white;
            background-color: orange; }
