@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Lato&family=Manrope:wght@200;400&family=Merriweather:ital,wght@0,900;1,300&family=Montserrat:ital@1&family=Noto+Serif:ital@0;1&family=Playfair+Display&family=Quicksand:wght@300;400&display=swap");
* {
  font-family: "Cormorant Garamond", serif;
  font-family: "Playfair Display", serif;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box; }

.btn, .pet-container .pet-box #delete-btn:hover, .pet-container .pet-box #edit-btn:hover, .pet-container .filter-pet .btn {
  background-color: rgba(37, 13, 15, 0.479);
  color: #f7f4f2; }
  .btn:hover, .pet-container .pet-box #delete-btn:hover, .pet-container .pet-box #edit-btn:hover, .pet-container .filter-pet .btn:hover {
    background-color: rgba(70, 4, 8, 0.5); }

.logo img {
  height: 134px; }

.navbar {
  height: 100px; }
  .navbar-nav .nav-item {
    margin: 9px; }
    .navbar-nav .nav-item a {
      font-size: 1.3rem;
      color: #923205; }
      .navbar-nav .nav-item a:hover {
        border-radius: 9px;
        border-bottom: 2px solid #7e3807; }

.fa-magnifying-glass {
  color: #923205;
  font-size: 30px; }

.header {
  height: 320px;
  background-color: rgba(206, 189, 189, 0.568);
  border-bottom: 1px #b3650d solid; }
  .header h3,
  .header p {
    color: #412906; }

.pet-container {
  background-color: rgba(204, 190, 206, 0.192);
  padding: 1.6rem; }
  .pet-container .pet-box {
    position: relative;
    overflow: hidden; }
    .pet-container .pet-box #delete-btn {
      font-size: 16px;
      color: #06030e;
      bottom: 2px;
      background-color: rgba(37, 13, 15, 0.479);
      position: absolute;
      bottom: 4px;
      left: 10px;
      margin-top: 10px;
      margin-left: 5px; }
    .pet-container .pet-box #edit-btn {
      width: 80px;
      font-size: 16px;
      bottom: 2px;
      margin-right: 5px;
      background-color: rgba(37, 13, 15, 0.479);
      position: absolute;
      bottom: 4px;
      right: 10px;
      margin-top: 10px;
      right: 10px; }
    .pet-container .pet-box .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      align-items: center;
      justify-content: center;
      background: rgba(66, 64, 64, 0.548); }
      .pet-container .pet-box .modal form {
        position: relative;
        min-width: 30%;
        min-width: 30;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        background: #854949;
        border-radius: 1.5rem;
        font-size: 1.2rem;
        color: #f7ebe5; }
        .pet-container .pet-box .modal form input {
          margin: 0.5rem 0;
          padding: 0.5rem;
          font-size: 1.2rem;
          border-radius: 20px; }
        .pet-container .pet-box .modal form button {
          border-radius: 25px;
          padding: 4px;
          color: #58031d;
          font-size: 1.2rem; }
      .pet-container .pet-box .modal #modal-kapat {
        position: absolute;
        right: 0;
        top: 0;
        background: gray;
        padding: 0.5rem;
        border-bottom-left-radius: 1rem;
        cursor: pointer; }
        .pet-container .pet-box .modal #modal-kapat:hover {
          background: #666666; }
    .pet-container .pet-box .pet-content {
      color: #4e2512;
      background-color: rgba(192, 117, 139, 0.123);
      width: 300px;
      height: 500px;
      margin: 0.3rem 0.8rem;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-right: 12px rgba(0, 2, 22, 0.185) solid;
      border-bottom: 12px rgba(0, 2, 22, 0.185) solid;
      border-radius: 35px;
      border-top: 2px solid #cec7c7;
      overflow: hidden; }
      .pet-container .pet-box .pet-content .adopt-btn {
        color: white;
        font-size: 1rem;
        background-color: #272727;
        border: 2px solid white;
        position: absolute;
        width: 138px;
        display: none;
        transform: translateY(-200px);
        transition: all 0.5ms; }
      .pet-container .pet-box .pet-content:hover > .adopt-btn {
        transform: translate(0);
        animation: animationfaderight 0.5s forwards;
        display: block; }

@keyframes animationfaderight {
  0% {
    transform: translateY(60px); }
  70% {
    transform: translateX(20px); }
  100% {
    transform: translate(0); } }
  .pet-container .filter-pet {
    padding: 1.4rem; }
    .pet-container .filter-pet .filter-container {
      margin-top: 16px; }
      .pet-container .filter-pet .filter-container .filter-header label {
        font-size: 1.4rem;
        padding: 0.3rem; }
      .pet-container .filter-pet .filter-container .filter-header h3 {
        color: #220f06; }
    .pet-container .filter-pet .pet-box #delete-btn:hover, .pet-container .pet-box .filter-pet #delete-btn:hover, .pet-container .filter-pet .pet-box #edit-btn:hover, .pet-container .pet-box .filter-pet #edit-btn:hover, .pet-container .filter-pet .btn {
      border-left: 4px solid rgba(20, 2, 11, 0.671);
      border-bottom: 4px solid #14020b; }

.adopted-container {
  background-image: linear-gradient(to left bottom, #faf9fa, #bbb9ba80, #e6cfce79, #d5beb1); }

.adopted-pet {
  margin: 12px;
  justify-content: center; }
  .adopted-pet div {
    height: 180px;
    margin: 0.5rem; }
    .adopted-pet div img {
      width: 200px; }
      .adopted-pet div img:hover {
        transform: scale(1.2);
        transition: all 1s; }
