.game-list {
  p {
    color: #fff;
  }
  background-color: #1e1e1e;
  .polygon {
    width: 60px;
    position: relative;

    span {
      font-size: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
