.mobilFilter {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: aqua;
}
.mobil-menü {
  align-items: center;
  justify-content: center;

  .mobil-filter {
    min-width: 100px;
    height: 43px;
    background-color: #1e1e1e;

    .close {
      position: absolute;
    }
    .cont2 {
      background-color: aqua;
    }
    button {
      color: white;
      text-align: start;
      padding: 10px 0 15px 17px;
      height: 100%;
      background-color: transparent;
      width: 100%;
    }
  }
}

@media (min-width: 992px) {
  .mobil-menü {
    display: none;
  }
}
