.sort-button {
  color: white;

  min-width: 130px;
  background-color: #1e1e1e;
  select {
    text-align: center;
    border-radius: 0;
    border: none;
    color: white;
    background-color: #1e1e1e;
    &:focus {
      box-shadow: none;
    }
  }
}
