.footer {
    ul{
        padding: 0;
        margin: 0;
        
        li{
            list-style-type: none;
        }
    }

    

    .container {
        .footer-right{
            span{
                font-family: 'GreycliffCF-Bold';
            }
        }
        small{
            
            font-family: 'GreycliffCF-DemiBold';
            
        }
        .all-rights{
            font-family: 'GreycliffCF-Regular';
            
            font-size: 10px;
        }

        .footer-icons{
            img{
                margin: 0 0.5rem;
            }
            .facebook-icon{
                margin-left: 0;
            }
        }
    }
    
}