.navbar{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: relative;
    align-items: baseline;
    margin-top: 1%;

}
body{
    margin: 0;
}

a{
    text-decoration: none;
}

.sosyalmedya{
    gap: 2px;
    font-size: 30px;
}

img:hover{
    cursor: pointer;
}

.container1{
    height: 800px;
    background-image: url(https://shreethemes.in/upstart/layouts/images/bg/1.jpg);
    margin-top: 2%;
    display: flex;
    align-items: center;
}
.container2{
    height: 650px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    background-color: #f8f9fc;
}
.container3{
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.c3box{
    width: 250px;
    height: 250px;
    background-color: black;
    border-radius: 20px;
}
.c3box1{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.c3box2{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.boxgap{
    column-gap: 50px;
}

.c2box1{
    width: 376px;
    height: 438px;
    margin-top: 5%;
    border-radius: 10px;

}
.c2box2{
    width: 500px;
    height: 500px;
    margin-top: 5%;
    
}
.c3yazibox{
    height: 200px;
    width: 500px;
}
.titleheading{
    height: 300px;
    color: white;
    margin-left: 5%;
}

button{
    color: white;
    background-color: orangered;
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 40px;
}

button:hover{
    cursor: pointer;
    background-color: red;
}
.video{
    border-radius: 10px;
}

.c2box3{
    height: 250px;
    
    margin-top: 25%;
}


.yaziboxedit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.c3yazibox2{
    height: 100px;
    width: 500px;
    margin-top: 20%;
}
