.comp1-row {
  position: absolute;
  /* top: 52%;
  left: 18%; */
  left: 16.5%;
  top: -38%;
  width: 69%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75);
}

.icon-col {
  height: 50px;
  width: 71px;
  padding: 4px;
}

.comp1-col1 {
  font-size: 16px;
  font-family: Greycliff-Regular;
  padding: 48px;
}

.comp3-title {
  font-family: Greycliff-Bold;
  font-size: 32px;
  color: #76b900;
}

.comp4Card-header {
  font-family: Greycliff-Bold;
  font-size: 28px;
  padding: 23px;
}
.comp4Card-title {
  font-family: Greycliff-Regular;
  font-size: 28px;
  padding: 12px;
}

.comp4Card-text {
  font-family: Greycliff-Regular;
  font-size: 24px;
  color: #b2b2b2;
}

.comp5Carousel-row {
  width: 95%;
  padding: 106px 120px;
}

.bg-motif-div {
  background-image: url(../../assets/gfn-motif-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: Greycliff-Regular;
  font-size: 28px;
  height: 310px;
}

.hexagon {
  background-image: url(../../assets/bg-color.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 158px;
  height: 138px;
}

@media only screen and (max-width: 1200px) {
  .comp1-row {
    position: relative;
    left: 0;
    margin: 0 auto;
    width: 100%;
    box-shadow: none;
  }

  .comp1-col1 {
    text-align: center;
    padding-bottom: 0;
  }

  .icon-col {
    height: 25px;
    width: 39px;
    padding: 0;
    margin: auto;
  }
  .comp2Card,
  .comp4Card {
    width: 100%;
  }

  .comp3-title {
    font-size: 21px;
  }

  .comp4Card-header {
    font-size: 24px;
    padding: 17px;
  }
  .comp4Card-title {
    font-size: 21px;
  }

  .comp4Card-text {
    font-size: 16px;
  }

  .comp4Card {
    width: 100%;
    padding: 0;
  }

  .comp5Carousel-row {
    padding: 0;
  }

  .comp6Card-div{
    gap: 15px;
  }

  .comp6-text {
    font-size: 16px;
  }

  .hexagon {
    width: 104px;
    height: 120px;
  }
  .hexagon-img {
    width: 45%;
  }
}

.comp2Card,
.comp4Card {
  width: 386px;
}

.Comp2Card-div {
  height: 120px;
  width: auto;
  border: 1px solid white;
  border-image-source: linear-gradient(to bottom, #656565, #2a2a2a);
  border-image-slice: 1;
  background: linear-gradient(to bottom, #1e1e1e, #000000);
}


