.navbar-nav{
  gap: 40px;
}

.nav-link {
  color: #000;
}
.logo {
  width: 317px;
  height: 53px;
}
.nav-link:hover {
  color: #76b900;
}

nav {
  background-color: #fff;
}

.nav-link:focus {
  color: #76b900;
}
.container-navbar{
  padding: 14px 119px 13px 120px;

}

@media (max-width: 768px) {
  .logo {
    width: 204px;
    height: 34px;
  }

  .navbar-nav{
    gap: 0px;
  }
  .container-navbar{
    padding: 13px 15px 12px 16px;
  
  }
  
}
