.gameBody{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 51px 120px 0;
}
.gameTop{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.gameTop h3{
  margin: 13px 0 33px 0;
  font-family: GreycliffCF;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  justify-self: flex-start
}
.gameBottom{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 960px){
    .gameBody{
        padding: 34px 20px 45px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .gameTop h3{
        margin: 0 65px 30px 66px;
        width: 149px;
        font-size: 21px;
    } 
    .gameBottom{
    flex-direction: column;
    width: 320px;
    }
  }