.block{
 display: block;
}
.flex{
    display: flex;
}
.card{
    box-shadow: 5px 15px 30px 20px black;
    &-text{
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    img{
        height: 175px;  
    } 
}    
#blogContainer{
    background-image: repeating-linear-gradient(180deg, grey, red);
    box-shadow: 0px 15px 30px 20px black;
    #carText{
      overflow: hidden;
      display: inline-block;
    #carText:first-of-type{
        animation: appear 6s;
    }
    #carText:last-of-type{
        animation: appear 6s;
    }
    span{
        animation: slide 6s;
      }
      @keyframes appear{
        0%{opacity: 0;}
        20%{opacity: 1;}
        80%{opacity: 1;}
        100%{opacity: 0;}
      }
      @keyframes slide{
        0%{margin-left:-800px;}
        20%{margin-left:-800px;}
        35%{margin-left:0px;}
      100%{margin-left:0px;}
      }
      @keyframes reveal{
        0%{opacity: 0; width: 0px;}
        20%{opacity: 1; width: 0px;}
        30%{width: 655px;}
        80%{opacity: 1;}
        100%{opacity: 0; width: 655px;}
      }
    }
}

.navbar{
    background-image: repeating-linear-gradient(180deg, red, grey);
    padding-bottom: 15%;
    background-size: cover;
    background-position: 20%;
    img{
        @extend .block;
        width: 20%;
        margin-left: 3%;
        
    }
   
}