$bgcolor: red;

.container {
    display: flex;
}

@mixin deneme($color) {
    background-color: $color;
    margin: 10px;
}

.box1 {
    width: 100px;
    height: 100px;
    @include deneme(green);
}
.box2 {
    @extend .box1;
    width: 200px;
    background-color: $bgcolor;
}
.box3 {
    @extend .box1;
}