*{
    margin: 0;
    padding: 0;
}

.header{
    display: grid;
    grid-template-rows: repeat(2,auto);    
}

.nav{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: space-around;
    align-items: center; 
}
.nav .menu ul li:first-child{
    background-color: orange;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
}

.headerText{
    padding-left: 175px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: yellow;
    color: white;
}

.headerText h1{
    margin-top: 10px;
    margin-bottom: 10px;
    text-indent: 7px;

}

.header p {
    margin-bottom: 15px;
}

.header button{
    background-color: orange;
    border: none;
    padding: 10px;
    border-radius: 3px;
    color: white;
}

ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 10px;
    
}

.tagTurkuvaz {
    background-color: turquoise;
    color: white;
    width: 45px;
    text-align: center;
    border-radius: 8px;
    padding: 3px;
}
.tagOrange {
    background-color: orange;
    color: white;
    width: 40px;
    text-align: center;
    border-radius: 8px;
    padding: 3px;
}

.content{
    display: grid;
    grid-template-rows: repeat(2,auto); 
    background-color: aliceblue;
}
.content h2{
    padding-top: 20px;
    padding-left: 175px;
}

.news {
    display: grid;
    grid-template-rows: repeat(3,auto);
    grid-template-columns: repeat(3,auto);
    justify-content: center;
    gap: 20px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 15px;
}

.newsBlok{
    padding: 10px;
    background-color: white;
    width: 350px;
} 

.newsBlok h6,h4,p {
    margin-top: 10px;
}

.newsBlok h4 {
    color: gray;
    font-weight: 300px;
    text-indent: 10px;
}

.footer{
    background-color: grey;
    color: white;
    display: grid;
    grid-template-rows: repeat(2,auto);
    padding-left: 175px;
    padding-right: 175px;
    padding-top: 15px;
}
.footerTop{
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: space-between;
    gap: 10px;
    
}

.footerMiddle input{
    width: 230px;
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    border: none;
    text-indent: 3px;
}
.footerMiddle div{
    width: 230px;
}
.footerMiddle div button{
    margin-top: 10px;
    width: 233px;
    background-color: orange;
    border: none;
    padding: 10px;
    border-radius: 3px;
    color: white;
}
.footerRight h2{
    margin-bottom: 10px;
}
.footerRight a{
    color: white;
    text-decoration: none;   
}
.footerRight hr{
    margin-bottom: 10px;
}

.footerBottom{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    background-color: sienna;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (max-width:768px) {
    .nav{
        margin-top: 10px;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .menu ul{
        margin-top: 20px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: repeat(4,auto);
        justify-content: space-evenly;
    }
    .socialMedia ul{
        display: none;
    }
    .headerText{
        padding-left: 30px;  
    }

    .content{
        display: grid;
        grid-template-rows: repeat(2,auto); 
        background-color: aliceblue;
        padding: 0 0;
    }
    
    .news {
        display: grid;
        grid-template-rows: repeat(1,auto);
        grid-template-columns: repeat(1,auto);
        justify-content: center;
        padding-left: 40px;
        padding-right: 10px;
        padding-top: 15px;
    }
    
    .newsBlok{
        padding: 10px;
        background-color: white;
        width: 200px;

    } 
    .newsBlok img{
        width: 200px;
    }
    .footer{
        background-color: grey;
        color: white;
        display: grid;
        grid-template-rows: repeat(2,auto);
        padding-left: 150px;
        padding-right: 250px;
        padding-top: 15px;
        text-align: center;
    }
    .footerTop{
        display: grid;
        grid-template-columns: repeat(1,auto);
        justify-content: center;
        
    }
}