.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.gradeStatus {
  color: #fff;
  font-size: 24px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gradeStatus.dd {
  background-color: rgb(237, 35, 35);
}
.gradeStatus.cc {
  background-color: rgba(230, 166, 166, 0.916);
}
.gradeStatus.bb {
  background-color: rgb(14, 122, 95);
}
.gradeStatus.aa {
  background-color: rgb(54, 122, 14);
}
