.container
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #fff;
    gap: 5px;
    grid-template-areas: "header header header"
                        "sidebar content content"
                        "sidebar . ."
                        "box1 box1 box1"
                        "footer footer footer";
}

.header{
    background-color: red;
    grid-area: header;

}

.content{
    background-color: yellow;
    grid-area: sidebar;
}

.box-1{
    background-color: rgb(162, 0, 255);
    grid-area: box1;
}

.footer{
    background-color: rgb(2, 212, 202);
    grid-area: footer;
}