@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600&display=swap");
/* variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.4s;
  list-style: none;
  text-transform: capitalize;
  font-family: inter; }

html {
  font-size: 10px; }

i {
  font-size: 2.5rem; }

a {
  color: #fff; }

span {
  font-size: 1.8rem; }

.s-h2 {
  font-size: 4rem;
  margin-bottom: 4.8rem; }

h4 {
  font-size: 1.6rem;
  color: #ff6f0f;
  padding: 0.4rem 1.6rem;
  margin-bottom: 1.6rem; }

h5 {
  font-size: 2rem;
  margin-bottom: 1.6rem; }

p {
  font-size: 1.6rem; }

body {
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "header header header" "home home home" "about about about" "feature feature feature" "whatwedo whatwedo whatwedo" "donatenow donatenow donatenow" "teammembers teammembers teammembers" "testimonial testimonial testimonial" "footer footer footer"; }
  body .header {
    position: fixed;
    top: 0;
    z-index: 6;
    width: 100%;
    background-color: rgba(0, 29, 35, 0.8);
    grid-area: header; }
    body .header .container .header-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 7%;
      border-bottom: 2px solid #3f3f3f; }
      body .header .container .header-top .h-t-left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        color: #ccc; }
        body .header .container .header-top .h-t-left span {
          font-size: 1.3rem; }
        body .header .container .header-top .h-t-left i {
          font-size: 1.4rem; }
      body .header .container .header-top .h-t-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem; }
        body .header .container .header-top .h-t-right span {
          color: #ccc;
          font-size: 1.4rem; }
        body .header .container .header-top .h-t-right .icons {
          display: flex;
          gap: 1rem; }
          body .header .container .header-top .h-t-right .icons i {
            color: #ccc;
            font-size: 1.8rem; }
            body .header .container .header-top .h-t-right .icons i:hover {
              color: #ff6f0f;
              scale: 1.2; }
    body .header .container .header-bottom {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-areas: "logo navbar btn";
      align-items: center;
      padding: 2rem 7%; }
      body .header .container .header-bottom .logo {
        grid-area: logo; }
        body .header .container .header-bottom .logo h2 {
          font-size: 3rem;
          color: #fff;
          cursor: pointer; }
        body .header .container .header-bottom .logo .h2 {
          color: #ff6f0f;
          font-size: 3rem; }
      body .header .container .header-bottom .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #00BAF0;
        background: transparent;
        color: #FFF;
        height: 50px;
        padding: 1rem; }
      body .header .container .header-bottom .menu {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0; }
        body .header .container .header-bottom .menu > li {
          margin: 0 1rem;
          overflow: hidden; }
      body .header .container .header-bottom .menu-button-container {
        display: flex;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      body .header .container .header-bottom #menu-toggle {
        display: none; }
        body .header .container .header-bottom #menu-toggle:checked + .menu-button-container .menu-button {
          background: rgba(255, 255, 255, 0); }
          body .header .container .header-bottom #menu-toggle:checked + .menu-button-container .menu-button::before {
            margin-top: 0px;
            transform: rotate(405deg); }
          body .header .container .header-bottom #menu-toggle:checked + .menu-button-container .menu-button::after {
            margin-top: 0px;
            transform: rotate(-405deg); }
      body .header .container .header-bottom .menu-button {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px; }
        body .header .container .header-bottom .menu-button::before {
          display: block;
          background-color: #fff;
          position: absolute;
          height: 4px;
          width: 30px;
          transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
          border-radius: 2px;
          content: '';
          margin-top: -8px; }
        body .header .container .header-bottom .menu-button::after {
          display: block;
          background-color: #fff;
          position: absolute;
          height: 4px;
          width: 30px;
          transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
          border-radius: 2px;
          content: '';
          margin-top: 8px; }
      body .header .container .header-bottom .btn {
        padding: 1rem 2rem;
        border: 1px solid #ff6f0f;
        border-radius: 1rem;
        background-color: transparent;
        color: #ff6f0f;
        text-align: center;
        font-size: 1.6rem;
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 0 0 0 auto; }
        body .header .container .header-bottom .btn:hover {
          background-color: #ff6f0f;
          color: #fff; }
        body .header .container .header-bottom .btn i {
          border-radius: 50%;
          padding: 1rem; }
        body .header .container .header-bottom .btn i {
          font-size: 1.6rem;
          align-items: center; }
  body .home {
    background-image: url(../image/carousel-1.jpg);
    background-size: cover;
    height: 100vh;
    grid-area: home;
    margin-bottom: 3rem; }
    body .home .homebg {
      background-color: #001d23 !important;
      height: 100vh;
      opacity: 0.75;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-areas: ". c-home .";
      position: relative; }
      body .home .homebg .btn-2 {
        z-index: 4;
        padding: 1rem 2rem;
        border: 1px solid #ff6f0f;
        border-radius: 1rem;
        background-color: #ff6f0f;
        color: #fff;
        width: 5rem;
        height: 5rem;
        position: absolute;
        top: 90%;
        right: 3rem;
        font-size: 3rem;
        padding: .5rem 1rem;
        position: fixed; }
        body .home .homebg .btn-2:hover {
          background-color: transparent;
          color: #ff6f0f; }
      body .home .homebg .container-home {
        grid-area: c-home;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2rem; }
        body .home .homebg .container-home .h1 {
          color: #fff;
          font-size: 5.6rem; }
        body .home .homebg .container-home .p {
          color: #ccc;
          font-size: 2rem; }
        body .home .homebg .container-home .btn {
          padding: 1rem 2rem;
          border: 1px solid #ff6f0f;
          border-radius: 1rem;
          background-color: #ff6f0f;
          color: #fff;
          font-size: 1.8rem;
          opacity: 1; }
          body .home .homebg .container-home .btn:hover {
            background-color: transparent;
            color: #ff6f0f; }
          body .home .homebg .container-home .btn i {
            font-size: 1.8rem;
            margin-left: 1rem; }
  body .about {
    grid-area: about;
    margin: 3rem 0; }
    body .about .container-about {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7rem;
      padding: 0 7%;
      flex-wrap: wrap; }
      body .about .container-about .about-left {
        width: 45%;
        min-width: 45rem;
        position: relative;
        padding: 5rem 2.4rem; }
        body .about .container-about .about-left img {
          width: 100%;
          height: auto; }
        body .about .container-about .about-left .img-top {
          position: absolute;
          width: 200px;
          height: 200px;
          border: 1rem solid #fff;
          left: 75%;
          top: 0; }
      body .about .container-about .about-right {
        width: 45%;
        padding: 0 2.4rem;
        min-width: 45rem; }
        body .about .container-about .about-right .p-24 {
          padding: 2.4rem;
          font-size: 1.6rem;
          border-bottom: 0.5rem solid #ff6f0f;
          border-radius: 0.6rem;
          margin-bottom: 2.4rem; }
          body .about .container-about .about-right .p-24 p {
            margin-bottom: 0.8rem; }
          body .about .container-about .about-right .p-24 span {
            color: #ff6f0f; }
        body .about .container-about .about-right .a-buttons {
          display: flex;
          gap: 2rem; }
          body .about .container-about .about-right .a-buttons .btn {
            padding: 1rem 2rem;
            border: 1px solid #ff6f0f;
            border-radius: 1rem;
            background-color: #ff6f0f;
            color: #fff;
            font-size: 1.6rem; }
            body .about .container-about .about-right .a-buttons .btn:hover {
              background-color: transparent;
              color: #ff6f0f; }
            body .about .container-about .about-right .a-buttons .btn i {
              font-size: 1.6rem;
              margin-left: 1rem; }
          body .about .container-about .about-right .a-buttons .btn-2 {
            padding: 1rem 2rem;
            border: 1px solid #ff6f0f;
            border-radius: 1rem;
            background-color: transparent;
            color: #ff6f0f;
            font-size: 1.6rem; }
            body .about .container-about .about-right .a-buttons .btn-2:hover {
              background-color: #ff6f0f;
              color: #fff; }
            body .about .container-about .about-right .a-buttons .btn-2 i {
              border-radius: 50%;
              padding: 1rem; }
            body .about .container-about .about-right .a-buttons .btn-2 i {
              font-size: 1.6rem;
              margin-left: 1rem; }
        body .about .container-about .about-right .p-1 {
          font-size: 1.6rem;
          color: #757171;
          margin-bottom: 4.8rem; }
  body .feature {
    grid-area: feature;
    margin: 3rem 0; }
    body .feature .feature-start {
      width: 100%;
      text-align: center; }
      body .feature .feature-start h4 {
        font-size: 1.6rem;
        color: #ff6f0f;
        padding: 0.4rem 1.6rem;
        margin-bottom: 1.6rem; }
      body .feature .feature-start .s-h2 {
        font-size: 4rem;
        width: 40%;
        margin: 0 auto;
        margin-bottom: 4.8rem; }
    body .feature .container-feature {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding: 0 7%;
      flex-wrap: wrap; }
      body .feature .container-feature .progress-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10rem; }
      body .feature .container-feature .feature-left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 1.5rem 1.5rem 1.5rem;
        border-top: 0.5rem solid #ff6f0f;
        border-radius: 0.5rem;
        width: 30%;
        min-width: 40rem; }
        body .feature .container-feature .feature-left .causes-tag {
          border-bottom-left-radius: 0.6rem;
          border-bottom-right-radius: 0.6rem;
          background-color: #ff6f0f;
          color: #fff;
          font-size: 2.1rem;
          display: inline-block;
          padding: 0 2.4rem 0.6rem 2.4rem;
          margin-bottom: 2.4rem; }
        body .feature .container-feature .feature-left span {
          font-size: 1.4rem;
          color: #787878; }
        body .feature .container-feature .feature-left .s-h2 {
          font-size: 2rem;
          margin-bottom: 0.5rem;
          text-align: center; }
        body .feature .container-feature .feature-left .p-24 {
          padding: 2.4rem;
          font-size: 1.6rem;
          text-align: center; }
          body .feature .container-feature .feature-left .p-24 p {
            color: #787878; }
        body .feature .container-feature .feature-left .feature-img {
          width: 100%; }
    body .feature .feature-center {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 1.5rem 1.5rem 1.5rem;
      border-top: 0.5rem solid #ff6f0f;
      border-radius: 0.5rem;
      width: 30%;
      min-width: 40rem; }
      body .feature .feature-center .causes-tag2 {
        border-bottom-left-radius: 0.6rem;
        border-bottom-right-radius: 0.6rem;
        background-color: #ff6f0f;
        color: #fff;
        font-size: 2.1rem;
        display: inline-block;
        padding: 0 2.4rem 0.6rem 2.4rem;
        margin-bottom: 2.4rem; }
      body .feature .feature-center span {
        font-size: 1.4rem;
        color: #787878; }
      body .feature .feature-center .s-h2 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        text-align: center; }
      body .feature .feature-center .p-24 {
        padding: 2.4rem;
        font-size: 1.6rem;
        text-align: center; }
        body .feature .feature-center .p-24 p {
          color: #787878; }
      body .feature .feature-center .feature-img {
        width: 100%; }
    body .feature .feature-right {
      padding: 0 1.5rem 1.5rem 1.5rem;
      border-top: 0.5rem solid #ff6f0f;
      border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 30%;
      min-width: 40rem; }
      body .feature .feature-right .causes-tag3 {
        border-bottom-left-radius: 0.6rem;
        border-bottom-right-radius: 0.6rem;
        background-color: #ff6f0f;
        color: #fff;
        font-size: 2.1rem;
        display: inline-block;
        padding: 0 2.4rem 0.6rem 2.4rem;
        margin-bottom: 2.4rem; }
      body .feature .feature-right span {
        font-size: 1.4rem;
        color: #787878; }
      body .feature .feature-right .s-h2 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        text-align: center; }
      body .feature .feature-right .p-24 {
        padding: 2.4rem;
        font-size: 1.6rem;
        text-align: center; }
        body .feature .feature-right .p-24 p {
          color: #787878; }
      body .feature .feature-right .feature-img {
        justify-content: center;
        width: 100%; }

.whatwedo {
  grid-area: whatwedo;
  margin: 4rem 0; }
  .whatwedo .whatwedo-start h4 {
    font-size: 1.6rem;
    color: #ff6f0f;
    padding: 0.4rem 1.6rem;
    margin-bottom: 1.6rem;
    text-align: center; }
  .whatwedo .whatwedo-start .s-h2 {
    font-size: 4rem;
    margin-bottom: 4.8rem;
    text-align: center; }
  .whatwedo .container-whatwedo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 7%;
    flex-wrap: wrap; }
    .whatwedo .container-whatwedo .whatwedo-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding: 3rem 0;
      width: 30%;
      min-width: 40rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      border: 1px solid #fff; }
      .whatwedo .container-whatwedo .whatwedo-left .what-img {
        width: 25%;
        height: auto; }
      .whatwedo .container-whatwedo .whatwedo-left .s-h2 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
        text-align: center; }
      .whatwedo .container-whatwedo .whatwedo-left .p-24 {
        padding: 2.4rem;
        font-size: 1.7rem;
        text-align: center; }
      .whatwedo .container-whatwedo .whatwedo-left .btn-2 {
        padding: 1rem 2rem;
        border: 1px solid #ff6f0f;
        border-radius: 1rem;
        background-color: transparent;
        color: #ff6f0f;
        font-size: 1.6rem; }
        .whatwedo .container-whatwedo .whatwedo-left .btn-2:hover {
          background-color: #ff6f0f;
          color: #fff; }
        .whatwedo .container-whatwedo .whatwedo-left .btn-2 i {
          border-radius: 50%;
          padding: 1rem; }
        .whatwedo .container-whatwedo .whatwedo-left .btn-2 i {
          font-size: 1.6rem;
          margin-left: 1rem; }
    .whatwedo .container-whatwedo .whatwedo-center {
      border: 1px solid #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      width: 30%;
      min-width: 40rem;
      padding: 3rem 0;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; }
      .whatwedo .container-whatwedo .whatwedo-center .what-img {
        width: 25%; }
      .whatwedo .container-whatwedo .whatwedo-center .s-h2 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
        text-align: center; }
      .whatwedo .container-whatwedo .whatwedo-center .p-24 {
        padding: 2.4rem;
        font-size: 1.7rem;
        text-align: center; }
      .whatwedo .container-whatwedo .whatwedo-center .btn-2 {
        padding: 1rem 2rem;
        border: 1px solid #ff6f0f;
        border-radius: 1rem;
        background-color: transparent;
        color: #ff6f0f;
        font-size: 1.6rem; }
        .whatwedo .container-whatwedo .whatwedo-center .btn-2:hover {
          background-color: #ff6f0f;
          color: #fff; }
        .whatwedo .container-whatwedo .whatwedo-center .btn-2 i {
          border-radius: 50%;
          padding: 1rem; }
        .whatwedo .container-whatwedo .whatwedo-center .btn-2 i {
          font-size: 1.6rem;
          margin-left: 1rem; }
    .whatwedo .container-whatwedo .whatwedo-right {
      border: 1px solid #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      width: 30%;
      min-width: 40rem;
      padding: 3rem 0;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; }
      .whatwedo .container-whatwedo .whatwedo-right .what-img {
        width: 25%; }
      .whatwedo .container-whatwedo .whatwedo-right .s-h2 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
        text-align: center; }
      .whatwedo .container-whatwedo .whatwedo-right .p-24 {
        padding: 2.4rem;
        font-size: 1.7rem;
        text-align: center; }
      .whatwedo .container-whatwedo .whatwedo-right .btn-2 {
        padding: 1rem 2rem;
        border: 1px solid #ff6f0f;
        border-radius: 1rem;
        background-color: transparent;
        color: #ff6f0f;
        font-size: 1.6rem; }
        .whatwedo .container-whatwedo .whatwedo-right .btn-2:hover {
          background-color: #ff6f0f;
          color: #fff; }
        .whatwedo .container-whatwedo .whatwedo-right .btn-2 i {
          border-radius: 50%;
          padding: 1rem; }
        .whatwedo .container-whatwedo .whatwedo-right .btn-2 i {
          font-size: 1.6rem;
          margin-left: 1rem; }

.donatenow {
  background-image: url(../image/carousel-2.jpg);
  background-size: cover;
  height: 75rem;
  grid-area: donatenow;
  margin-bottom: 3rem; }
  .donatenow .donatebg {
    background-color: #001d23 !important;
    height: 75rem;
    opacity: 0.75;
    padding: 0 7%; }
  .donatenow .container-donatenow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    padding: 2.5rem 0;
    gap: 5rem; }
    .donatenow .container-donatenow .donatenow-left {
      width: 45%;
      min-width: 45rem; }
      .donatenow .container-donatenow .donatenow-left h4 {
        width: 25%;
        min-width: 15rem;
        background-color: #ccc;
        border-radius: 10rem;
        font-size: 1.6rem;
        color: #ff6f0f;
        padding: 0.7rem 0;
        margin-bottom: 1rem;
        text-align: center; }
      .donatenow .container-donatenow .donatenow-left .s-h2 {
        color: #fff;
        font-size: 4rem;
        margin-bottom: 1rem; }
      .donatenow .container-donatenow .donatenow-left .p-24 {
        color: #fff;
        padding: 1rem;
        font-size: 1.7rem; }
    .donatenow .container-donatenow .donatenow-right {
      min-width: 45rem;
      width: 45%; }
      .donatenow .container-donatenow .donatenow-right .form-grant .subscribe {
        border: 1px solid #fff;
        height: 6rem;
        width: 100%;
        border-radius: 7px;
        margin-bottom: 1.5rem; }
        .donatenow .container-donatenow .donatenow-right .form-grant .subscribe:hover {
          cursor: pointer;
          color: #ff6f0f;
          border: 1px solid #ff6f0f; }
      .donatenow .container-donatenow .donatenow-right .form-grant .btn3 {
        background-color: #ccc;
        gap: 2rem;
        height: 6rem;
        width: 32.5%;
        font-size: 2rem;
        margin-bottom: 1.5rem; }
        .donatenow .container-donatenow .donatenow-right .form-grant .btn3:hover {
          cursor: pointer;
          color: #ff6f0f;
          border: 1px solid #ff6f0f; }
      .donatenow .container-donatenow .donatenow-right .form-grant .btn {
        padding: 1rem 2rem;
        border: 1px solid #ff6f0f;
        border-radius: 1rem;
        background-color: #ff6f0f;
        color: #fff;
        font-size: 1.6rem; }
        .donatenow .container-donatenow .donatenow-right .form-grant .btn:hover {
          background-color: transparent;
          color: #ff6f0f; }
        .donatenow .container-donatenow .donatenow-right .form-grant .btn i {
          padding-left: 1.5rem;
          font-size: 1.6rem; }

.team-members-section {
  margin-top: 7.2rem;
  grid-area: teammembers;
  padding: 1rem 7%; }
  .team-members-section .title {
    text-align: center; }
    .team-members-section .title h4 {
      font-size: 1.6rem; }
    .team-members-section .title h2 {
      font-size: 4rem;
      margin-bottom: 4.8rem; }
  .team-members-section .card-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    .team-members-section .card-group .card {
      background-color: #dcd5d5;
      border: 0px;
      text-align: center;
      border-radius: 0.5rem; }
      .team-members-section .card-group .card h3 {
        margin: 2.4rem 0rem 0.8rem 0rem;
        font-size: 2rem; }
      .team-members-section .card-group .card h4 {
        font-weight: 400; }
      .team-members-section .card-group .card img {
        width: 100%;
        height: auto;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem; }

.testimonial {
  grid-area: testimonial;
  padding: 1rem 7%;
  margin-top: 7.2rem; }
  .testimonial .title {
    text-align: center; }
    .testimonial .title h4 {
      font-size: 1.6rem; }
    .testimonial .title h2 {
      font-size: 4rem;
      margin-bottom: 4.8rem; }
  .testimonial .card-group {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "card-1 card-2 card-3";
    gap: 2rem; }
    .testimonial .card-group .card-1, .testimonial .card-group .card-2, .testimonial .card-group .card-3 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      grid-area: card-1;
      gap: 2rem; }
      .testimonial .card-group .card-1 img, .testimonial .card-group .card-2 img, .testimonial .card-group .card-3 img {
        border: 7px solid #ff6f0f;
        border-radius: 50%;
        align-items: center; }
      .testimonial .card-group .card-1 .card-description, .testimonial .card-group .card-2 .card-description, .testimonial .card-group .card-3 .card-description {
        background-color: #ff6f0f;
        border-radius: 1rem;
        padding: 1rem;
        text-align: center; }
        .testimonial .card-group .card-1 .card-description p, .testimonial .card-group .card-2 .card-description p, .testimonial .card-group .card-3 .card-description p {
          margin-bottom: 1.6rem; }
    .testimonial .card-group .card-2 {
      grid-area: card-2;
      justify-content: flex-start; }
      .testimonial .card-group .card-2 img {
        border: 7px solid #ff6f0f;
        border-radius: 50%; }
      .testimonial .card-group .card-2 .card-description {
        background-color: #ff6f0f;
        border-radius: 1rem;
        padding: 1rem;
        text-align: center; }
        .testimonial .card-group .card-2 .card-description p {
          margin-bottom: 1.6rem; }
    .testimonial .card-group .card-3 {
      grid-area: card-3; }
      .testimonial .card-group .card-3 img {
        border: 7px solid #ff6f0f;
        border-radius: 50%; }
      .testimonial .card-group .card-3 .card-description {
        background-color: #ff6f0f;
        border-radius: 1rem;
        padding: 1rem;
        text-align: center; }
        .testimonial .card-group .card-3 .card-description p {
          margin-bottom: 1.6rem; }

footer {
  grid-area: footer;
  padding: 1rem 7%;
  margin-top: 7.2rem;
  background-color: #001D23 !important; }
  footer .footer-top {
    margin-top: 7.2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-bottom: 4.8rem; }
    footer .footer-top .box-1 h2 {
      margin-bottom: 2.4rem;
      font-size: 4rem;
      color: #ff6f0f; }
      footer .footer-top .box-1 h2 span {
        font-size: 4rem;
        color: #fff; }
    footer .footer-top .box-1 p {
      color: #ccc;
      margin-bottom: 1.6rem; }
    footer .footer-top .box-1 ul {
      display: flex;
      gap: 1rem; }
    footer .footer-top .box-1 li {
      border: 1px solid #fff;
      padding: 0.5rem;
      border-radius: 0.5rem; }
    footer .footer-top .box-2 h3 {
      font-size: 2rem;
      color: #fff;
      margin-bottom: 2.4rem; }
    footer .footer-top .box-2 ul {
      font-size: 1.6rem; }
      footer .footer-top .box-2 ul li {
        color: #ccc;
        margin-bottom: 1.6rem; }
        footer .footer-top .box-2 ul li span {
          margin-left: 1rem; }
    footer .footer-top .box-3 h3 {
      font-size: 2rem;
      color: #fff;
      margin-bottom: 2.4rem; }
    footer .footer-top .box-3 ul {
      font-size: 1.6rem;
      color: #ccc; }
      footer .footer-top .box-3 ul li {
        padding: 0.3rem; }
    footer .footer-top .box-4 h3 {
      font-size: 2rem;
      color: #fff;
      margin-bottom: 2.4rem; }
    footer .footer-top .box-4 p {
      font-size: 1.6rem;
      margin-bottom: 1.6rem;
      color: #ccc; }
    footer .footer-top .box-4 .footer-button {
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      background-color: transparent; }
      footer .footer-top .box-4 .footer-button input {
        background-color: transparent;
        color: #fff;
        padding-left: 2.4rem;
        height: 4rem;
        border: 0px; }
      footer .footer-top .box-4 .footer-button button {
        height: 4rem;
        border-radius: 0.5rem;
        color: #fff;
        background-color: #ff6f0f;
        cursor: pointer; }
  footer .box-5 {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem; }
    footer .box-5 p {
      color: #ccc; }

@media only screen and (max-width: 992px) {
  .team-members-section .card-group {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem; }
  .footer .footer-top {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem; } }

@media only screen and (max-width: 768px) {
  .container-feature .feature-right {
    width: 100%;
    min-width: 50%; }
  .container-feature .feature-left {
    width: 100%; }
  .container-feature .feature-center {
    width: 100%; }
  .whatwedo .whatwedo-right {
    width: 100%;
    min-width: 50%; }
  .whatwedo .whatwedo-left {
    width: 100%; }
  .whatwedo .whatwedo-center {
    width: 100%; }
  .team-members-section .card-group {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem; }
  .testimonial .card-group {
    grid-template-areas: "card-1" "card-2" "card-3";
    grid-template-columns: 1fr;
    row-gap: 1rem; }
  .footer .footer-top {
    grid-template-columns: 1fr;
    gap: 5rem; } }

@media (max-width: 700px) {
  .menu-button-container {
    display: flex; }
  .menu {
    position: absolute;
    top: 110px;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center; }
    .menu > li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222; }
      .menu > li:not(:last-child) {
        border-bottom: 1px solid #444; }
  #menu-toggle {
    display: flex; }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1); }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1); } }
