@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600&display=swap");
/* variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.4s;
  list-style: none;
  text-transform: capitalize;
  font-family: inter; }

html {
  font-size: 10px; }

i {
  font-size: 2.5rem; }

a {
  color: #fff; }

span {
  font-size: 1.8rem; }

body {
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "header header header" "home home home"; }
  body .header {
    background-color: #7a7c9d;
    grid-area: header; }
    body .header .container {
      margin: 0 7%;
      background-color: #ccc; }
      body .header .container .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        body .header .container .header-top .h-t-left {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 2rem; }
        body .header .container .header-top .h-t-right {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 1rem; }
          body .header .container .header-top .h-t-right .icons {
            display: flex;
            gap: 1rem; }
      body .header .container .header-bottom {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas: "logo navbar btn";
        align-items: center;
        padding: 2rem 0; }
        body .header .container .header-bottom .logo {
          grid-area: logo; }
          body .header .container .header-bottom .logo h2 {
            font-size: 3rem;
            color: #fff;
            cursor: pointer; }
          body .header .container .header-bottom .logo .h2 {
            color: #ff6f0f;
            font-size: 3rem; }
        body .header .container .header-bottom .navbar {
          grid-area: navbar;
          padding-right: 3rem; }
          body .header .container .header-bottom .navbar ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 2rem; }
            body .header .container .header-bottom .navbar ul li {
              font-size: 1.8rem; }
        body .header .container .header-bottom .btn {
          grid-area: btn;
          padding: 1rem 2rem;
          border: 1px solid #ff6f0f;
          border-radius: 1rem;
          background-color: transparent;
          color: #ff6f0f;
          text-align: center;
          width: 75%;
          margin: 0 auto; }
          body .header .container .header-bottom .btn:hover {
            background-color: #ff6f0f;
            color: #fff; }
          body .header .container .header-bottom .btn i {
            font-size: 1.8rem;
            align-items: center; }
