ul{
    justify-content: center;
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: xx-large;
    color: gray;
}
a{
    color: grey;
}

body{
    background-color:#183b56;
    margin: 0;
}

.home{
    color: white;
}

.login{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10%;
    margin-left: 10%;
    cursor:pointer;
}

.ortalama{
    text-align: center;
}


header{
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 100px;
    color: white;
}

.buyuk{
    font-size: 30px;
    text-align: center;
    font-weight: 800;
    color: white;
}

.container{
    width: 70%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 80px;
  }
  .container3{
    width: 70%;
    height: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    margin-top: 80px;
  }

  .container4{
    width: 70%;
    height: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 100px;
    margin-top: 20px;
  }

  .container2{
    width: 70%;
    height: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }


.box{
    padding: 50px;
    width: 300px;
    border: 1px solid black;
    background-color: #87c066;
    margin-top: 100px;
}
img{
    width: 200px;
    margin-left: 30%;
    margin: 0;
}


.box2{
    
    background-color: aqua;
    flex-grow: 2;
}

.fbox{
    height: 400px;
}



.gecis{
    width: 100%;
    height: 500px;
    background-color: #87c066;
    margin: 0;
}
.gecis2{
    width: 100%;
    height: 1000px;
    background-color: #87c066;
    
}



  .fbutton{
    display: flex;
    gap: 70px;
  }

  .fbutton button{
    width: 150px;
    border-radius: 5%;
    cursor: pointer;
  }
  .buttoncolor:hover{
    background-color: blue;
  }

 

 a:hover{
    color: white;
 }

 aside{
    flex-direction: column;
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 10%;
    height:10px;
    margin-left: 2%;
    margin-top: 15%;
 }
 
 .logo{
    margin-left: 50%;
 }
 .color{
    color: white;
 }

 .buttoncolor{
    background-color: gray;
 }
 .buttoncolor:hover{
    color: blue;
 }

footer{
    margin-top: 400px;
}

nav{
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
}