@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

.flex, .constant-navigation, .constant-navigation-left, .constant-navigation-maps, .constant-navigation-message, .constant-navigation-right, .navigation, .navigation-ul, .ege-section2 .ege-container, .ege-section2 .ege-container .ege-img1, .ege-section2 .ege-container .ege-img1-content, .ege-footer-container, .ege-footer-container-boxes, .ege-footer-container-boxes .ege-box1 .ege-box1-head, .ege-footer-container-boxes .ege-box2 .ege-box2-head, .ege-footer-container-boxes .ege-box3-head, .ege-footer-container-boxes .ege-box4-head {
  display: flex; }

.first-main {
  background-image: url(https://technext.github.io/chariteam/img/carousel-2.jpg); }

.constant-navigation {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center; }
  .constant-navigation-left {
    margin-left: 50px;
    gap: 20px; }
  .constant-navigation-maps {
    gap: 10px; }
  .constant-navigation-message {
    gap: 10px; }
  .constant-navigation-right {
    gap: 10px;
    margin-right: 50px; }
    .constant-navigation-right a {
      color: rgba(255, 255, 255, 0.5); }

.navigation {
  justify-content: space-between;
  padding: 25px 0; }
  .navigation-paragraph {
    margin-left: 50px;
    color: white;
    font-size: calc(1.375rem + 1.5vw); }
  .navigation-paragraph-chari {
    color: #FF6F0F; }
  .navigation-ul {
    align-items: center;
    gap: 20px;
    list-style: none;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    color: white; }
  .navigation-ul-a {
    text-decoration: none; }
  .navigation-ul-button, .main-text-button, .section1-right-buttons-button1, .section1-right-buttons-button2 {
    border-radius: 7px;
    padding: 10px;
    border: 1px solid #FF6F0F;
    color: #FF6F0F;
    background-color: none;
    font-size: 20px; }

.navigation-ul-a:visited {
  color: white; }

.navigation-ul-a:hover {
  color: #FF6F0F; }

.navigation-ul-button:hover, .main-text-button:hover, .section1-right-buttons-button1:hover, .section1-right-buttons-button2:hover {
  background-color: #FF6F0F;
  color: white;
  cursor: pointer; }

.main-text {
  width: 600px;
  margin: auto;
  font-size: calc(1.375rem);
  font-weight: 700;
  text-align: center;
  padding-bottom: 250px; }
  .main-text-title {
    padding-top: 250px;
    color: white; }
  .main-text-paragraph {
    padding: 30px;
    color: rgba(255, 255, 255, 0.5); }
  .main-text-button, .section1-right-buttons-button1 {
    background-color: #FF6F0F;
    color: white; }

.main-text-button:hover, .section1-right-buttons-button1:hover {
  cursor: pointer;
  background-color: white;
  color: #FF6F0F; }

.section, .section1 {
  padding: 150px 300px; }

.section1 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 100px; }
  .section1-img1 {
    width: 500px;
    height: 500px; }
  .section1-right-aboutUs, .section2-featureCauses {
    text-align: center;
    width: 100px;
    padding: 5px 0;
    border: #FFF0E6 solid 1px;
    background-color: #FFF0E6;
    color: #FF6F0F;
    border-radius: 25px; }
  .section1-right-h1 {
    font-size: 44px;
    font-weight: 700;
    padding-bottom: 30px; }
  .section1-right-card {
    border-bottom: 5px #FF6F0F solid;
    border-radius: 8px;
    font-size: 20px;
    padding: 30px;
    background-color: #F8F8F9; }
    .section1-right-card-paragraph-name {
      color: #FF6F0F;
      padding-top: 15px; }
  .section1-right-paragraph {
    padding-top: 20px;
    font-size: 20px;
    color: #787878;
    font-weight: 500;
    padding: 30px 0; }
  .section1-right-buttons {
    padding-top: 15px; }
    .section1-right-buttons-button2 {
      background-color: white; }

.section2 {
  background-color: #F8F8F9;
  margin: 0px 300px;
  padding-top: 100px;
  padding-bottom: 100px; }
  .section2-featureCauses {
    width: 170px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto; }
  .section2-h1 {
    margin: 0 auto;
    font-size: 44px;
    text-align: center;
    padding-top: 20px;
    width: 600px; }
  .section2-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    padding-top: 100px;
    gap: 20px; }
    .section2-cards-card {
      width: 300px;
      border-top: 7px #FF6F0F solid;
      border-radius: 7px;
      padding-bottom: 0 !important; }
      .section2-cards-card-cardtitle {
        width: 100px;
        border: 1px #FF6F0F solid;
        border-radius: 7px;
        display: flex;
        margin: auto auto;
        padding: 5px;
        background-color: #FF6F0F;
        color: #FFF0E6;
        padding-top: 0 !important; }
        .section2-cards-card-cardtitle h3 {
          font-size: 20px;
          margin: auto auto; }
        .section2-cards-card-cardtitle-secondertitle {
          font-size: 30px;
          padding-top: 20px;
          padding-bottom: 20px; }
      .section2-cards-card p {
        padding-top: 20px;
        font-size: 20px;
        color: #787878; }
        .section2-cards-card p span {
          color: black; }
      .section2-cards-card-image {
        padding-top: 30px;
        width: 300px; }
    .section2-cards-card-amount {
      display: flex;
      justify-content: space-between; }

.container-image {
  position: relative;
  width: 50%;
  max-width: 300px; }

.section2-cards-card-image {
  display: block;
  width: 300px;
  height: auto; }

.overlay {
  position: absolute;
  margin-top: 30px;
  top: 0;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 300px;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding-top: 62%;
  padding-bottom: 60%;
  text-align: center; }
  .overlay-button {
    display: flex;
    text-align: center;
    margin: auto auto;
    align-items: center;
    background-color: #FF6F0F;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white; }

.container-image:hover .overlay {
  opacity: 1; }

/* Emre Düdükçü*/
.what-we-do {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: none;
  height: none;
  background-color: none;
  margin: none;
  padding: 48px 12px;
  color: none;
  font-size: none; }
  .what-we-do-first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 133px;
    background-color: none;
    margin: 0px 98px 48px;
    padding: 0px;
    color: inherit;
    font-size: inherit; }
    .what-we-do-first h2 {
      width: 125px;
      height: 32px;
      background-color: #fff0e6;
      margin: 0px 0px 16px;
      padding: 4px 16px;
      color: #ff6f0f;
      font-size: 16px;
      border-radius: 50rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: none; }
    .what-we-do-first h1 {
      width: 500px;
      height: 85px;
      background-color: none;
      margin: none;
      padding: none;
      color: #001d23;
      font-size: 36px;
      text-align: center; }
  .what-we-do-second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px; }
    .what-we-do-second-card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 336px;
      height: 347.7px;
      background-color: none;
      margin: 24px 0px 0px;
      padding: 24px;
      color: #787878;
      font-size: 16px; }
      .what-we-do-second-card img {
        margin-bottom: 24px; }
      .what-we-do-second-card h1 {
        width: 288px;
        height: 27.7px;
        background-color: none;
        margin: 0px 0px 16px;
        padding: 0px;
        color: #001d23;
        font-size: calc(1.275rem + 0.3vw);
        text-align: center; }
      .what-we-do-second-card p {
        width: 288px;
        height: 72px;
        background-color: none;
        margin: 0px 0px 24px;
        padding: none;
        color: #787878;
        font-size: 18px;
        line-height: 1.5;
        text-align: center; }
      .what-we-do-second-card input {
        width: 164.95px;
        height: 46px;
        background-color: white;
        margin: none;
        padding: 6px 16px;
        color: #ff6f0f;
        font-size: 18px;
        text-align: center;
        border-radius: 5px;
        border: 1px solid #ff6f0f; }
        .what-we-do-second-card input:hover {
          background-color: #ff6f0f;
          color: white;
          transition-duration: 0.5s;
          animation-timing-function: ease-in-out; }

.donate-now {
  width: none;
  height: none;
  background-color: #001d23cc;
  margin: none;
  padding: 48px 12px;
  color: none;
  font-size: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .donate-now-first {
    width: 582px;
    height: 229.03px;
    background-color: none;
    margin: 48px 0px 0px;
    padding: 0px 24px;
    color: #787878;
    font-size: none; }
    .donate-now-first h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 125.28px;
      height: 32px;
      background-color: #fff0e6;
      margin: 0px 0px 16px;
      padding: 4px 16px;
      color: #ff6f0f;
      font-size: 16px;
      border-radius: 15px; }
    .donate-now-first h1 {
      width: 444px;
      height: 90.06px;
      background-color: none;
      margin: 0px 0px 48px;
      padding: none;
      color: #ffffff;
      font-size: 37.525px; }
    .donate-now-first p {
      width: 444px;
      height: 96px;
      background-color: none;
      margin: none;
      padding: none;
      color: #ffffff80;
      font-size: 16px; }
  .donate-now-second {
    width: 534px;
    height: 378px;
    background-color: #ffffff;
    margin: none;
    padding: 48px;
    color: #787878;
    font-size: none; }
    .donate-now-second-input {
      width: 454px;
      height: 58px;
      background-color: #f8f8f9;
      margin: 16px 0px 0px;
      padding: 0px 8px;
      color: #787878;
      font-size: 16px;
      border: 0px;
      border-radius: 5px; }
      .donate-now-second-input:hover {
        border: 1px solid #dc3545; }
    .donate-now-second-value {
      display: flex;
      width: 454px;
      height: 58px;
      background-color: #f8f8f9;
      margin: 16px 0px 0px;
      padding: 0px 8px;
      color: #787878;
      font-size: 16px; }
      .donate-now-second-value input {
        width: 145.34px;
        height: 58px;
        background-color: #f9f9fa;
        margin: 0px 0px 0px -1px;
        padding: 16px 12px;
        color: #000000;
        font-size: 16px;
        border: 0;
        transition-duration: 0.5s;
        animation-timing-function: ease-in-out; }
        .donate-now-second-value input:hover {
          color: #ff6f0f;
          border: 1px solid #ff6f0f; }
      .donate-now-second-value-1 {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; }
      .donate-now-second-value-3 {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
    .donate-now-second-button {
      width: 454px;
      height: 58px;
      background-color: #f8f8f9;
      margin: 16px 0px 0px;
      padding: 0px 8px;
      color: #787878;
      font-size: 16px; }
      .donate-now-second-button-yapi {
        width: 236.11px;
        height: 60px;
        background-color: #ff6f0f;
        margin: none;
        padding: 6px 48px;
        color: #ffffff;
        font-size: 16px;
        border-radius: 5px;
        border: 0;
        transition-duration: 0.5s;
        animation-timing-function: ease-in-out; }
        .donate-now-second-button-yapi:hover {
          background-color: white;
          color: #ff6f0f;
          border: #ff6f0f 1px solid; }

/* Ege */
.flex, .constant-navigation, .constant-navigation-left, .constant-navigation-maps, .constant-navigation-message, .constant-navigation-right, .navigation, .navigation-ul, .ege-section2 .ege-container, .ege-section2 .ege-container .ege-img1, .ege-section2 .ege-container .ege-img1-content, .ege-footer-container, .ege-footer-container-boxes, .ege-footer-container-boxes .ege-box1 .ege-box1-head, .ege-footer-container-boxes .ege-box2 .ege-box2-head, .ege-footer-container-boxes .ege-box3-head, .ege-footer-container-boxes .ege-box4-head {
  display: flex; }

.grid, .ege-section2, .ege-footer-container {
  display: grid; }

.block {
  display: block; }

.ege-section {
  background-image: url(https://technext.github.io/chariteam/img/carousel-2.jpg); }

.ege-navbar {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: none;
  color: white;
  justify-content: space-between;
  align-items: center; }
  .ege-navbar p {
    padding-left: 50px; }
  .ege-navbar .ege-ul-navbar {
    display: flex;
    width: none;
    height: none;
    background-color: none;
    color: white;
    list-style: none;
    gap: 20px;
    padding-right: 50px; }
    .ege-navbar .ege-ul-navbarbutton {
      background-color: red;
      color: aqua; }

.ege-section2 {
  display: flex;
  width: 100%;
  height: none;
  background-color: none;
  color: none;
  padding-top: 5%;
  margin-bottom: 5%; }
  .ege-section2 .ege-container {
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .ege-section2 .ege-container p {
      color: #FF6F0F;
      border-radius: 6px;
      background-color: #FFF0E6;
      font-family: 'Inter', sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1,5;
      margin-bottom: 1rem; }
    .ege-section2 .ege-container h1 {
      color: black;
      width: 100%;
      height: 25px;
      border: none;
      padding: 0px 25%;
      max-width: 200ch;
      word-wrap: break-word;
      margin-bottom: 6rem;
      margin-left: 100px; }
    .ege-section2 .ege-container .ege-img1 {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .ege-section2 .ege-container .ege-img1-content {
        width: 40%;
        height: 100%;
        background-color: #FF6F0F;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 3%;
        margin-top: 2%; }
        .ege-section2 .ege-container .ege-img1-content img {
          border: 5px solid #555; }
        .ege-section2 .ege-container .ege-img1-content .ege-img1-p {
          background-color: #FF6F0F;
          color: white; }
        .ege-section2 .ege-container .ege-img1-content .ege-img1-h5 {
          color: white; }
        .ege-section2 .ege-container .ege-img1-content .italic {
          background-color: #FF6F0F;
          color: white;
          font-style: italic; }

.ege-footer-container {
  width: 100%;
  height: 100%;
  background-color: #001D23; }
  .ege-footer-container-boxes {
    flex-direction: row; }
    .ege-footer-container-boxes .ege-box1 {
      width: 25%;
      height: 25%;
      padding-left: 5%;
      padding-top: 5%; }
      .ege-footer-container-boxes .ege-box1 .ege-box1-head .Chari {
        color: #e4132f; }
      .ege-footer-container-boxes .ege-box1 .ege-box1-head .ege-Team {
        color: white; }
      .ege-footer-container-boxes .ege-box1 .ege-box1-text {
        color: grey; }
    .ege-footer-container-boxes .ege-box2 {
      width: 25%;
      height: 25%;
      padding-top: 6%;
      padding-left: 7%; }
      .ege-footer-container-boxes .ege-box2 .ege-box2-head .ege-Adress {
        color: white; }
      .ege-footer-container-boxes .ege-box2 .ege-box2-text {
        color: grey; }
    .ege-footer-container-boxes .ege-box3 {
      width: 25%;
      height: 25%;
      padding-top: 6%;
      padding-left: 5%; }
      .ege-footer-container-boxes .ege-box3-head .Head {
        color: white; }
      .ege-footer-container-boxes .ege-box3-text {
        color: grey; }
    .ege-footer-container-boxes .ege-box4 {
      width: 25%;
      height: 25%;
      padding-top: 6%; }
      .ege-footer-container-boxes .ege-box4-head .newsletter {
        color: white; }
      .ege-footer-container-boxes .ege-box4-text {
        color: grey; }

.ege-form-mail input[type=text] {
  border: 1px solid #ced4da;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #001D23;
  width: 95%;
  padding: 12px 20px; }

.ege-form-mail input[type=text]:focus {
  border: 3px solid #555; }

.ege-form-mail input[type=submit] {
  margin-top: 5%;
  border-radius: 8px;
  margin-left: 75px;
  width: 50%;
  color: white;
  background-color: #FF6F0F; }

.ege-form-mail input[type=submit]:hover {
  color: #FF6F0F;
  background-color: #001D23;
  transition: all;
  transition-duration: 1s; }

.ege-footer-ul {
  list-style: none; }
  .ege-footer-ul-a {
    color: grey;
    animation-timing-function: ease-in-out; }

@keyframes aa {
  50% {
    width: 3%; }
  50% {
    width: 3%; } }

.ege-footer-ul-a:link {
  text-decoration: none; }

.ege-footer-ul-a:visited {
  text-decoration: none; }

.ege-footer-ul-a:hover {
  color: orange;
  text-decoration: none; }

.ege-footer-ul-a:active {
  text-decoration: none; }

hr.ege-solid {
  border-top: 1px solid #bbb;
  margin-left: 5%;
  margin-right: 5%; }

.ege-end-line {
  color: white;
  padding-left: 5%; }
