$primary:#76b900;
$dark:#292929;
$secondary:#000000;

.navbar-toggler{
    width: 55px !important;
    height: 55px !important;
}

.carousel-control-prev-icon {
    background-image: url("./photos/icon-arrow-left.png") !important;
    margin-top: 420px;
    width: 42px !important;
    height: 42px !important;
   }
.carousel-control-next-icon {
    background-image: url("./photos/icon-arrow-right.png") !important;
    margin-top: 420px;
    width: 42px !important;
    height: 42px !important;
}
.carousel-indicators{
    justify-content: start !important;
    button{
        background-color: #76b900 !important;
        width: 10px !important;
        height: 10px !important;
        border-radius: 100% !important;
    }
}





@import '../node_modules/bootstrap/scss/bootstrap.scss'