.chooseGame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 68px 101px 60px 120px;
    background-color: #000000;
}
.gamesH2{
  padding: 0 353px 32px 333px;
  font-family: GreycliffCF;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #76b900;
}
.games{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.game{
    width: 183px;
    height: 183px;
    object-fit: contain;
}
.imgClass{
    margin: 0 20px 20px 0;
}
@media screen and (max-width: 960px){
    .chooseGame{
     padding: 30px 7px 40px 20px;
    }
    .gamesH2{
        padding: 0 13px 30px 0;
        font-size: 21px;
      }
      .game{
          width: 134px;
          height: 134px;
          object-fit: contain;
      }
      .gone{
        display: none;
      }
      .imgClass{
        margin: 0 12px 12px 0;
      }
  }