$bgColor: red;

.container {
    display: flex;
}

@mixin box($color) {
    background-color: $color;
    margin:65px;
    padding: 70px;
}

.box1 {
    width: 50px;
    height: 150px;
    @include box(green);
}

.box2 {
    @extend.box1;
}
