.register{
    height: 1011px;
    background-color: #000000;

    img{
        width: 790px;
        height: 1011px;
    }

    h4{
        max-width: 384px;
        font-family: GreycliffCF;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1e1e1e;
    }
    p{
        font-family: GreycliffCF;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.43;
  letter-spacing: normal;
  text-align: center;
    }

    .register_text{
        font-family: GreycliffCF;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #b2b2b2;
    }
}