.payment{
    background-color: #000000;
    .header__arrange{
        margin-top: 128px;
    }
    .payment__box{
        background-color: #292929;
        .paymentbox__header{
            background-color: #191919;
        }
        .paymentbox__standart{
            padding:0px 3px 0px 3px;
            .standart__content{
                background-color: #292929;
                color: #b2b2b2;
                li{
                    color: #76b900;
                    span{
                        color: #b2b2b2;
                    }
                }
            }
        }
    hr{
        width: 80%;
        margin: auto;
    }
    .paymentbox__standart{
        background-color: #a79696;
    }

    }
    ul{
        list-style: none;
        margin-bottom: 3px;
        li{
            font-size: 24px;
            color: #b2b2b2;
            font-family: GreycliffCF-Regular;
            width: 230px;
        }
    }

}

