.paragraf{
    font-size: 24px;
}
@media only screen and (max-width:768px){
    .paragraf{
        font-size: 14px;
    }
}

/*Pseudo Class Örnek*/

.link{
    font-size: 18px;
    text-decoration: none;
    color: coral;
}

.link:hover{
    font-size: 19px;
    font-weight: 700;
    color: brown;
}

.link:visited{
    color:darkgreen
}
.link:active{
    color: fuchsia;
}
li:nth-child(even)
{
    color: brown;
}
li:nth-child(4n)
{
    color: darkgreen;
}

/*Pseudo Elementler*/

.text1::first-letter{
    font-size:30px;
}
.text1::first-line{
    color: darkorange;
}
.text1::before{
    content:"Bu bir deneme contentidir. ";
}

table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 40%;
    margin: 0 auto;
}
tbody tr{
    text-align: center;
}
thead tr{
    background-color: brown;
}
tbody tr:nth-child(even) /*2n de olur*/
{
    background-color: gray;
}
tbody tr:hover{
    background-color: goldenrod;
    cursor: pointer;
}