* {
  @import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Lato&family=Manrope:wght@200;400&family=Merriweather:ital,wght@0,900;1,300&family=Montserrat:ital@1&display=swap");
  font-family: "Cormorant Garamond", serif;
  font-family: "Lato", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
}

.container-fluid {
  background-color: $bg-color-1;
  .header-container {
    width: 100vw;
    background-color: rgb(8, 8, 8);
    border-bottom: 3px $add-color dashed;
    h2 {
      text-shadow: 2px 2px 4px #acac79;
    }
  }
  .table-container {
    border-bottom: 2px $add-color dashed;
  }
  .form-container {
    .form__group {
      position: relative;
      padding: 15px 0 0;
      margin-top: 10px;
      .form__field {
        padding: 10px;
        border: none;
        border-radius: 3px;
        outline: 2px solid;
        &:focus + .input__label,
        &:valid + .input__label {
          transform: translate(10px, -15px);
          padding-inline: 5px;
          background-color: grey;
        }
      }
      .form__label {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(10px, 10px);
        transition: transform 0.27s;
      }
    }
  }
}
.alert {
  position: absolute !important;
  top: 100px;
  padding-inline: 50px;
  right: 50px;
  animation: animationfaderight 0.5s forwards;
}

// .from-element {
//   position: relative;
//   .form__field {
//     padding: 10px;
//     border: none;
//     border-radius: 6px;
//     outline: 2px solid #fff;
//   }
//   .form__field {
//     position: absolute;
//     top: 0;
//   }
// }

// .form__label {
//   position: absolute;
//   top: 18px;
//   left: 6px;
// }

// .form__field {
//   &:focus {
//     + label {
//       top: -8px;
//       animation: animationfadebottom 0.3s forwards;
//     }
//   }
// }

@keyframes animationfaderight {
  0% {
    transform: translateX(200px);
  }
  70% {
    transform: translateX(-60px);
  }
  100% {
    transform: translate(0);
  }
}
// @keyframes animationfadebottom {
//   0% {
//     top: 18px;
//   }
//   100% {
//     top: -8px;
//   }
// }
