.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.riskStatus{
  display: flex;
  justify-content: center;
  width: 600px;
  height: 100px;
  color: white;
  display: block;
}

.riskStatus.low{
  background-color: red;
}

.riskStatus.low::after{
  content: "ÖĞRENCİ DERSTEN KALMIŞTIR";
}

.riskStatus.mid{
  background-color: rgb(82, 82, 40);
}

.riskStatus.mid::after{
  content: "ÖĞRENCİ DERSİ KOŞULLU OLARAK GEÇMİŞTİR";
}
.riskStatus.high{
  background-color: blue;
}

.riskStatus.high::after{
  content: "ÖĞRENCİ DERSİ BAŞARILI BİR ŞEKİLDE GEÇMİŞTİR";
}
