body {
  background-color: #303841;
}

ul {
  list-style-type: none;
  margin: 20;
  padding: 30;
  overflow: hidden;
  background-color: #335;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
}
li a:hover {
  background-color: rgb(111, 154, 204);
}

.login-btn {
  padding: 10px;
}

.wrap {
  width: 980px;
  margin: 0 auto;
}

.login-btn {
  float: right;
}

li:last-child {
  float: right;
}

.title {
  font-size: 14px;
}

.main-title {
  text-align: center;
  display: inline-block;
}

.images {
  /* margin: 0 auto; */
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.phone-1 {
  width: 250px;
  height: 550px;
  max-width: 100%;
}

.phone-2 {
  width: 250px;
  height: 550px;
  max-width: 100%;
}

.phone-3 {
  width: 250px;
  height: 550px;
  max-width: 100%;
}

.wrapper-2 {
  text-align: center;
}

.white-text {
  color: white;
}

.typed-out {
  overflow: hidden;
  border-right: 0.15em solid white;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: typing 7s forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
