body {
    margin: 0;
    padding: 0;
}
.menu-bar {
    background-color: rgba(3, 4, 37, 0.81);
    text-align: center;
}
.menu-bar ul {
    display: inline-flex;
    list-style: none;
}
.menu-bar ul li {
    width: 150px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
}
.active, .menu-bar ul li :hover {
    background:rgb(151, 229, 190) ;
    border-radius: 10px;
}
.menu-bar .fas {
    margin-right: 8px;
}
/* 
.navconteiner {
    display: flex;
}

.navtext {
    color: rgb(87, 94, 126);
    font-size: 20px;
    font-family:'Courier New', Courier, monospace ;
    width: 80px;
    height: 50px;
    margin: 15px;
}
#navtext1 {
    color: rgb(87, 94, 126);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 150px;
    height: 50px;
    margin: 15px;
}
.searchnav {
    color: whitesmoke;
    justify-content: center;
    width: 100px;
    height: 40px;
    margin-left: 900px;
    margin-top: 15px;
}
.navconteiner a {
    text-decoration: none;
} */