* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin genel-yapi( $width, $height, $bgcolor, $margin, $padding, $color, $fsize) {
    width: $width;
    height: $height;
    background-color: $bgcolor;
    margin: $margin;
    padding: $padding;
    color: $color;
    font-size: $fsize;
}

@mixin flex-yapi($display, $jcontenet, $aitems, $fdirection) {
    display: $display;
    justify-content: $jcontenet;
    align-items: $aitems;
    flex-direction: $fdirection;
}

.what-we-do {
    @include flex-yapi(flex, center, center, column);
    @include genel-yapi(none, none, none, none, 48px 12px, none, none);
    &-first {
        h2 {
            @include genel-yapi( 125px, 32px, #fff0e6, 0px 0px 16px, 4px 16px, #ff6f0f, 16px);
            border-radius: 50rem;
            @include flex-yapi(flex, center, center, none);
        }
        h1 {
            @include genel-yapi(500px, 85px, none, none, none, #001d23, 36px);
            text-align: center;
        }
        @include flex-yapi(flex, center, center, column);
        @include genel-yapi( 500px, 133px, none, 0px 98px 48px, 0px, inherit, inherit);
    }
    &-second {
        @include flex-yapi(flex, center, center, row);
        gap: 10px;
        &-card {
            @include flex-yapi(flex, center, center, column);
            @include genel-yapi( 336px, 347.7px, none, 24px 0px 0px, 24px, #787878, 16px);
            img {
                margin-bottom: 24px;
            }
            h1 {
                @include genel-yapi( 288px, 27.7px, none, 0px 0px 16px, 0px, #001d23, calc(1.275rem + 0.3vw));
                text-align: center;
            }
            p {
                @include genel-yapi( 288px, 72px, none, 0px 0px 24px, none, #787878, 18px);
                line-height: 1.5;
                text-align: center;
            }
            input {
                @include genel-yapi( 164.95px, 46px, white, none, 6px 16px, #ff6f0f, 18px);
                text-align: center;
                border-radius: 5px;
                border: 1px solid #ff6f0f;
                &:hover {
                    background-color: #ff6f0f;
                    color: white;
                    transition-duration: 0.5s;
                    animation-timing-function: ease-in-out;
                }
            }
        }
    }
}

.donate-now {
    @include genel-yapi(none, none, #001d23cc, 48px 0px, 48px 12px, none, none);
    @include flex-yapi(flex, center, center, row);
    &-first {
        @include genel-yapi( 582px, 229.03px, none, 48px 0px 0px, 0px 24px, #787878, none);
        h2 {
            @include flex-yapi(flex, center, center, row);
            @include genel-yapi( 125.28px, 32px, #fff0e6, 0px 0px 16px, 4px 16px, #ff6f0f, 16px);
            border-radius: 15px;
        }
        h1 {
            @include genel-yapi( 444px, 90.06px, none, 0px 0px 48px, none, #ffffff, 37.525px);
        }
        p {
            @include genel-yapi(444px, 96px, none, none, none, #ffffff80, 16px);
        }
    }
    &-second {
        @include genel-yapi(534px, 378px, #ffffff, none, 48px, #787878, none);
        &-input {
            @include genel-yapi( 454px, 58px, #f8f8f9, 16px 0px 0px, 0px 8px, #787878, 16px);
            border: 0px;
            border-radius: 5px;
            &:hover {
                border: 1px solid #dc3545;
            }
        }
        &-value {
            display: flex;
            @include genel-yapi( 454px, 58px, #f8f8f9, 16px 0px 0px, 0px 8px, #787878, 16px);
            input {
                @include genel-yapi( 145.34px, 58px, #f9f9fa, 0px 0px 0px -1px, 16px 12px, #000000, 16px);
                border: 0;
                transition-duration: 0.5s;
                animation-timing-function: ease-in-out;
                &:hover {
                    color: #ff6f0f;
                    border: 1px solid #ff6f0f;
                }
            }
            &-1 {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            &-3 {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
        &-button {
            @include genel-yapi( 454px, 58px, #f8f8f9, 16px 0px 0px, 0px 8px, #787878, 16px);
            &-yapi {
                @include genel-yapi( 236.11px, 60px, #ff6f0f, none, 6px 48px, #ffffff, 16px);
                border-radius: 5px;
                border: 0;
                transition-duration: 0.5s;
                animation-timing-function: ease-in-out;
                &:hover {
                    background-color: white;
                    color: #ff6f0f;
                    border: #ff6f0f 1px solid;
                }
            }
        }
    }
}