.paragraf{ 
    font-size: 30px;
    font-weight:bolder;
    color: brown;
}   

div.colorblue{
    color: aqua;
}

.colorParagraf1{
    color: #D97041;
}

.colorParagraf2{

    color: rgba(239,117,19,0.94);
}

.font-20{
    font-size: 20px;
}
.with100{
    width: 100%;
    background-color: blueviolet;
}
.colorGreen{
    background-color: green;
}
.colorPink{
    background-color: pink;
}
.marginXAuto{
    margin-left: auto;
    margin-right: auto;
}
.with50{
    width: 50%;
}

.box{
    height: 50px;
    width: 250px;
    margin: 10px;
}
.red{
    background-color: red;
    margin-left: 50px;
    padding-left: 10px;
    padding-top: 20px;
}

.blue{
    background-color: blue;
    margin-bottom: 10px;
}

.green{
    background-color: green;
    margin-top: 10px;
}

.bgimage{
    height:;
    width: ;
    background-image: ;
    background-size: ;
    background-position-y: ;
}