.paragraf{
    font-size: 30px;
    font-weight: bolder;
    color: brown;
}
#DivID{
    color: blue;
}
div.textColorBlue{
    color: aqua;
}
.colorParagraf1{
    color: #EF7513;
}
.colorParagraf2{
    color: rgb(207, 140, 126);
}
.font-20{
    font-size: 20px;
}
.with100{
    width: 100%;
}
.with50{
    width: 50%;
}
.colorGreen{
     background-color: #3dcf69;
}
.colorPink{
    background-color: #da7ea1;
}
.marginXAuto{
    margin-left: auto;
    margin-right: auto;
}
.box{
    height: 50px;
    width: 300px;
    margin: 10px;
}
.red{
    background-color: red;
    margin-left: 60px;
    padding-left: 12px;
    padding-top: 20px;
}
.blue{
    background-color: blue;
    margin-bottom: 60px;
}
.green{
    background-color: green;
    margin-top: 60px;
}
.bgImage{
    height: 100px;
    width: 100px;
    background-image: url("https://play-lh.googleusercontent.com/ahJtMe0vfOlAu1XJVQ6rcaGrQBgtrEZQefHy7SXB7jpijKhu1Kkox90XDuH8RmcBOXNn");
    background-size: 100%;
    background-position: center;
    border-radius: 50%;
}