* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navigation {
    display: grid;
    grid-template-columns: repeat(3, 7%);
    background-color: white;
  }
  .news-img {
    width: 50px;
    margin: 10px auto;
  }
  .nav-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    align-content: center;
    margin: 0 70px;
    font-size: 24px;
  }
  .nav-bar a li {
    padding: 5px;
    list-style: none;
  }
  
  .nav-bar a:hover {
    background-color: orangered;
    color: white;
    border-radius: 5px;
  }
  
  .nav-bar a {
    text-decoration: none;
    color: #000;
  }
  
  .nav-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-content: center;
    margin: 0 70px;
    margin-left: 1050px;
    cursor: pointer;
  }
  .nav-icons li,
  .nav-icons2 li {
    padding: 0px;
    list-style: none;
  }
  
  .nav-icons li img {
    width: 20px;
  }
  .nav-icons2 li img {
    width: 30px;
  }
  .container {
    position: relative;
    height: 350px;
    background-image: url(foto1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 50px;
  }
  .main {
    padding-left: 30px;
    color: white;
    width: 500px;
  }
  
  .container-title {
    padding-top: 10px;
    font-size: 30px;
    font-family: sans-serif;
  }
  .container-paragraph {
    padding-bottom: 15px;
  }
  .container-button {
    border-radius: 4px;
    padding: 7px;
    background-color: orangered;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .baslik {
    background-color: rgb(238, 238, 238);
    padding-left: 85px;
    padding-top: 10px;
  }
  .latestnews {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    grid-template-columns: repeat(3, 30%);
    padding-bottom: 30px;
  }
  .box {
    background-color: white;
    margin: 10px;
    height: 360px;
    padding: 10px;
  }
  .resim2 {
    width: 100%;
    height: 200px;
  }
  .button1 {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 25px;
    border-radius: 5px;
    color: white;
    font-size: 10px;
    background-color: #0076a3;
  }
  .button2 {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    color: white;
    font-size: 10px;
    background-color: green;
  }
  .button3 {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    color: white;
    font-size: 10px;
    background-color: #0d3a78;
  }
  .button4 {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    color: white;
    font-size: 10px;
    background-color: crimson;
  }
  .button5 {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    color: white;
    font-size: 10px;
    background-color: rgba(210, 128, 21, 0.922);
  }
  .yazi1 {
    font-size: 22px;
    color: gray;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  .yazi2 {
    font-size: 18px;
  }
  
  .footer {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: gray;
    grid-template-columns: repeat(4, 23%);
  }
  .box2 {
    margin: 10px;
    height: 300px;
    padding: 10px;
  }
  .news-img2 {
    margin-left: 30px;
    width: 100px;
    margin-top: 5px;
  }
  .footer-paragraf {
    font-size: 18px;
    color: white;
  
    /* text-decoration: underline; */
  }
  .links .footer-paragraf {
    cursor: pointer;
  }
  
  .joinus {
    display: grid;
    align-items: center;
    align-self: top;
    justify-content: center;
    background-color: gray;
    grid-template-rows: repeat(4, 50px);
    gap: 10px;
  }
  
  .joinus h2,
  .links h2,
  .followus h2 {
    display: grid;
    justify-content: left;
    color: white;
    margin-left: 5px;
    margin-bottom: 20px;
  }
  
  .email {
    width: 80%;
    height: 30px;
    margin-bottom: 5px;
    text-align: center;
  }
  .Subscribe {
    border-radius: 4px;
    padding: 7px;
    background-color: orangered;
    border: none;
    color: white;
    cursor: pointer;
    width: 80%;
  }
  
  .links {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: gray;
    grid-template-rows: repeat(5, 50px);
  }
  .followus {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: gray;
    grid-template-rows: repeat(2, 50px);
  }
  .nav-icons2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .copyright {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 17%;
    width: 1240px;
    height: 40px;
    background-color: rgb(43, 41, 41);
    color: white;
    margin-top: 30px;
  }

  /* Media Queries -- Responsive */
  @media screen and (max-width: 768px) {
   *{
    margin: 0;
    padding: 0;
   }

    .navigation {
        display: grid;
        grid-template-columns: repeat(1,100%);
        background-color: white;
      }
    .nav-bar {
       font-size: 13px;
       width: 50px;
       padding-right: 0;
    }
    .nav-bar ul a{
        text-align: center ;
    }
    .nav-icons {
        display: none;
      }
      .container {
        position: relative;
        height: 400px;
        width: 76%;
        background-image: url(foto1.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        padding-top: 50px;
      }
.container-title{
    font-size: 60px;
}
.container-paragraph{
    font-size: 24px;
}
.container-button{
    border-radius: 0;
    padding: 10px 40px;
}
.baslik {
    background-color: rgb(238, 238, 238);
    width: 76%;
    padding-left: 25px;
    padding-top: 10px;
  }
  .latestnews {
    width: 76%;
    display: grid;
    justify-content:flex-start;
    background-color: whitesmoke;
    grid-template-columns: repeat(1, 100%);
    padding-bottom: 30px;
  }
  .box{
    margin: 25px;
    padding-left: 0;
  }
  .box .button1,.button2,.button3,.button4,.button5{
    margin-left:15px ;
  }
  .box p{
    padding-left: 15px;
  }
  .box .yazi1{
    font-size: 30px;
  }
  .box .yazi2{
    width: 90%;
  }
  .footer {
    width: 76%;
    background-color: gray;
    grid-template-columns: repeat(1, 100%);

  }
  .box2{
    margin-left: 0 !important;
    border-radius: 0;
border-color: rgb(8, 7, 7);
border-width: 0 0 1px 0;
border-style: none none dotted none;
 }
 .footer-paragraf{
    width: 80%;
 }
.links{
    float: left;
    padding-left: 20px;
}
.box2 .links p{
    width: 300px !important;
    border-color: rgb(8, 7, 7);
    border-width: 0 0 1px 0;
    border-style: none none dotted none;
}
.box2 .followus,.nav-icons2{
    float: left;
}
.copyright{
    width: 76%;
}
}