.slide-header {
  font-family: Greycliff-Bold;
  font-size: 40px;
  font-weight: bold;
}

.carousel-img-div {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.carousel-item {
  background-color: #1e1e1e;
}

.carousel-text,
.carousel-text-sm {
    
  font-family: Greycliff-Regular;
  width: 691px;
  font-size: 16px;
  top: 25%;
  left: 10%;
}

.carousel-text-sm {
  display: none;
}

.carousel-img-sm {
  display: none;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  padding: 48px;
}

.carousel-control-next-icon{
  background-image: url(../../assets/icon-arrow-right.svg);
}
.carousel-control-prev-icon{
  background-image: url(../../assets/icon-arrow-left.svg);
}




@media only screen and (max-width: 990px) {
  .carousel-text {
    display: none;
  }

  .carousel-text-sm {
    display: block;
  }
  .carousel-img {
    display: none;
  }
  .carousel-img-sm {
    display: block;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: none;
  }
}
