$tarcin: #76b900;

.card-container {
  padding: 1.2rem;
  background-color: rgb(70, 69, 69);
  color: rgb(179, 178, 178);
  .h2 {
    text-align: center;
    margin: 1.4rem 0.3rem;
  }
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.2rem 1.5rem;
  .cardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.card-box {
  background-color: rgb(70, 69, 69);
  width: 348px;
  height: 524px;
  margin: 0 10px 16px;
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .card-title {
      width: 100%;
      padding: 33px 0;
      text-align: center;
      background: #191919;
      color: #fff;
      border-bottom: 0;
    }
    .tarcin {
      background-color: $tarcin;
    }
  }
  .card-price {
    background-color: rgb(70, 69, 69);
    border-bottom: 1px solid #666;
    width: 70%;
    padding: 30px 0;
    text-align: center;
    display: block;
    font-size: 28px;
    color: #ffffff;
    font-weight: 700;
    span {
      font-size: 28px;
    }
  }
  .card-props {
    background-color: rgb(70, 69, 69);
    padding: 16px 18px;

    img {
      margin: 0.5rem;
    }
  }
}
