.App {
  text-align: center;
}

.pointStatus {
  color: #fff;
  font-size: 24px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointStatus.Geçti{
  background-color: rgb(73, 201, 158);
}
.pointStatus.Kaldı{
  background-color: orangered;
}

