body{
    margin: 0;
    padding: 0;
}
.wrap{
    width: 800px;
    height: 200px;
    margin: 0 auto;
}
.content{
    width: 200px;
    height: 200px;
    background-color: aqua;
    float: left;
}
.sidebar{
    width: 600px;
    height: 200px;
    background-color: black;
    float: right;
}
.clear{
    clear: both;
}
.footer{
    width: 800px;
    height: 200px;
    background-color: blue;
}
