* {
  @import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Lato&family=Manrope:wght@200;400&family=Merriweather:ital,wght@0,900;1,300&family=Montserrat:ital@1&family=Noto+Serif:ital@0;1&family=Playfair+Display&family=Quicksand:wght@300;400&display=swap");
  font-family: "Cormorant Garamond", serif;
  font-family: "Playfair Display", serif;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}
.btn {
  background-color: rgba(37, 13, 15, 0.479);
  color: #f7f4f2;
  &:hover {
    background-color: rgba(70, 4, 8, 0.5);
  }
}
//rgb(146, 50, 5) ,rgb(145, 129, 129)
.logo {
  img {
    height: 134px;
  }
}
.navbar {
  height: 100px;
  &-nav {
    .nav-item {
      margin: 9px;
      a {
        font-size: 1.3rem;
        color: rgb(146, 50, 5);
        &:hover {
          border-radius: 9px;
          // border-top: 1px solid rgb(126, 56, 7);
          border-bottom: 2px solid rgb(126, 56, 7);
        }
      }
    }
  }
}
.fa-magnifying-glass {
  color: rgb(146, 50, 5);
  font-size: 30px;
}
.header {
  height: 320px;
  background-color: rgba(206, 189, 189, 0.568);
  border-bottom: 1px rgb(179, 101, 13) solid;
  h3,
  p {
    color: rgb(65, 41, 6);
  }
}
.pet-container {
  background-color: rgba(204, 190, 206, 0.192);
  padding: 1.6rem;
  .pet-box {
    position: relative;

    overflow: hidden;

    #delete-btn {
      font-size: 16px;
      color: #06030e;
      bottom: 2px;
      background-color: rgba(37, 13, 15, 0.479);
      position: absolute;
      bottom: 4px;
      left: 10px;
      margin-top: 10px;
      margin-left: 5px;

      &:hover {
        @extend .btn;
      }
    }
    #edit-btn {
      width: 80px;
      font-size: 16px;
      bottom: 2px;
      margin-right: 5px;
      background-color: rgba(37, 13, 15, 0.479);
      position: absolute;
      bottom: 4px;
      right: 10px;
      margin-top: 10px;
      right: 10px;
      &:hover {
        @extend .btn;
      }
    }
    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      align-items: center;
      justify-content: center;
      background: rgba(66, 64, 64, 0.548);

      form {
        position: relative;
        min-width: 30%;
        min-width: 30;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        background: rgb(133, 73, 73);
        border-radius: 1.5rem;
        font-size: 1.2rem;
        color: #f7ebe5;
        input {
          margin: 0.5rem 0;
          padding: 0.5rem;
          font-size: 1.2rem;
          border-radius: 20px;
        }
        button {
          border-radius: 25px;
          padding: 4px;
          color: rgb(88, 3, 29);
          font-size: 1.2rem;
        }
      }
      #modal-kapat {
        position: absolute;
        right: 0;
        top: 0;
        background: gray;
        padding: 0.5rem;
        border-bottom-left-radius: 1rem;
        cursor: pointer;
        &:hover {
          background: rgb(102, 102, 102);
        }
      }
    }

    .pet-content {
      color: rgb(78, 37, 18);
      background-color: rgba(192, 117, 139, 0.123);
      width: 300px;
      height: 500px;
      margin: 0.3rem 0.8rem;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-right: 12px rgba(0, 2, 22, 0.185) solid;
      border-bottom: 12px rgba(0, 2, 22, 0.185) solid;
      border-radius: 35px;
      border-top: 2px solid rgb(206, 199, 199);
      overflow: hidden;

      .adopt-btn {
        color: white;
        font-size: 1rem;
        background-color: rgb(39, 39, 39);
        border: 2px solid white;
        position: absolute;
        width: 138px;
        display: none;
        transform: translateY(-200px);
        transition: all 0.5ms;
      }
      &:hover > .adopt-btn {
        transform: translate(0);
        animation: animationfaderight 0.5s forwards;
        display: block;
      }
      @keyframes animationfaderight {
        0% {
          transform: translateY(60px);
        }
        70% {
          transform: translateX(20px);
        }
        100% {
          transform: translate(0);
        }
      }

      // img {
      // }

      // ::after {
      //   content: "";
      //   padding: 28px;
      //   border-radius: 23px;
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      //   bottom: 0;
      //   left: 0;
      //   background: rgba(30, 33, 36, 0.178);
      //   opacity: 0.2;
      // }
    }
  }
  .filter-pet {
    padding: 1.4rem;

    .filter-container {
      margin-top: 16px;

      .filter-header {
        label {
          font-size: 1.4rem;
          padding: 0.3rem;
        }
        h3 {
          color: rgb(34, 15, 6);
        }
      }
    }
    .btn {
      @extend .btn;
      border-left: 4px solid rgba(20, 2, 11, 0.671);
      border-bottom: 4px solid rgb(20, 2, 11);
    }
  }
}

.adopted-container {
  background-image: linear-gradient(
    to left bottom,
    #faf9fa,
    #bbb9ba80,
    #e6cfce79,
    #d5beb1
  );
}
.adopted-pet {
  margin: 12px;
  justify-content: center;
  div {
    height: 180px;
    margin: 0.5rem;
    img {
      width: 200px;

      &:hover {
        transform: scale(1.2);
        transition: all 1s;
      }
    }
  }
}
