@charset "UTF-8";
body {
  padding: 0;
  margin: 0; }

.header {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  color: #8f8f8f;
  border-bottom: 1px solid #585858; }

.fa-envelope-o {
  margin-left: 20px; }

.team {
  color: white; }

.navbar {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .navbar .logo {
    text-decoration: none; }
  .navbar h1 {
    color: #ff6f0f; }

.navbar-header {
  width: 95%;
  z-index: 10;
  position: absolute;
  margin: 0 auto;
  padding: 0 25px; }

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px; }
  .list a {
    text-decoration: none;
    color: white; }
  .list a:hover {
    color: #ff6f0f; }

.dropdown {
  position: relative;
  display: inline-block; }
  .dropdown span {
    color: white; }

.dropdown-container {
  display: none; }

.dropdown-content {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 0; }
  .dropdown-content a {
    padding: 5px;
    color: black; }
  .dropdown-content a:hover {
    background-color: #e9ecef; }

.dropdown:hover .dropdown-container {
  display: block; }

.btn-donate {
  background-color: transparent;
  border: 2px solid #ff6f0f;
  color: #ff6f0f;
  padding: 15px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1rem; }

.btn-donate:hover {
  background-color: #ff6f0f;
  color: white; }

.img-container {
  background-color: #0c1e22; }

.img-container img {
  width: 100%;
  height: 600px;
  position: absolute;
  opacity: 0.3; }

.text {
  height: 600px;
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #fff; }
  .text p {
    color: gray;
    margin-bottom: 40px; }

.animate__animated .animate__slideInDown {
  --animate-duration: 2s; }

.btn, .learn-more, .contact-us {
  border: none;
  border-radius: 4px;
  background-color: #ff6f0f;
  padding: 15px;
  color: white;
  font-weight: 500;
  font-size: 1rem; }

.btn:hover, .learn-more:hover, .contact-us:hover {
  background-color: transparent;
  border: 2px solid #ff6f0f;
  color: #ff6f0f; }

.container2 {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 60px auto;
  gap: 25px; }

.img-container2 {
  background-image: url("https://technext.github.io/chariteam/img/about-1.jpg");
  width: 100%;
  position: relative; }

.inside-img {
  position: absolute;
  z-index: 10;
  width: 10%; }

.title-about-us, .title-feature-causes {
  background-color: #ffe4cd;
  width: 80px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  color: #ff6f0f; }

.header-text, .container3 p {
  font-size: 42px;
  font-weight: bold;
  margin: 0 auto; }

.container2 h3 {
  color: #ff6f0f; }

.text-box {
  background-color: #f8f8f9;
  border-bottom: 5px solid #ff6f0f;
  border-radius: 6px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  display: block; }

.contact-us {
  background-color: transparent;
  color: #ff6f0f;
  border: 2px solid #ff6f0f; }

.contact-us:hover {
  background-color: #ff6f0f;
  color: white; }

.title-feature-causes {
  width: 100px; }

.container3 {
  padding: 70px;
  background-color: #f1f1f1; }

.container3-header {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  align-items: center; }

.container3 p {
  margin-top: 20px; }

.card-div {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 40px; }

.card {
  background-color: white;
  width: 29%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  padding-top: 0;
  border-top: 8px solid #ff6f0f;
  border-radius: 5px; }

.card img {
  width: 100%; }

.card-title {
  background-color: #ff6f0f;
  width: 35%;
  padding: 8px;
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px; }

.card h3 {
  font-size: 1.4rem; }

.card p {
  font-size: 1.1rem;
  font-weight: normal; }

.goal {
  background-color: #f7f7f7;
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 15px; }

.fa-envelope-o {
  margin-left: 20px; }

.team {
  color: white; }

#ac-5 {
  z-index: 0;
  width: 200px;
  height: 200px;
  position: absolute;
  background-color: white;
  padding-left: 2px;
  padding-bottom: 2px; }

.aboutus text {
  background-color: #d28fdb6b;
  color: #ff6f0f;
  font-size: 50px;
  z-index: 2;
  text-align: center;
  align-items: center; }

.button-2 {
  height: 30px;
  width: 50px;
  display: flex;
  justify-content: center; }

.ft-1 {
  color: white;
  width: 100%;
  height: 400px;
  background-color: #0c1e22;
  display: flex;
  justify-content: space-around; }

.ft-2 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20%; }

.ft-3 {
  grid-column-start: 1;
  grid-row-start: 2; }

.adress {
  grid-column-start: 2;
  grid-row-start: 2; }

.ad-0 {
  font-family: saira;
  font-size: 24px;
  color: #f8f8f9; }

.ql {
  grid-column-start: 3;
  grid-row-end: 3; }

.nl {
  grid-column-start: 4;
  grid-row-end: 3; }

.nl-0 {
  font-family: saira;
  font-size: 24px;
  color: #f8f8f9; }

.ql-0 {
  font-family: saira;
  font-size: 24px;
  color: #f8f8f9; }

.ql-0 {
  font-family: saira;
  font-size: 24px;
  color: #f8f8f9; }

.ql-1 {
  color: #898989; }

.nl-1 {
  color: #ccc; }

.ftd {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #0c1e22; }

.ys {
  color: #fff;
  display: block;
  text-decoration: none; }

.db {
  color: #000; }

.al {
  color: #ccc;
  display: flex; }

.al-2 {
  color: #ccc;
  display: flex;
  justify-content: flex-end; }

.codex {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  color: #fff; }

.btn-s {
  background-color: #ff6f0f;
  width: 100px;
  height: 45px;
  border-radius: 8px;
  display: grid; }

.mail {
  width: 100px;
  height: 45px; }

.btn-3 {
  display: grid;
  grid-column-start: 4;
  grid-row-end: 5;
  border: solid 1px rgba(255, 255, 255, 0.251);
  width: 230px;
  height: 51px;
  border-radius: 8px; }

.btn-3 :hover {
  border: 2px solid #ff6f0f;
  transition: 0.2s; }

.chari {
  color: #ff6f0f; }

.adress-2 {
  color: #8f8f8f; }

.lorem-20 {
  color: #8f8f8f; }

.up button {
  display: block;
  width: 48px;
  height: 48px;
  background-color: #ff6f0f;
  border-radius: 8px;
  float: right;
  overflow: auto; }

.btn-3 input {
  width: 160px;
  border-radius: 8px;
  background-color: #0c1e22; }

.btn-3 {
  display: flex;
  justify-content: flex-end; }

.btn-s {
  text-align: center;
  font-size: 16px;
  font-family: ınter;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 51px; }

.social-media a img {
  border: 1px solid #ccc;
  border-radius: 5px; }
