*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size:20px;
}

p{
    font-size: 17px;
}

.container{
    width: 75%;
    height: 400px;
    margin: 0 auto;
    background-color: #acacac;
    display: flex;
    align-items: flex-start;
    /* varsayılan row */
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    gap: 10px;
    
}

.box{
    width: 100px;
    border: 1px solid #fff;
    background: rgb(255, 175, 255);
}

/* .box4{
    align-self: center;
} */


.box1{
    order:1;
}

.box2{
    order:2;
}

.box3{
    order:3;

}

.box4{
    order:4;
}

.box5{
    order:5;
}

.box6{
    order:6;

}

@media only screen and (max-width:700px){
    .box3{ 
        order:1;
    }
}

.box3{
    flex-grow:4;
}