body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  z-index: 5;
}

ul {
  display: flex;
  overflow: hidden;
}

li {
  display: inline;
  margin: 5px;
}

li a {
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(216, 130, 0);
}

.logo {
  align-items: center;
  position: absolute;
  left: 5px;
  top: 18px;
  font-size: 20px;
}

.container {
  width: 100%;
  height: 600px;
  position: relative;
}

.background-image {
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.main {
  position: absolute;
  top: 0;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: black;
  z-index: 3;
}

.header {
  font-size: 46px;
  color: white;
  z-index: 3;
}

.title {
  font-weight: bold;
  color: rgb(80, 80, 80);
  font-size: 32px;
  z-index: 3;
}

.button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button:hover,
.button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.clean {
  clear: both;
}

.container2 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #e7e7e7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*flex-wrap: wrap; */
  padding: 20px;
}

.container2-image {
  margin-left: 100px;
  width: 35%;
  height: 500px;
  border-radius: 10px;
}

.container-header2 {
  color: rgb(243, 95, 9);
}

.container-header1 {
  margin-left: 70px;
}

.container-text {
  color: #363535;
}

.container3 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  flex-wrap: wrap;
}

.container4 {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.container4-image {
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 10px;
  width: 65px;
  height: 65px;
}

.box {
  width: 30%;
  background-color: rgb(253, 253, 253);
  border-radius: 10px;
  margin: 10px;
  height: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding-left: 10px;
}

.container5 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.container6 {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 50px;
}

.box2 {
  width: 80%;
  margin: 10px;
  height: 250px;
}

.box3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.box2-image-left {
  float: left;
  width: 50%;
}

.box2-image-right {
  float: right;
}

.box2-text-right {
  width: 50%;
  float: right;
}

.text-right {
  float: right;
}

.container7 {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #eeeeee;
}

.container8 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #eeeeee;
  flex-wrap: wrap;
  margin: 0 auto;
}

.box4 {
  width: 20%;
  background-color: rgb(253, 253, 253);
  border-radius: 10px;
  height: 200px;
  margin: 10px;
}

.box4-image {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.container9 {
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: 3;
}

.container9 .button {
  margin: 0 auto;
}

.container11 {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.box5 {
  width: 30%;
  background-color: rgb(253, 253, 253);
  border-radius: 10px;
  margin: 10px;
  height: 350px;
  border: 1px solid rgb(240, 240, 240);
  padding-left: 10px;
}
.box5:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.box5 .container-text {
  text-align: left;
}
.button3:hover {
  background-color: rgb(243, 95, 9);
  color: white;
}
.button:hover,
.button2:hover {
  background-color: rgb(197, 72, 0);
}
.button3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 15px;
  color: rgb(243, 95, 9);
  background-color: rgb(238, 214, 200);
}

.container12 {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #eeeeee;
}

.container13 {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #eeeeee;
}

.container14 {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #eeeeee;
}

.container15 {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.container16 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.container17 {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #eeeeee;
}

.box6 {
  width: 20%;
  background-color: #eeeeee;
  border-radius: 10px;
  height: 250px;
  margin: 10px;
  text-align: center;
}

.box7 {
  width: 20%;
  background-color: #eeeeee;
  border-radius: 10px;
  height: 70px;
  margin: 10px;
  text-align: center;
}

.box8 {
  width: 13%;
  background-color: #eeeeee;
  border-radius: 10px;
  height: 70px;
  margin: 10px;
  text-align: center;
}
.box9 {
  width: 25%;
  background-color: #eeeeee;
  border-radius: 10px;
  height: 400px;
  margin: 10px;
  text-align: left;
}
.box10 {
  width: 25%;
  background-color: #eeeeee;
  border-radius: 10px;
  height: 380px;
  margin: 10px;
  margin-top: -10px;
  text-align: left;
}

.box9 img,
.box10 img {
  width: 100%;
  background-color: #eeeeee;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
}

.container12-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.container-text2 {
  color: #222222;
}
.container-text3 {
  margin-left: 10px;
}

h2 {
  font-size: 30px;
  margin-bottom: 0px;
}
h5 {
  font-size: 16px;
  margin-bottom: 0px;
}

.formdiv {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #eeeeee;
  margin-top: -25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 80px;
}
form {
  background-color: white;
  height: auto;
  margin-left: 5%;
  padding: 10px;
}
.name {
  height: 30px;
  width: 45%;
  margin: 10px;
  border-radius: 5px;
  border-color: rgb(167, 155, 141);
}
.email {
  height: 30px;
  width: 45%;
  margin: 10px;
  border-radius: 5px;
  border-color: rgb(167, 155, 141);
}
.subject {
  height: 30px;
  width: 94%;
  margin: 10px;
  border-radius: 5px;
  border-color: rgb(167, 155, 141);
}
.comments {
  height: 100px;
  width: 94%;
  margin: 10px;
  border-radius: 5px;
  border-color: rgb(167, 155, 141);
}
.send {
  border-color: rgb(167, 155, 141);
  font-size: 16px;
}
.inputdiv {
  width: 65%;
}
.box11 {
  width: 25%;
  height: auto;
  margin: 10px;
  text-align: left;
  margin-left: 3%;
}
.footer {
  width: 100%;
  background-color: rgba(25, 41, 56, 0.94);
  color: #adb5bd;
  height: 100px;
  margin-top: -20px;
  display: flex;
}
.logo2 {
  margin-left: 70%;
  margin-top: 20px;
}
.copyright {
  margin-left: 40%;
  text-align: center;
  padding-top: 30px;
}
.imgfooterdiv {
  margin-left: 20%;
  padding-top: 40px;
}
.imgfooter {
  width: 25px;
  height: 25px;
  border-radius: 20%;
  float: right;
  background-color: rgba(25, 41, 56, 0.94);
  margin-left: 5px;
}
.imgfooter:hover {
  background-color: rgb(243, 95, 9);
}
.fa {
  color: rgb(0, 0, 0);
  font-size: larger;
  background-color: rgb(209, 206, 191);
  padding: 0.7rem;
  border-radius: 50%;
  margin: auto 0;
  margin-left: -20px;
}
.social-icons {
  display: flex;
  align-items: center;
}
.social-icons li {
  display: inline;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}
.social-icons li .fa:hover {
  background-color: rgb(224, 164, 52);
}

.buttonfooter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  margin-left: 4%;
  margin-top: 30px;
  background-color: rgb(243, 95, 9);
}


.buttonfooter:hover
{
    background-color:rgb(197, 72, 0) ;
}


@media only screen and (max-width: 768px){
    .social-icons
    {
        display: none;
    }
    .navbar{
        background-color: white;
    }
    .menu{
        display: none;
    }
    .menu-bar{
        display: block;
    }
    .container2{
        height: auto;
    }
    .container2-image{
        width: 70%;
        margin:0 auto;
    }
    .container-text{
        margin: 0 auto;
        width: 70%;
    }
    .container3{
        justify-content: start;
        margin-left: 15%;
    }
    .box{
        width: 100%;
    }
    .box2-image-right{
        width: 50%;
        float: right;
    }
   .box4{
    width: 75%;
    height: 400px;
   }
   .box4-image{
    height: 100%;
   }
   .box5{
    width: 90%;
   }
   .box6{
    width: 70%;
    height: 500px;
   }
   .box7{
    width: 35%;
   }
   .box8{
    width: 35%;
   }
   .box9,.box10{
    width: 75%;
    height: 600px;
   }
   .box10
   {
    margin-top: 10px;
   }
   .box9 img,.box10 img{
    height: 400px;
   }
   .logo img
   {
    margin-left: 40%;
   }
   .inputdiv
   {
    width: 85%;
   }
   .name
   {
    width: 94%;
   }
   .email
   {
    width: 94%;
   }
 .box11{
    width: 78%;
 }

}