$green: #76b900;
$white: #fff;
$grey-Light: #b2b2b2;
button {
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  padding: 7px 30px;
  text-align: center;
  margin-right: 10px;
}
.transparent {
  background: transparent;
  color: $green;
  border: 1px solid $green;
}

.greenButton {
  background: $green;
  color: $white;
  border: 1px solid $green;
}
.greyButton {
  background: $grey-Light;
  color: $white;
  border: none;
}

.width-185 {
  width: 185px;
}
.width-326 {
  width: 326px;
}
.width-384 {
  width: 384px;
}

@media (max-width: 768px) {
  .width-384 {
    width: 350px;
    height: 38px;
  }
}
