.card{
    width: 794px;
    height: 500px;
    background-color: #1e1e1e;
    color: white;
    margin-bottom: 2%;
    .card-body{
        display: -webkit-box;
        -webkit-line-clamp: 11;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    @media screen and (max-width: 600px){
        display: block;
        width: auto;         
    }
}