.ımg{
    width: 200px;
    height: 175px;

    border-radius: 50%;

}

.b1{
    font-family: Rockwell;
}

.hakkımda{
    font-size: 20px;
}

.egitim{
    font-size: 20px;
    
}

.arkaplan{
    text-align: center; 
    background-image: url(./arkaplan.jpeg); 
   /* background-position: center; */
    
}

table {
    margin-right: auto;
    margin-left: auto;
  }


