.paragraf{
    font-size: 24px;
}
@media only screen and (max-width: 768px) {
    .paragraf{
        font-size: 14px;
    }
    div{
        color: aliceblue;
    } }
    /*Pseudo Class*/
    .link{
        font-size: 18px;
        text-decoration: none; /*altındaki çizgyi kaldırma*/

    }
    .link:hover{ /*üstüne gelince*/
        color: darkorange;
        font-size: 19px;
        font-weight: 700;
    }
    .link:visited{ /*ziyaret edilince*/
        color: aqua;
    }
    .link:active{ /*üstüne tıkladığımızda*/
        color: bisque;
    }
    /* li:last-child{
        color: brown; }  son elemanı değiştirme*/

    /* li:nth-child(2n) {
        color: red;
    } 2nin katlarını kırmızı yap vs */
/*
    .text::first-letter{
        color: aliceblue;
    } ilk harfin rengi

    .text::first-line{
        color: brown;
    } ilk satır 

    .text::after { BEFORE BAŞA EKELME
        content: "AFTER"; SONA EKLEME
    }
*/
table,td,th{
    border: 1px solid black;
    border-collapse: collapse;

}
table{
    width: 40%;
    margin: 0 auto;
}
tbody tr{
text-align: center;
}
thead tr{
    background-color: olive;
}
tbody tr:nth-last-child(even) { /*son satırı*/
    background-color: darkgrey;
}
tbody tr:hover{
    background-color: #cfcfcf;
    cursor: pointer; /*mauos üstüne gelince renk değiştirme*/
}
.outer{
    width: 200px;
    height: 200px;
    background-color: #73a164;
    position: relative;
    top:20px;
    left:30px;

}
.inner{
    width: 50px;
    height: 50px;
    background-color: red;
   position: absolute;
    top:40px;
    left:10px;
}
.red{
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative; /*fixed hep sabit, static sabit, 
    relative 
    absolute bir üstüne göre konum alır div içindeyse dive body ise body e */
    top:20px;
    left:30px;
}
.blue{
    width: 200px;
    height: 200px;
    background-color: blue; 
    position: absolute;
    top:40px;
    left:20px;
} /* ayrı*/

