*{
    background-color: rgb(120, 120, 120);
}
header{
text-align: center;
font-size: 50px;
}
.bolum1{
    text-align: center;
}

.baslik1{
    font-size: 40px;
    

}
p{
    font-size: 30px;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.kutu2{
    width: 750;
    background-image: url("https://themesdesign.in/styza/layout/images/features/phone.png");
}