body{
    background-color: #611892;
}
.upload-box {
    background-color: white;
  height: 225px;
  border: 4px dashed #afafaf;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
}

.upload-box p {
  font-size: 1rem;
  margin-top: 20px;
}
.upload-box img {
  width: 70px;
}

.upload-box.active {
  border: none;
}

.upload-box.active img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.upload-box.active  p {
  display: none;
}