.base{
    background-color: #1e1e1e;
    padding: 0 222px 60px 221px;
}
.features{
    display: flex;
    flex-direction: row;
    padding: 65px 60px 62px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75);
    background-color:#1e1e1e;
}
h3, p{
    font-family: GreycliffCF;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #fff;
}
img{
    object-fit: contain;
}
.text{
    display: flex;
    flex-direction: column;
}
.text h3{
    margin: 12px 0 15px;
    font-size: 28px;
    line-height: normal;
    font-weight: bold;
}
.text p{
    margin:0 0 15px;
    line-height: 1.5;
    font-size: 16px;
}
.lorem{
    display: flex;
    flex-direction: column;
}
.featuresCouple{
    display: flex;
    flex-direction: row;
}
.img1{
    width: 40px;
    height: 40px;
    margin: 0 15px 40px 86px;
}
 .p1{
    font-size: 16px;
    line-height: 1.63;
    font-weight: normal;
    margin: 0 60px 54px 0;
}
 .img2{
    margin: 3px 15px 0 86px;
}
.p2{
    font-size: 16px;
    line-height: 1.63;
    font-weight: normal;
    margin: 0 60px 0 0;
}
.img3{
    margin: 0 15px 40px 0;
}
.p3{
    font-size: 16px;
    line-height: 1.63;
    font-weight: normal;
    margin: 0 0 54px;
}
.img4{
    margin: 0 15px 0;
}
.p4{
    font-size: 16px;
    line-height: 1.63;
    font-weight: normal;
    margin:0;
}  

@media screen and (max-width: 960px){
    .base{
        padding: 0;
    }
    .features{
        flex-direction: column;
        margin:0;
        padding: 30px 18px 30px 20px;
        justify-content: center;
        align-content: center;
        background-color: #1e1e1e;
    }
    .text h3{
        margin: 0 2px 15px 0;
        font-size: 21px;
        align-self: center;
    }
    .text p{
        margin: 0 0 30px 2px;
        align-self: center;
        justify-self: center;
    }
    .img1, .img2, .img3, .img4{
        width: 32px;
        height: 32px;
        margin: 0 10px 30px 20px;
    }
    .p1, .p2, .p3, .p4{
        margin: 3px 22px 33px 10px;
    }
  }