body{
    margin-top: 50px;
    margin-bottom: 50px;
}

.image-sekil{
    border-radius: 50%;
}
.image-yer{
    text-align: center;
}
.isim-yer{
    text-align: center;
    color: rgb(6, 6, 141);
}
.logo-boyut{
    height: 20px;
    font-weight: 20px;
}
.logo-yer{
    text-align: center;
}
.mail-yer{
    text-align: center;
}
.cizgi{
    padding: 2px;
    width: 500px;
    background-color: rgb(5, 17, 87);
}
.ortala{
    margin-left: 425px;
}
.basliklar{
    margin-left: 425px;
}