body {
    background-color: #303841;
  }
  
  .navbar {
    list-style-type: none;
    margin: 20;
    padding: 30;
    overflow: hidden;
    background-color: #335;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
  
    color: rgb(169, 194, 214);
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    background-color: rgb(111, 154, 204);
  }
  
  .login-btn {
    padding: 10px;
  }
  
  .wrap {
    width: 980px;
    margin: 0 auto;
  }
  
  .login-btn {
    float: right;
  }
  
  .navbar li:last-child {
    float: right;
  }
  
  .title {
    margin-top: 1.5rem !important;
    font-size: 16px;
    color: #808e9e;
    margin-left: 190px;
  }
  
  .main-title {
    text-align: center;
    display: inline-block;
  }
  
  .images {
    /* margin: 0 auto; */
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  
  .phone-1 {
    width: 250px;
    height: 550px;
    max-width: 100%;
  }
  
  .phone-2 {
    width: 250px;
    height: 550px;
    max-width: 100%;
  }
  
  .phone-3 {
    width: 250px;
    height: 550px;
    max-width: 100%;
  }
  
  .wrapper-2 {
    text-align: center;
    margin-top: 60px;
  }
  
  .white-text {
    color: #0076a3;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
  }
  
  .white-text-2 {
    color: #fff;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Times New Roman", Times, serif;
  }
  
  .white-text-3 {
    font-size: 16px;
    color: #808e9e;
    margin-top: 5px;
  }
  .black-text {
    color: #808e9e;
    text-align: center;
  }
  
  .typewriter h1 {
    font-size: 40px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    border-right: 0.15em solid white;
    white-space: nowrap;
    margin-top: 100px;
    margin-left: 190px;
    letter-spacing: 0.15em;
    animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: white;
    }
  }
  h3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 0;
  }
  
  .bomb1 {
    margin-left: 110px;
  }
  .bomb2 {
    margin-left: 110px;
  }
  .bomb3 {
    margin-left: 110px;
  }
  .container {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background-color: #303841;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .box {
    width: 120px;
    border: 2px solid #3e4853;
    background-color: #303841;
    border-radius: 5%;
  }
  .box1 {
    order: 1;
    flex-grow: 1;
  }
  
  .box2 {
    order: 2;
    flex-grow: 1;
  }
  
  .box3 {
    order: 3;
    flex-grow: 1;
  }
  
  .container-2 {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background-color: #303841;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .box-1 {
    width: 120px;
    border: 2px solid #303841;
    background-color: #303841;
    border-radius: 5%;
  }
  
  .box4 {
    order: 1;
    flex-grow: 1;
  }
  .box5 {
    order: 1;
    flex-grow: 1;
  }
  .box6 {
    order: 1;
    flex-grow: 1;
  }
  .phone-4 {
    margin-left: 0;
  }
  .bilim {
    margin-left: 265px;
  }
  
  .bilim-2 {
    margin-right: 265px;
  }
  
  .saga-hizala {
    color: #808e9e;
    text-align: right;
  }
  .sola-hizala {
    color: #808e9e;
    text-align: left;
  }
  
  h4 {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: #fff;
    text-align: right;
    margin-top: 0;
  }
  h5 {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: #fff;
    text-align: left;
    margin-top: 0;
  }
  .button-1 {
    width: 130px;
    height: 35px;
    margin: 0 40px;
    margin-left: 350px;
    border: 1px solid #0076a3;
    background: linear-gradient(#2e8da5, #114d64);
    color: #fff;
    cursor: pointer;
  }
  .button-2 {
    width: 130px;
    height: 35px;
    border: 1px solid #fff;
    background: #303841;
    color: #fff;
    cursor: pointer;
  }
  .phone {
    margin-top: 50px;
    margin-left: 380px;
  }
  
  .climent {
    font-size: 15px;
    color: #808e9e;
    margin-left: 0px;
    margin-bottom: 10px;
    text-align: left;
  }
  .think {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: #fff;
    text-align: left;
    margin-top: 0;
  }
  
  .containernew {
    width: 50%;
    height: 400px;
    margin-top: 100px;
    margin: 400px auto;
    margin-bottom: 180px;
    background-color: #303841;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .box-2 {
    width: 20px;
    border: 2px solid #303841;
    background-color: #303841;
    border-radius: 5%;
  }
  .box7 {
    order: 1;
    flex-grow: 1;
  }
  .box8 {
    order: 1;
    flex-grow: 1;
  }
  .box9 {
    order: 1;
    flex-grow: 1;
  }
  
  .people {
    border-radius: 50%;
    margin-top: 0;
  }
  
  .paris {
    border-bottom-left-radius: 5%;
  }
  
  .prefect {
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    color: #fff;
    text-align: left;
    margin-top: 0;
  }
  .read {
    width: 200px;
    height: 35px;
    margin: 0 40px;
    margin-left: 0px;
    border: 1px solid #0076a3;
    background: linear-gradient(#2e8da5, #114d64);
    color: #fff;
    cursor: pointer;
  }
  .follow {
    width: 100px;
    height: 35px;
    margin: 0 40px;
    margin-left: 0px;
    border: 1px solid #0076a3;
    background: linear-gradient(#2e8da5, #114d64);
    color: #fff;
    cursor: pointer;
  }
  
  .wrapper-3 h2,
  .white-text-2,
  .white-text-3 {
    text-align: center;
  }
  
  .wrapper-3 {
    /* text-align: center; */
    margin-top: 0px;
    margin-bottom: 0;
  }
  
  .pricing-container {
    display: flex;
    min-width: 0;
    min-height: 0;
    align-items: shrink;
    justify-content: center;
    overflow: hidden;
    gap: 35px;
  }
  
  .pricing-container ul {
    padding: 10px;
    margin: 0;
  }
  
  .pricing-container p {
    padding-left: 10px;
  }
  
  .pricing-buttons {
    margin-left: 10px;
    margin-top: 10px;
    background-color: #0076a3;
    border: 1px solid #0076a3;
    color: white;
    border-radius: 4px;
  }
  
  .basic {
    margin-top: 20px;
    width: 275px;
    height: 500px;
    border: 1px solid black;
    border-radius: 4%;
    overflow: hidden;
  }
  
  .pricing-container .startup {
    /* margin: 0 auto; */
    width: 275px;
    height: 540px;
    border: 1px solid black;
    border-radius: 4%;
    overflow: hidden;
    padding-bottom: 20px;
  }
  
  .enterprise {
    margin-top: 20px;
    width: 275px;
    height: 500px;
    border: 1px solid black;
    border-radius: 4%;
    overflow: hidden;
  }
  
  .benefits {
    list-style: none;
    color: white;
    line-height: 20px;
  }
  
  .premium:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .upper-div {
    background-color: #183b56;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    height: 170px;
  }
  
  .white-line {
    height: 5px;
    width: 100%;
    background-color: white;
  }
  
  .lower-div {
    background-color: #303841;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
    height: 280px;
  }
  
  .icons {
    vertical-align: bottom;
    margin-right: 10px;
  }
  
  .green-icon {
    color: #1d9b7b;
  }
  
  .red-icon {
    color: #cc1010;
  }
  
  .your-plan {
    margin-left: 10px;
    margin-top: 10px;
    background-color: #303841;
    border: 2px solid #0076a3;
    color: #0076a3;
    border-radius: 3px;
  }
  
  .dollars {
    font-size: 25px;
    font-weight: bold;
    color: white;
  }
  
  .dollars:before {
    content: "$";
    font-size: 14px;
    vertical-align: 30%;
    margin-right: 3px;
  }
  
  .dollars:after {
    content: "/month";
    font-size: 14px;
    vertical-align: 25%;
    margin-left: 3px;
  }
  
  .plan-text {
    color: rgba(255, 255, 255, 0.3);
    line-height: 12px;
  }
  
  .buy-now {
    margin-left: 10px;
    margin-top: 10px;
    background-color: #0076a3;
    border: 2px solid #0076a3;
    border-radius: 3px;
    color: white;
  }
  
  .upper-div-startup {
    background-color: rgba(0, 118, 163, 0.2);
    border-top-right-radius: 4%;
    height: 170px;
  }
  
  .recommended {
    background-color: #0076a3;
    text-align: center;
    padding: 7px;
  }
  
  .recommended p {
    margin: 0;
    color: white;
  }
  
  .phone-container{
    width: 500px;
    height: 550px;
    margin-top: 10px;
    margin: 400px auto;
    margin-bottom: 180px;
    background-color: #303841;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .animated-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow:visible;

  }

  .line{
    height: 50px;
  }

  .line:first-child{
    animation: anim 12s infinite;
  }

  @keyframes anim {
    0%{
        margin-top: 0;
    }
    16%{
        margin-left: -60px;
    }
    33%{
        margin-left: -120px;
    }
    50%{
        margin-left: -180px;
    }
    66%{
        margin-left: -120px;
    }
    82%{
        margin-left: -60px;
    }
    100%{
        margin-left: 0;
    }

  }