.navbar {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: none;
  background-image: url(https://technext.github.io/chariteam/img/carousel-2.jpg);
  justify-content: space-between;
  align-items: center; }
  .navbar p {
    padding-left: 50px;
    color: white; }
  .navbar .ul-navbar {
    display: flex;
    width: none;
    height: none;
    background-color: none;
    list-style: none;
    gap: 20px;
    color: white;
    padding-right: 50px; }
