.card{
    background-color: #1e1e1e;
    border: none;

    ul{
        background-color: #1e1e1e;
        color: #afafaf;
        text-align: center;
        list-style: none;
        li{
            background-color: #1e1e1e;
        }
    }

}

    