$green: #76b900;
$white: #fff;

@mixin text-style(
  $fontFamily,
  $fontStrech,
  $fontStyle,
  $lineHeight,
  $letterSpacing,
  $textAlign
) {
  font-family: $fontFamily;
  font-stretch: $fontStrech;
  font-style: $fontStyle;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  text-align: $textAlign;
}

.title {
  @include text-style(GreycliffCF, normal, normal, normal, normal, center);
}

.banner-margin-bottom-32 {
  margin-bottom: 32px;
}

.banner-margin-bottom-62 {
  margin-bottom: 62px;
}
.banner-margin-bottom-34 {
  margin-bottom: 34px;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.banner-title-green {
  color: $green;
}

.banner-title-white {
  color: $white;
}

.fs-32 {
  font-size: 32px;
}

.fs-28 {
  font-size: 28px;
}

@media (max-width: 768px) {
  .banner-margin-bottom-32 {
    margin-bottom: 30px;
  }
  .banner-margin-bottom-62 {
    margin-bottom: 32px;
  }
  .banner-margin-bottom-34 {
    margin-bottom: 10px;
  }
  .fs-32 {
    font-size: 21px;
  }
  .fs-28 {
    font-size: 21px;
  }
}
