* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-item a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 10px;
    transition: all 0.4s;
}
.nav-item a:hover {
    color: rgba(16, 164, 16, 0.809);
}
.navbar-brand {
    height: 50px;
    width: 100px;
    margin-bottom: 34px;
}
.search {
    height: 45px;
    outline: none;
    border: 2px solid rgba(16, 164, 16, 0.809);
    background-color: transparent;
    border-radius: 20px 0px 0px 20px;
    border-right: none;

}
.search:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid rgba(16, 164, 16, 0.809) ;
    border-right: none;
}
.search:hover {
    border-color: rgb(14, 234, 14);
    transition: all 0.7s;
}
.btn1 {
    height: 45px;
    outline: none;
    border: none;
    background-color: rgba(16, 164, 16, 0.809);
    color: white;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.5s;
}
.btn1:hover {
    background-color: rgb(14, 234, 14);
}
.bi-bag-check {
    font-size: 30px;
    color: black;
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.5s;
}
.bi-bag-check:hover {
    color: rgb(14, 234, 14);
}
.main{
    background: url(./img/pexels-s-migaj-747964.jpg);
    background-size: cover;
    height: 100hv;
    width: 100%;
}
.main h1 {
    font-size: 5rem;
}
.main p :nth-child(1){
    font-size: 18px;
    font-weight: 500;
    padding-top: 100px;
}
.main p :nth-child(2){
     font-size: 18px;
     color: grey;
}


.mbtn1{
    height: 50px;
    width: 150px;
    outline: none;
    border: none;
    color: white;
    background: rgba(16, 164, 16, 0.809);
    border-radius: 50px;
    transition: all 0.5s;
}
.mbtn1:hover{
    background-color: rgb(14, 234, 14);
}
.mbtn2 {
    height: 50px;
    width: 150px;
    outline: none;
    background-color: transparent ;
    border: 1px solid rgba(16, 164, 16, 0.809);
    color:white;
    border-radius: 50px;
    transition: all 0.5s;
    margin-top: 20px;
}
.mbtn2:hover{
    background-color: rgb(14, 234, 14);
    border: none;
    color: white;


}
.btnhead{
    display: flex;
    justify-content: start;
}
.star {
    text-align: end;
    color: green;
}
