.container {
  display: flex; }
  .container .box1, .container .box2, .container .box3 {
    padding: 30px;
    background-color: red; }
  .container .deneme {
    padding: 70px; }

.box3 {
  width: 100px;
  height: 100px;
  background-color: green;
  margin: 10px; }

.box2 {
  width: 200px;
  margin: 10px;
  background-color: red; }
