@mixin background1{background-color: rgb(89, 123, 167);}
@mixin background2{background-color: rgb(59, 95, 173);}
@mixin background3 {background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50,38,38,0.5942752100840336) 0%, rgba(57,86,94,1) 100%);}
@mixin background4 {background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(119,200,11,1) 0%, rgba(89,187,20,1) 34%, rgba(30,162,38,1) 100%);}
@mixin textcolorwhite{color: white;}
@mixin textcolorblack {color: black;}
@mixin  textcolor1 {color: rgb(89, 123, 167);}
@mixin backgroundwhite{background-color: white;}
@mixin bordercolorwhite{border-color: white;}
@mixin  bordercolorblack {border-color: black;}
@mixin containerden {   
    width: 100%;    
    height: auto;
    margin: 0 auto;
    font-size: 18px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}  
@mixin flex-item {
    display: flex;
    align-items: center;      
    justify-content: center;   
    text-align: center;
}
@mixin  button-item {
    border: 1px solid;
    height: 40px;
    border-radius: 30px;
}  
@mixin button-item2
{
    @include button-item();
    @include flex-item();
    @include background2();
    padding: 10px; 
    &:hover 
    {
        @include backgroundwhite();
        @include textcolorblack();
          transform: scale(1.2); 
    }    
}
*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .navbar
 {
    @include background3();
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    align-items: center;  
    width: 100%; 
    padding: 15px;      
    padding-left: 30px; 
    @include textcolorwhite();   
    position:fixed;
    z-index: 2;
    &-logo{     
            font-size: 30px;    
    }
    &-menu{
        margin-right: 30px;
        ul{
            display: flex;
            overflow: hidden;
        }
        li{
            display: inline;
            margin: 5px;
            &:hover{animation: headShake; animation-duration: 1.5s;}
        }
         li a{
            @include textcolorwhite(); 
            text-align: center;
            padding: 10px 10px;
            text-decoration: none;
         }
        a:hover { 
            @include textcolorblack();
        
        }
        a { text-decoration: none;}
    }
    .menu-bar 
    {
        align-items: center;
        margin: auto 2rem;
        padding: 20px;
        display: none;   
        button 
        {
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
        .fa-solid  
        {
            font-weight: 600;
            font-size: 1.8rem;
            color: rgb(13, 13, 39);
        } 
        .menu2{display: none;}
        .drop-down{display: none;} 
    }
    .social-icons{
        display: flex;
        align-items: center;
        gap: 5px;
        li {
            display:inline;
            align-items: center;
            justify-content: center;
          }
          .fa {
            @include textcolorwhite(); 
            font-size: larger;
            padding: 0.4rem;
            border-radius: 50%;
            margin: auto 0; 
            &:hover
            {
                 @include textcolorblack();
            }   
          }
     }
     .social-icons2{padding-top: 10px; padding-bottom: 10px;}
 }  
 .container1{
    position: relative;     
    height: auto;    
    @include containerden();   
    align-items: flex-start;           
    padding-top: 80px;
    padding-bottom: 70px;    
    background-image:url(https://picsum.photos/id/154/1600);
    background-position: 100%;
    background-repeat: no-repeat; 
    &-box {
        width: 60%;
        padding-left: 3%; 
        @include textcolorwhite();
        margin-top: 20px ;
        h1{       
            font-size: 48px;  
        }
        .button{     
            @include background2(); 
            @include bordercolorwhite();
            @include button-item();
            @include flex-item();
            width: 20%;
            margin-top: 20px;
            &:hover{
               @include textcolorblack();
               @include backgroundwhite();
               transform: scale(1.2); 
            } 
        }  
    }
 }
.container2
{
    @include containerden();
    @include background3(); 
    @include textcolorwhite(); 
    padding: 40px;
    text-align: center; 
    span{margin-bottom: 10px;}
    p{font-size: 20px; margin-bottom: 10px;}
    .button{     
        @include button-item2();
     }  
  
}

.container3
{ 
  @include containerden();
  flex-direction: row;  
  padding: 20px;
  padding-bottom: 70px; 
  padding-top: 70px; 
  &-box
  {
    width: 25%;
    height: 500px;
    border-radius: 10px;
    margin: 25px;
    box-shadow: rgb(38, 57, 77) 20px 20px 30px 10px; 
    @include background3();       
    img
    {
        width: 100%;  
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;  
    }
    &:hover{margin-top: -10px;} 
  }
  &-text    
  {
    @include textcolorwhite();
    margin: 10px;  
    .button{     
        @include button-item2();
        margin-left: 50%;
        width: 40%;
        margin-top: 20px;
     }  
  }   
} 
.container4
{
    @extend .container2;
    @include background3(); 
}
.container5
{
    @extend .container3;
    &-box
    {
        width: 28%; 
        margin: 25px; 
        position: relative; 
        p{display: none;  }
        &:hover   
        {  
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
            img{transform: scale(0.85);}
            p{
                display:block; 
                position: absolute;  
                bottom:0; @include 
                textcolor1();}     
        } 
    }
}

.container6{
    @extend .container3;
    &-box
    { 
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        text-align: center;
        @include textcolor1();
        width: 30%;
        margin: 20px;
        padding: 20px;
        border-radius: 40px;
        .ikon{ width: 40%; }
        .button{
            @include button-item2(); 
            margin-left: 32.5%;
            margin-top: 10px;
            width: 35%;
            @include textcolorwhite();} 
        &:hover{transform: scale(1.1);}
    }
}
.container7
{
    @extend .container5;
    background: linear-gradient(rgba(0, 29, 35, .8), rgba(0, 29, 35, .8)) , url(https://picsum.photos/id/188/1600);
    background-position: 100%;
    background-repeat: no-repeat;     
    &-box
    {
        width: 55%;
        @include textcolorwhite();
        span{margin-bottom: 30px;} 
        .button{ 
            @include button-item2();      
             width: 25%;
             border-radius: 10px; 
             margin-top: 20px;
             @include background4();
            }
    } 
    &-form 
    {
            width: 45%;   
            @include background3();
            padding: 20px;
            padding-top: 40px;   
            padding-bottom: 40px;  
        
            &-text-mail{
                width: 95%;
                height: 50px;
                margin-bottom: 10px;
                border: 1px solid; 
                padding-left: 5px;
                @include bordercolorblack();
                border-radius: 10px;
            }
            .radiobuttons {
                position: relative;
                display: inline-flex;   
                width: 95%;
                height: 50px;  
                &-secili-button:checked+label {
                    @include backgroundwhite();
                    @include textcolorblack();
                    @include bordercolorblack();
                }
                &-secili-button {
                    position: absolute;
                    clip: rect(0, 0, 0, 0);
                    pointer-events: none;
                } 
                &-radiobutton {
                    display: inline-block;
                    font-weight: 400;
                    @include textcolorwhite();
                    @include flex-item(); 
                    cursor: pointer;
                    border: 1px solid transparent;  
                    border-radius: 6px;
                    position: relative;
                    flex: 1 1 auto;  
                }
            }   
            .button{
                @include button-item2();
                @include background4();  
                @include bordercolorwhite();  
                @include textcolorwhite();
                width: 30%;
                margin: 30px; 
            }  
    }
}

.container8
{
    @extend .container3;
    @include background3();
    &-box
    {
        width: 20%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 20px;  
        margin: 25px;
        text-align:center;
        @include backgroundwhite(); 
        img{
            width: 25%;
        }
        .image
        {
            width: 47%;
        }
    }
}

 @media screen and (max-width: 768px) {
    .drop-down{display: block !important;}
    .navbar-menu{display: none;}     
    .social-icons{display: none !important;}
    .navbar{padding: 10px;}
    .menu-bar{  
        display:block !important;    
        .menu2 
        {    
            height: auto; 
            .list-item
            {
                position: absolute;  
                left: 0;   
                top:70px;     
                font-size:24px;
                @include background3();
                width: 100%;
                li{ 
                    display:block;
                    margin: 5px;
                    &:hover{animation: headShake; animation-duration: 1.5s;} 
                    a{
                        @include textcolorwhite(); 
                        padding: 10px 10px;
                        text-decoration: none;
                        &:hover   
                        {
                               @include textcolorblack();    
                        }  
                     }
                }
            } 
 
        }
        &:hover .menu2
        {
            display: block;      
        }
    } 
    .container1-box{
        width: 100%; 
        text-align: center;
        .button{
            width: 30%;
        }
    }
    .container3-box{
        width: 90%;
        img {height: 275px;} 
    }
    .container5-box{
        width: 90%;
        img{width: 100%;}
    }
    .container6-box{width: 85%;margin-bottom: 50px;}
    .container6{padding-bottom: 30px;}
    .container7-box,.container7-form{
        width: 95%; 
        margin-bottom: 20px; 
        .button{width: 40%;}
    }
    .container8-box{
        width: 85%;
        img{width: 40%; margin-left: 30%;  margin-right: 30%;} 
        .image{margin-top: 5px;}
    } 
 }       