.flex{
    display: flex;
}
.logo-image{
    width: 317px;
    height: 53px;
    margin: 0 145px 0 0;
    object-fit: contain;
    // img{
    //     margin-left: 25%;
        
    // }
    
}
// @media screen and (max-width: 600px) {
    
// }