.paragraf {
    font-size: 61px;
}

@media only screen and (max-width: 768px) {
    .paragraf {
        font-size: 28px;
    }
    div {
        color: aqua;
    }
}

.link {
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.link:hover {
    color: aqua;
    font-size: 30px;
    font-weight: 600;
}

.link:visited {
    color: blueviolet;
}

.link:active {
    font-size: 28px;
    color: chartreuse;
}

li:last-child {
    color: blue;
}

li:first-child {
    color: brown;
}

li:nth-child(n) {
    font-size: 61px;
}

.text1::first-letter {
    font-size: 30px;
}

.text1::first-line {
    color: orangered;
}

.text1::after {
    content: "Bu After için Deneme Conenti";
}

.text1::before {
    content: "Bu Before için Deneme Conenti";
}

table,
tr,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 61%;
    margin: auto;
}

tbody tr {
    text-align: center;
}

thead tr {
    background-color: chartreuse;
}

tbody tr:nth-child(even) {
    background-color: rgba(139, 0, 0, 0.911);
}

tbody tr:nth-child(odd) {
    background-color: rgb(0, 140, 255);
}

tbody tr:hover {
    background-color: lightslategrey;
    cursor: pointer;
}