* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    display: flex;
    background-color: #343f4b;
}

.home-image {
    width: 15px;
    height: 15px;
}

.home-logo {
    width: 98px;
    height: 28px;
}

.home-left {
    width: 20%;
    height: 190px;
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.home-right {
    width: 15%;
    height: 190px;
}

.home-middle {
    width: 65%;
    height: 190px;
    text-align: center;
}

.home-paragraph {
    font-size: 25px;
    color: darkgray;
    margin-top: 10px;
}

.home-h {
    font-size: 50px;
    color: white;
    margin-top: 80px;
}

.nav-bar {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
<<<<<<< HEAD
=======
    position: fixed;
>>>>>>> a4b54d6bf966d7f5b93cab7fa5399cdcbe9b1626
}

.nav-bar span a {
    color: darkgray;
}

.home-login {
    width: 95px;
    height: 44px;
    border-radius: 5px;
    position: relative;
    top: 10px;
    left: 8px;
}

.phone-screen {
    display: flex;
    height: 665px;
    background-color: #343f4b;
}

.phone-screen-l {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 15%;
    align-items: center;
    gap: 20px;
    margin-top: 220px;
}

.phone-screen-m {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.phone-lr {
    width: 216px;
    height: 410px;
    position: relative;
    top: 200px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.phone-m {
    width: 296;
    height: 641px;
    position: relative;
    top: 200px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.services {
    display: flex;
    background-color: #303841;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.bomb {
    width: 50px;
    height: 50px;
}

.services-up {
    height: 220px;
}

.services-mid {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.services-mid h3 {
    color: blue;
}

.services-mid h1 {
    color: white;
}

.services-mid p {
    color: darkgray;
}

.services-down {
    display: flex;
    justify-content: space-around;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.services-down div:hover {
    background-color: grey;
}

.services-down h1 {
    color: white;
}

.services-down p {
    color: darkgrey;
}