* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  @media screan and (max-width: 550px) {
    .mainform {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  .wwdtext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: none;
    height: none;
    background-color: none;
    margin: none;
    padding: 48px 12px;
    color: none;
    font-size: none;
  }
  .wwdtext-first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 133px;
    background-color: none;
    margin: 0px 98px 48px;
    padding: 0px;
    color: inherit;
    font-size: inherit;
  }
  .wwdtext-first h2 {
    width: 125px;
    height: 32px;
    background-color: #fff0e6;
    margin: 0px 0px 16px;
    padding: 4px 16px;
    color: #ff6f0f;
    font-size: 16px;
    border-radius: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: none;
  }
  .wwdtext-first h1 {
    width: 500px;
    height: 85px;
    background-color: none;
    margin: none;
    padding: none;
    color: #001d23;
    font-size: 36px;
    text-align: center;
  }
  .wwdtext-second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }
  .wwdtext-second-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 336px;
    height: 347.7px;
    background-color: none;
    margin: 24px 10px 10px;
    padding: 24px;
    color: #787878;
    font-size: 16px;
    box-shadow: 1px 1px 2px white, 0 0 25px rgb(205, 205, 214), 0 0 5px darkblue;
  }
  .wwdtext-second-card img {
    margin-bottom: 24px;
  }
  .wwdtext-second-card h1 {
    width: 288px;
    height: 27.7px;
    background-color: none;
    margin: 0px 0px 16px;
    padding: 0px;
    color: #001d23;
    font-size: calc(1.275rem + 0.3vw);
    text-align: center;
  }
  .wwdtext-second-card p {
    width: 288px;
    height: 72px;
    background-color: none;
    margin: 0px 0px 24px;
    padding: none;
    color: #787878;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }
  .wwdtext-second-card button {
    width: 164.95px;
    height: 46px;
    background-color: white;
    margin: none;
    padding: 6px 16px;
    color: #ff6f0f;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ff6f0f;
  }
  .wwdtext-second-card button:hover {
    background-color: #ff6f0f;
    color: white;
    transition-duration: 0.5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  
  .mainform {
    width: none;
    height: none;
    background-color: #787878;
    margin: 48px 0px;
    padding: 24px 0px;
    color: none;
    font-size: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-image: url("https://images.pexels.com/photos/2113709/pexels-photo-2113709.jpeg?cs=srgb&dl=pexels-daniel-edeke-2113709.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
  }
  .mainform-left {
    width: 582px;
    height: 229.03px;
    background-color: none;
    margin: 48px 0px 0px;
    padding: 0px 24px;
    color: #787878;
    font-size: none;
  }
  .mainform-left h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 125.28px;
    height: 32px;
    background-color: #fff0e6;
    margin: 0px 0px 16px;
    padding: 4px 16px;
    color: #ff6f0f;
    font-size: 16px;
    border-radius: 15px;
  }
  .mainform-left h1 {
    width: 444px;
    height: 90.06px;
    background-color: none;
    margin: 0px 0px 48px;
    padding: none;
    color: #ffffff;
    font-size: 37.525px;
  }
  .mainform-left p {
    width: 444px;
    height: 96px;
    background-color: none;
    margin: none;
    padding: none;
    color: rgba(255, 255, 255, 0.5019607843);
    font-size: 16px;
  }
  .mainform-right {
    width: 534px;
    height: 450px;
    background-color: #ffffff;
    margin: none;
    padding: 48px;
    color: #787878;
    font-size: none;
    transition: all 0.3s;
  }
  .mainform-right-form-group {
    margin-bottom: 1em;
    transition: all 0.3s;
  }
  .mainform-right-form-group:focus-within {
    transform: scale(1.05, 1.05);
  }
  .mainform-right-formcontrol {
    width: 454px;
    height: 58px;
    background-color: #f8f8f9;
    margin: 16px 0px 0px;
    padding: 0px 8px;
    color: #787878;
    font-size: 16px;
    border: 0px;
    border-radius: 5px;
    box-shadow: none;
    border-radius: 0px;
    border-style: none none solid none;
    transition: all 0.5s;
    padding: 5px;
  }
  .mainform-right-formcontrol::-moz-placeholder {
    color: transparent;
  }
  .mainform-right-formcontrol:-ms-input-placeholder {
    color: transparent;
  }
  .mainform-right-formcontrol::placeholder {
    color: transparent;
  }
  .mainform-right-formcontrol:focus {
    box-shadow: none;
    outline: none;
  }
  .mainform-right-formcontrol:hover {
    border: 1px solid #dc3545;
  }
  .mainform-right-label {
    color: #787878;
    display: block;
    opacity: 1;
    transform: translateY(-2.3em);
    transform-origin: 0 0;
    transition: all 0.3s;
  }
  .mainform-right-value {
    display: flex;
    width: 454px;
    height: 58px;
    background-color: #f8f8f9;
    margin: 16px 0px 0px;
    padding: 0px 8px;
    color: #787878;
    font-size: 16px;
  }
  .mainform-right-value input {
    width: 145.34px;
    height: 58px;
    background-color: #f9f9fa;
    margin: 0px 0px 0px -1px;
    padding: 16px 12px;
    color: #000000;
    font-size: 16px;
    border: 0;
    transition-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  .mainform-right-value input:hover {
    color: #ff6f0f;
    border: 2px solid #ff6f0f;
  }
  .mainform-right-value-1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .mainform-right-value-3 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .mainform-right-button {
    width: 454px;
    height: 58px;
    background-color: white;
    margin: 16px 0px 0px;
    padding: 0px 0px;
    color: #787878;
    font-size: 16px;
  }
  .mainform-right-button-yapi {
    width: 236.11px;
    height: 60px;
    background-color: #ff6f0f;
    margin: none;
    padding: 6px 48px;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    transition-duration: 0.5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  .mainform-right-button-yapi:hover {
    background-color: white;
    color: #ff6f0f;
    border: #ff6f0f 1px solid;
  }/*# sourceMappingURL=main.css.map */