.paragraf{
    font-size: 14px;
}
@media only screen and (max-width: 760px) {
    .paragraf{
        font-size: 14px;
    }
    .div{
        color: aquamarine;
    }
}

/* Pseudo Class */

.link{
    font-size: 18px;
    text-decoration: none;
    color: brown;
}

.link:hover{
    color: blueviolet;
    font-size: 19;
    font-weight: 700;
}

.link:visited{
    color: blue;
}

.link:active{
    color: black;
}

li:nth-child(-n+6){
    color:aquamarine
}

/* Pseudo Element */

.text::first-line{
    color: blueviolet;
}

.text::after{
    content: "Bu After İçin Deneme Contenti";
}

table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 40%;
    margin: 0 auto;
}
tbody tr{
    text-align: center;
}
thead tr{
    background-color: brown;
}
tbody tr:nth-child(even){
    background-color: green;
}
tbody tr:hover{
    background-color: aqua;
    cursor: pointer;
}
.outer{
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    top: 20px;
    left: 0px;
}
.inner{
    width: 50px;
    height: 50px;
    background-color: yellow;
    position: absolute;
    top: 40px;
    right: 10px;
}
.red{
    width: 200px;
    height: 200px;
    background-color: blue;
    position: relative;
    top: 20px;
    left: 20px;
}
.pink{
    width: 50px;
    height: 50px;
    background-color: pink;
    position: absolute;
    top: 40px;
    left: 20px;
}