
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
font-size: 20px;
}
p{
    font-size: 12px;
}
.container{
    width: 70%;
    height: 400px;
    margin: 0 auto;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box{
    width: 100px;
    border: 1px solid black;
}
.box2{
    align-self: flex-end;
}