
button{
    width: 11.563rem;
    height: 2.5rem;
   border: none;
    
}
h3{
    color: white;
    font-family: GreycliffCF;
}
p{
    color: white;
    font-family: GreycliffCF;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type:none;
}
.footeritem{
    color: white;
}