.bg-image {
  background-image: url('https://gameplus.com.tr/static/media/foot-banner.46c1fc4c.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}

@media only screen and (max-width: 568px) {
  .bg-image {
    height: 22rem;
  }
}
