.banner {
    width: 100%;
}
.mobile_banner{
    display: block;
  }
  .web_banner{
    display: none;
  }
@media screen and (max-width: 768px){
  .mobile_banner{
    display: none;
  }
  .web_banner{
    display: block;
  }
}