.gameSearch-div {
  background-image: url(../../assets/gfn-motif-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: Greycliff-Regular;
  font-size: 28px;
  height: 40vh;
}

.formControlSearch{
    background-image: url(../../assets/search.svg);
    background-repeat: no-repeat;
    background-position: left; 
    background-position-x: 10px;
    width: 50%;
    margin: auto;
    
}

@media only screen and (max-width: 990px) {
  .gameSearch-div {
    max-height: 336px;
    font-size: 16px;
  }

  .formControlSearch{
    width:100%;
  }
}
