body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#8da3a3, rgb(0, 66, 66));
  }
  
  .wrap {
    width: 980px;
    margin: 0 auto;
  }
  
  .header {
    height: 100px;
    margin-bottom: 70px;
    background-color: #bbc0c0;
    margin-top: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  
  .content {
    width: 25%;
    height: 390px;
    background: #bbc0c0;
    float: left;
    margin-left: 6%;
    border-radius: 5%;
    margin-bottom: 40px;
  }
  .content1 {
    width: 25%;
    height: 390px;
    background: #bbc0c0;
    float: center;
    margin-left: 38%;
    border-radius: 5%;
    margin-bottom: 40px;
  }
  
  .footer {
    height: 70px;
    margin-top: 10px;
    background-color: #bbc0c0;
    border-radius: 10px;
  }
  
  .clear {
    clear: both;
  }
  
  .img1 {
    width: 100%;
    height: 150px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
  }
  
  .img2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
  }
  
  h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
  }
  
  p {
    text-align: center;
    font-size: 12px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .contact{
    margin-left: 5px;
    text-align: left;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: -25px;
    margin-left:10px;
  }
  .Copyright{
    margin-left: 120px;
    font-size: 14px;
  }
  
  h3{
    font-size: 16px;
    text-align: right;
    margin-right: 10px;
  }
  
  .img3 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-bottom: 30px;
    float: right;
  }
  .img4 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-bottom: 30px;
    float: right;
    margin-right: 10px;
  }
  ul {
    list-style-type: none;
    margin: 20;
    padding: 30;
    overflow: hidden;
    background-color: #335;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 75px;
    text-decoration: none;
  }
  li a:hover {
    background-color:rgb(111, 154, 204);
  }
  
  .button1{
    background: linear-gradient(#4359a3, rgb(114, 145, 145));
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 15px;
  }