body {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.box {
  background-color: orange;
  width: 150px;
  height: 150px;
  transition-duration: 3s;
  /* transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease-in-out; */
  /* transition: all 1s ease-in-out; */
  /* transition: background-color 3s, border-radius 5s ease-in-out; */
  /* animation-name: aa;
  animation-duration: 3s;
  animation-fill-mode: forwards; eski haline dönmemesi için */
  /* animation-iteration-count: 3; 3 kere çalışır */
  /* animation-iteration-count: infinite; sonsuz kere çalışır */
  /* animation-delay: 2s; 2sn bekler sonra çalışır */
  /* animation-direction: alternate-reverse; tam tersi çalışır */
  /* animation-timing-function:  ease-in-out; başlangıç ve bitişleri yumuşatır */
  /* animation: aa 1s forward 2s ease-in-out; son hali ekranda kalır */
  /* animation: aa 1s backwards 2s ease-in-out; eski haline döner */
}

.box2 {
  background-color: orange;
  width: 150px;
  height: 150px;
  /* border-radius: 50%;
  box-shadow: 0 0 10px rgb(0 0 0 /0.2); */
  /* box-shadow: 5px 5px 3px 10px red inset; */
  
}

h2{
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

@keyframes aa {
  /* 
    to {
        width: 300px;
    } */
  /******************/
  /* 25% {
    width: 200px;
  }
  50% {
    width: 100px;
  }
  75% {
    width: 350px;
  }
  100% {
    width: 150px;
  } */
}

.box:hover {
  /* background-color: aqua;
    border-radius: 50%; */
  /* transform: scale(2); */
  /* transform: skew(-30deg); */
  /* transform: translate(-100px, 100px); */
  /* transform: rotate(45deg); */
  /* transform: rotate(180deg); */
}
