.card{
    height: 544px;
    width: 386px;
}
.card-header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    font-size: 28px;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #292929;
}
.card-body ul li{
    color: white;
    padding-left: 15%;
    font-size: 24px;
}
.price{
    margin: 0 0 20px;
    font-family: GreycliffCF;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
li{
    font-family: GreycliffCF;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b2b2b2;
}
.stroke{
    width: 16px;
    height: 12px;
    margin: 10px 24px 20px 0px;
    object-fit: contain;
}

@media screen and (max-width: 900px){
    .card-content{
        width: 383px;
    }
    .button-content{
        text-align: center;
    }
}
