body{
    background-color: white;
    transition: 4s;
}
body:hover{
    display: flex;
    background-color:grey;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.box-1{
    
    background-color: orangered;
    height: 200px;
    width: 200px;
    transition: all 1s;
}
.box-1:hover{
    /* background-color: aqua; */
    /* border-radius: 50%; */
    /* transform: skew(-30deg); */
    transform: rotate(90deg);
}