.gamepads {
  background-color: #1e1e1e;
  height: 600px;
}
.gamepad {
  width: 1200px;
  height: 387px;
  margin: auto auto;
  background-color: #292929;
  &-img {
    width: 387px !important;
    height: 387px;
  }
  &-text {
    color: #afafaf;
    margin-left: 20px;
    &-date {
      margin-right: 50px;
    }
    &-read {
      width: 185px;
      color: #76b900;
      border: 1px solid #76b900;
      padding: 5px 5px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 320px) {
  .gamepads {
    width: 320px;
    height: 700px;
    background-color: #292929;
    padding-bottom: 50px;
  }
  .gamepad {
    &-img {
      width: 280px !important;
      height: 280px;
      margin: 0px 20px;
    }
    &-text {
      color: #afafaf;
      &-date {
        margin-right: 50px;
      }
      &-read {
        color: #76b900;
        padding: 5px 5px;
        margin-top: 5px;
      }
    }
  }
}
