.paragraf{
    font-size: 24px;
}
@media only screen and (max-width: 768px){
    .paragraf{
        font-size: 5px;
    }
    div{
        background-color: red;
    }
}

/* Pseudo Class */

.link{
    font-size: 18px;
    text-decoration: none;
}

.link:hover{
    color: darkorange;
    font-size: 19px;
    font-weight: 700;
}

.link:visited{
    color: chartreuse;
}

.link:active{
    color: darkgoldenrod;
}




/* li:last-child{
    color: blue;
}

.li:nth-child(event){
color: red;
}

li:nth-child(odd){
    color: brown;
}

li:nth-child(5n){
    color: green;
} */


/* Pseudo Element */

.text1::first-letter{
    font-size: 30px;
}
.text1::first-line{
    color: orangered;
}
.text1::after{
    content: "Bu After için Deneme Content";
}
.text1::before{
    content: "Bu Before için Deneme Content";
}

table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 40%;
    margin: 0 auto;
}
tbody tr{
    text-align: center;
}
thead tr{
    background-color: green;
}
tbody tr:nth-child(even){
    background-color:#dedede;
}
tbody tr:hover{
    background-color: #cfcfcf;
    cursor: pointer;
}


.red{
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    top: 20px;
    left: 30px;
}
.blue{
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    top: 40px;
    left: 20px;
}

.outer{
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
    position: relative;
    top: 20px;
    left: 0;
}
.inner{
    width: 50px;
    height: 50px;
    background-color: orangered;
}