.bgImage{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-position-y: center;
    background-image: url("https://scontent.fsaw2-3.fna.fbcdn.net/v/t1.6435-9/39400057_1857676407656719_4025297122801745920_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=174925&_nc_ohc=2gjHTqpVJMMAX84C6WC&_nc_ht=scontent.fsaw2-3.fna&oh=00_AT8BjPLw_FQCU5GQ77DSvKtEf-HaQuTL1aOgRaLtgz6hHw&oe=636620A4");
    background-size: 125%;
}
.borderRadius{
    border-radius: 50%;
}
.baslık1{
    margin-top: 20px;
}
.baslık3{
    margin-top: 35px;
}
.paragraf{
    font-size: 18px;
}
ul{
    list-style: none;
}