$black-two: #1e1e1e;
$grey-two: #292929;
$grey-medium: #666;
$green: #76b900;
$grey-paragraf: #afafaf;
@mixin text-style-blog-module(
  $fontFamily,
  $fontSize,
  $fontWeight,
  $fontStrech,
  $fontStyle,
  $lineHeight,
  $letterSpacing
) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  font-stretch: $fontStrech;
  font-style: $fontStyle;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

.blog-module-dis-div {
  background-color: $black-two;
  padding: 107px 30px 106px 30px;
  display: flex;
  .leftArrow-blog {
    width: 48px;
    height: 48px;
    margin: 170px 42px 169px 0;
    object-fit: contain;
    background: none;
    border: none;
  }
  .itemsBlog {
    background-color: $grey-two;
    display: flex;
    flex-direction: row;
    .blog-image {
      width: 387px;
      height: 387px;
    }
    .BlogModuleRight {
      background-color: $grey-two;
      height: 387px;
      padding: 70px 30px 71px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      .blogModuleDate {
        @include text-style-blog-module(
          GreycliffCF,
          16px,
          normal,
          normal,
          normal,
          normal,
          normal
        );
        color: $grey-paragraf;
      }
      .blogModuleTitle {
        @include text-style-blog-module(
          GreycliffCF,
          24px,
          normal,
          normal,
          normal,
          normal,
          normal
        );
        color: $grey-paragraf;
      }
      .blogModuleParagaraf {
        @include text-style-blog-module(
          GreycliffCF,
          20px,
          normal,
          normal,
          normal,
          1.4,
          normal
        );
        color: $grey-paragraf;
      }
    }
  }

  .rightArrow-blog {
    width: 48px;
    height: 48px;
    margin: 170px 0 169px 42px;
    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .blog-module-dis-div {
    padding: 0;

    background-color: $grey-two;
    display: flex;
    #carouselBlog {
      padding: 20px 20px 32px 20px;
    }
    .itemsBlog {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .blog-image {
        width: 350px;
        height: 280px;
      }
      .BlogModuleRight {
        background-color: $grey-two;
        height: 260px;
        padding: 0;
        gap: 12px;
        .blogModuleTitle {
          @include text-style-blog-module(
            GreycliffCF,
            21px,
            normal,
            normal,
            normal,
            normal,
            normal
          );
        }
        .blogModuleParagaraf {
          @include text-style-blog-module(
            GreycliffCF,
            16px,
            normal,
            normal,
            normal,
            1.38,
            normal
          );
        }
      }
    }
    .blog-circle {
      margin-top: 15px;
      display: flex;
      gap: 14px;
      width: 60px;
      color: $grey-medium;
    }
    .active {
      color: $green;
    }
  }
}
